workflow/Chatbot_Web_Fixed_(5).json
{
  "name": "Chatbot_Web_Fixed",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        0
      ],
      "id": "e9a10b6d-3505-424b-89a8-4ad7fafae040",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "// 1. Lấy dữ liệu từ Node Parser (Output của AI đã được làm sạch)\nconst parserOutput = $input.first().json.parsed_json || {};\n\n// 2. Lấy dữ liệu gốc từ Request ban đầu (Node 'Webhook')\nlet requestData = {};\ntry {\n  requestData = $node['Webhook'].json.body || {};\n} catch (e) {\n  requestData = {};\n}\n\n// 3. Lấy thông tin Context (Danh sách ứng viên đã tìm thấy)\nlet contextData = {};\ntry {\n  contextData = $('Merge Context').first().json.merged_context || {};\n} catch (e) {}\n\n// Chuẩn hóa ID\nconst chatid = String(requestData.message_id || \"\").trim();\nconst employeeId = String(requestData.user_id || \"\").trim();\n\n// --- XỬ LÝ ANSWER MESSAGE CHO DỄ NHÌN ---\nlet finalAnswer = \"\";\n\n// Cách 1: Nếu node trước đã tách dòng thành mảng (enriched_lines) -> Nối lại\nif (parserOutput.enriched_lines && Array.isArray(parserOutput.enriched_lines) && parserOutput.enriched_lines.length > 0) {\n    finalAnswer = parserOutput.enriched_lines.join('\\n');\n} \n// Cách 2: Nếu chỉ có chuỗi (enriched_answer)\nelse {\n    finalAnswer = parserOutput.enriched_answer || \"\";\n}\n\n// QUAN TRỌNG: Đảm bảo xuống dòng hiển thị đúng\n// Replace \\\\n (chuỗi ký tự do AI sinh ra) thành \\n (ký tự xuống dòng thật)\nif (typeof finalAnswer === 'string') {\n    finalAnswer = finalAnswer.replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '\\t');\n}\n// ------------------------------------------\n\n// 4. Tạo Response JSON chuẩn cho Frontend\nreturn [\n  {\n    json: {\n      status: \"ok\",\n      \n      // Thông tin định danh phiên chat\n      tenantCode: requestData.tenant_code || \"\",\n      chatid: chatid,\n      employeeId: employeeId,\n      timestamp: requestData.timestamp || new Date().toISOString(),\n      \n      // Câu hỏi và Câu trả lời chính\n      question_message: $('Webhook').first().json.body.message || \"\",\n      \n      // Gán biến đã xử lý ở trên vào đây\n      answer_message: finalAnswer || \"Xin lỗi, hệ thống chưa thể xử lý yêu cầu này.\",\n      \n      // Câu trả lời tóm tắt\n      short_message: parserOutput.short_answer || \"\",\n\n      // Nguồn dữ liệu\n      source: parserOutput.source || \"TalentIQ Database\",\n      \n      // Các cờ nghiệp vụ\n      needs_human_review: parserOutput.needs_human_review || false,\n      follow_up_question: parserOutput.follow_up_question || null,\n      \n      // Metadata bổ sung\n      candidate_list: contextData.top_candidates ? contextData.top_candidates.map(c => c.name) : [],\n      \n      // Tương thích ngược\n      answer_url: [], \n      category: contextData.top_candidates ? contextData.top_candidates.map(c => \"Candidate Profile\") : [],\n      clarify_question: null,\n      handoff_note: null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -288
      ],
      "id": "3325b290-965a-475b-9c0c-d4299d2f4cf8",
      "name": "ResponeFormat1"
    },
    {
      "parameters": {
        "jsCode": "// Lấy item từ node Webhook\nconst data = $node['Webhook'].json;\n\n// Chuẩn hóa khoảng trắng cho chatid và employeeId\nconst chatid = String(data.body.message_id || \"\").trim();\nconst employeeId = String(data.body.user_id || \"\").trim();\n\n// Tạo response JSON\nreturn [\n  {\n    json: {\n      status: \"ok\",\n      tenantCode: data.body.tenant_code || \"\",\n      chatid,\n      question_message: data.body.question_message || \"\",\n      answer_message: $input.first().json.response.enriched_answer,\n      answer_url: data.body.answer_url || [],\n      source: \"UN_ANSWER\",\n      category: $input.first().json.response.category,\n      needs_clarification: data.body.needs_clarification ?? false,\n      clarify_question: data.body.clarify_question ?? null,\n      handoff_note: data.body.handoff_note ?? null,\n      employeeId,\n      timestamp: data.body.timestamp || new Date().toISOString()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ],
      "id": "7ffd97b6-1e6c-4b08-8801-5947e36cc501",
      "name": "ResponeFormat",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        -288
      ],
      "id": "5112edc6-d286-4288-a663-9fca6e1e1a8d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node: Robust JSON extractor & parser for TalentIQ CV Assessment\n// Input: items[].json.output (string) OR items[].json.message.content\n// Output: items[].json.parsed_json (object) with structured \"candidates_list\"\n\n// --- 1. HELPER FUNCTIONS (GIỮ NGUYÊN) ---\n\nfunction tryJsonParse(text) {\n  try { return { ok: true, value: JSON.parse(text), method: 'JSON.parse(raw)' }; }\n  catch (e) { return { ok: false, error: e.message }; }\n}\n\nfunction extractFirstObjectBlock(text) {\n  const m = text.match(/\\{[\\s\\S]*\\}/);\n  return m ? m[0] : null;\n}\n\nfunction unescapeCommonEscapes(s){\n  return s\n    .replace(/\\\\n/g, '\\n')   \n    .replace(/\\\\r/g, '\\r')\n    .replace(/\\\\\"/g, '\"')    \n    .replace(/\\\\'/g, \"'\")\n    .replace(/\\\\\\\\/g, '\\\\'); \n}\n\nfunction parseRobust(raw) {\n  const attempts = [];\n  if (raw === null || raw === undefined) {\n    attempts.push({ method: 'no-input', ok: false });\n    return { parsed: null, attempts };\n  }\n\n  if (typeof raw === 'object') {\n    return { parsed: raw, attempts };\n  }\n\n  const s = String(raw);\n  let attempt = tryJsonParse(s);\n  if (attempt.ok) return { parsed: attempt.value, attempts };\n\n  try {\n    const first = JSON.parse(s);\n    if (typeof first === 'object') return { parsed: first, attempts };\n    if (typeof first === 'string') {\n      const secondAttempt = tryJsonParse(first);\n      if (secondAttempt.ok) return { parsed: secondAttempt.value, attempts };\n      var candidate = first;\n    } else {\n      var candidate = s;\n    }\n  } catch(e) {\n    var candidate = s;\n  }\n\n  const block = extractFirstObjectBlock(candidate);\n  if (block) {\n    attempt = tryJsonParse(block);\n    if (attempt.ok) return { parsed: attempt.value, attempts };\n  }\n\n  const unescaped = unescapeCommonEscapes(candidate);\n  if (unescaped !== candidate) {\n    attempt = tryJsonParse(unescaped);\n    if (attempt.ok) return { parsed: attempt.value, attempts };\n    const block2 = extractFirstObjectBlock(unescaped);\n    if (block2) {\n      attempt = tryJsonParse(block2);\n      if (attempt.ok) return { parsed: attempt.value, attempts };\n    }\n  }\n\n  const cleaned = candidate\n    .replace(/\\u201c|\\u201d/g, '\"')\n    .replace(/\\u2018|\\u2019/g, \"'\")\n    .replace(/[\\u0000-\\u0019]+/g, ''); \n  attempt = tryJsonParse(cleaned);\n  if (attempt.ok) return { parsed: attempt.value, attempts };\n\n  return { parsed: null, attempts };\n}\n\n// --- 2. MAIN LOGIC (XỬ LÝ CHUNG) ---\nconst outputs = [];\n\nfor (const item of items) {\n  const rawCandidates = [];\n  if (item.json && item.json.output) rawCandidates.push(item.json.output);\n  if (item.json && item.json.message && item.json.message.content) rawCandidates.push(item.json.message.content); \n  if (item.json && item.json.response) rawCandidates.push(item.json.response);\n  if (item.json && item.json.text) rawCandidates.push(item.json.text);\n\n  if (rawCandidates.length === 0) rawCandidates.push(JSON.stringify(item.json));\n\n  let finalParsed = null;\n  for (const raw of rawCandidates) {\n    const { parsed } = parseRobust(raw);\n    if (parsed) { finalParsed = parsed; break; }\n  }\n\n  if (!finalParsed) {\n    finalParsed = {\n      \"enriched_answer\": \"Hệ thống gặp lỗi khi xử lý dữ liệu từ AI.\",\n      \"short_answer\": \"Lỗi hệ thống\",\n      \"source\": \"\",\n      \"needs_human_review\": true,\n      \"confidence\": 0\n    };\n  }\n\n  // --- LOGIC TÁCH DÒNG CƠ BẢN ---\n  if (finalParsed.enriched_answer && typeof finalParsed.enriched_answer === 'string') {\n      const normalizedText = finalParsed.enriched_answer\n          .replace(/\\\\n/g, '\\n')\n          .replace(/\\\\t/g, '\\t');\n      \n      finalParsed.enriched_answer = normalizedText;\n\n      finalParsed.enriched_lines = normalizedText\n          .split('\\n')\n          .map(line => line.trim())\n          .filter(line => line.length > 0);\n  } else {\n      finalParsed.enriched_lines = [];\n  }\n\n  // --- 3. PARSE CANDIDATES LOGIC (LOGIC MỚI ĐƯỢC THÊM VÀO) ---\n  // Mục tiêu: Nhóm các dòng text rời rạc thành object ứng viên cụ thể\n  \n  const candidatesList = [];\n  let currentCandidate = null;\n\n  for (const line of finalParsed.enriched_lines) {\n    // 1. Nhận diện dòng tiêu đề (Tên - [Link])\n    // Điều kiện: Không bắt đầu bằng gạch đầu dòng '-' VÀ chứa link Markdown hoặc có vẻ là tên\n    const isDetailLine = line.startsWith('-') || line.startsWith('•');\n    const linkMatch = line.match(/\\[(.*?)\\]\\((.*?)\\)/); // Tìm pattern [Text](URL)\n\n    if (!isDetailLine) {\n        // Nếu đã có ứng viên đang xử lý trước đó, lưu lại vào danh sách\n        if (currentCandidate) {\n            candidatesList.push(currentCandidate);\n        }\n\n        // Tạo ứng viên mới\n        // Cố gắng tách Tên ra khỏi Link CV (VD: \"Nguyen Van A – [Link CV](...)\")\n        let name = line;\n        let cvUrl = null;\n\n        if (linkMatch) {\n            // Lấy phần text trước dấu ngoặc vuông làm tên, loại bỏ các ký tự ngăn cách như '–', '-', ':'\n            const namePart = line.substring(0, linkMatch.index).trim();\n            name = namePart.replace(/[\\–\\-\\:]+$/, '').trim();\n            cvUrl = linkMatch[2]; // URL nằm trong nhóm capture thứ 2\n        }\n\n        currentCandidate = {\n            name: name,\n            cv_link: cvUrl,\n            email: null,\n            phone: null,\n            total_experience: null,\n            raw_details: [] // Lưu lại các dòng chi tiết phòng hờ parse sót\n        };\n    } \n    // 2. Nhận diện dòng chi tiết (Email, Phone, Kinh nghiệm)\n    else if (currentCandidate) {\n        currentCandidate.raw_details.push(line);\n\n        // Parse Email\n        const emailMatch = line.match(/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9_-]+)/);\n        if (emailMatch) {\n            currentCandidate.email = emailMatch[1];\n        }\n\n        // Parse Phone (Tìm chuỗi số sau từ khóa Phone/SĐT hoặc chuỗi số dài)\n        // Regex này tìm số điện thoại VN (có thể có +84, dấu cách, dài từ 9-11 số)\n        const phoneMatch = line.match(/(?:Phone|SĐT|Mobile|Tel)[:\\.\\s]*([0-9\\+\\s]{9,15})/i);\n        if (phoneMatch) {\n            currentCandidate.phone = phoneMatch[1].trim();\n        }\n\n        // Parse Tổng kinh nghiệm\n        const expLower = line.toLowerCase();\n        if (expLower.includes('kinh nghiệm') || expLower.includes('experience')) {\n            // Lấy phần text sau dấu hai chấm\n            const expParts = line.split(/[:：]/); // Hỗ trợ cả 2 chấm thường và 2 chấm full-width\n            if (expParts.length > 1) {\n                currentCandidate.total_experience = expParts.slice(1).join(':').trim();\n            }\n        }\n    }\n  }\n\n  // Đừng quên push ứng viên cuối cùng vào danh sách\n  if (currentCandidate) {\n      candidatesList.push(currentCandidate);\n  }\n\n  // Gán kết quả vào finalParsed\n  finalParsed.candidates_list = candidatesList;\n\n\n  outputs.push({\n    json: {\n      parsed_json: finalParsed\n    }\n  });\n}\n\nreturn outputs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -288
      ],
      "id": "e67107f6-3114-44b4-bf4a-50bcf8a8b250",
      "name": "parsed_json"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        -176
      ],
      "id": "49a932f3-36d1-40a3-858b-6e9a229a4686",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "xH06mHp5QmirxiW0",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn là TalentIQ - Trợ lý tuyển dụng AI chuyên nghiệp. Dưới đây là dữ liệu hồ sơ ứng viên (CV) được tìm thấy từ hệ thống Vector Search.\n\n=== DỮ LIỆU ĐẦU VÀO ===\nCâu hỏi/Yêu cầu của nhà tuyển dụng:\n\"{{ $json.merged_context.question }}\"\n\nThông tin các ứng viên tìm thấy (Context):\n{{ $json.merged_context.combined_context_text }}",
        "options": {
          "systemMessage": "=## VAI TRÒ\nBạn là TalentIQ, trợ lý AI tuyển dụng chuyên nghiệp. Nhiệm vụ của bạn là trích xuất thông tin ứng viên từ dữ liệu được cung cấp (đặc biệt là field `combined_context_text`).\n\n## NGUỒN DỮ LIỆU (RẤT QUAN TRỌNG)\n- Thông tin chi tiết (Email, Số điện thoại, Kinh nghiệm cụ thể) nằm trong biến văn bản `combined_context_text`.\n- Bạn PHẢI đọc kỹ `combined_context_text` để lấy Email và SĐT chính xác cho từng người.\n- Nếu `combined_context_text` không có thông tin, tuyệt đối không được bịa đặt.\n\n## QUY TẮC PHẢN HỒI\n\n### 1. CHẾ ĐỘ TÌM KIẾM & LIỆT KÊ (MẶC ĐỊNH)\nKhi người dùng yêu cầu tìm kiếm hoặc hỏi thông tin danh sách (VD: \"Tìm dev java\", \"Cho xin email/sđt của ứng viên\", \"Danh sách hồ sơ\"):\n\n- **Cấu trúc hiển thị bắt buộc:**\n  Mỗi ứng viên là một khối thông tin, xuống dòng mỗi khi kết thúc thông tin của 1 ứng viên.\n\n  **[Tên Ứng Viên]** – [Link CV](URL_THỰC_TẾ)\n  - [Thông tin phụ nến user hỏi: Email | SĐT | Kinh nghiệm...]\n\n- **Yêu cầu về Link:** - Text hiển thị hyperlink BẮT BUỘC là chữ \"Link CV\".\n  - URL phải lấy chính xác từ dữ liệu.\n  - Ví dụ ĐÚNG: `[Link CV](https://drive.google.com/file/d/xyz...)`\n\n- **Xử lý câu hỏi \"Thông tin liên hệ/Email/Phone\":**\n  - Nếu user hỏi contact, BẮT BUỘC phải thêm dòng gạch đầu dòng thứ 2 chứa Email và SĐT trích xuất được.\n\n### 2. CHẾ ĐỘ PHÂN TÍCH CHI TIẾT\nKhi và CHỈ KHI người dùng hỏi sâu về một người cụ thể (VD: \"Đánh giá chi tiết bạn Tuan\", \"Điểm mạnh yếu của Khoa\"):\n- Lúc này mới được viết đoạn văn dài, phân tích sâu, trích dẫn chi tiết từ CV.\n\n## OUTPUT FORMAT (JSON ONLY)\nBạn chỉ được trả về DUY NHẤT một JSON object, không được bọc trong markdown (```json ... ```), theo schema sau:\n\n{\n  \"enriched_answer\": string, // Nội dung text đã format ở trên (dùng \\n để xuống dòng)\n  \"short_answer\": string,    // Câu trả lời ngắn gọn (VD: \"Tìm thấy 5 ứng viên có kinh nghiệm trên 4 năm kèm thông tin liên hệ.\")\n  \"source\": string,          // Danh sách nguồn dạng: \"Tên A - Link; Tên B - Link\"\n  \"needs_human_review\": boolean, // True nếu không tìm thấy thông tin quan trọng\n  \"confidence\": number       // Từ 0.0 đến 1.0\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        -400
      ],
      "id": "3fb54db9-d2c6-49f8-96c0-cb21ab8720ca",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\n// ---- CONFIG ----\nconst TOP_K_CANDIDATES = 100;      // Số lượng ứng viên tối đa muốn đưa vào context\nconst MAX_COMBINED_CHARS = 200000; // Tăng giới hạn lên vì thông tin CV thường dài\n// ----------------\n\n/**\n * 1. TRÍCH XUẤT DOCS TỪ OUTPUT QDRANT\n * Xử lý các trường hợp output khác nhau của n8n\n */\nfunction extractDocs(obj) {\n  if (!obj) return [];\n  // Trường hợp chuẩn của bạn: item.json.result\n  if (obj.result && Array.isArray(obj.result)) return obj.result;\n  // Trường hợp n8n output array trực tiếp\n  if (Array.isArray(obj)) return obj;\n  return [];\n}\n\nconst rawDocs = extractDocs(input);\n\n/**\n * 2. GOM NHÓM THEO ỨNG VIÊN (GROUP BY CANDIDATE_ID)\n * Thay vì dedupe (xóa trùng), ta sẽ merge (gộp) thông tin lại.\n */\nconst candidatesMap = new Map();\n\nfor (const doc of rawDocs) {\n  const p = doc.payload || {};\n  \n  // Bỏ qua nếu không có ID ứng viên\n  const cid = p.candidate_id;\n  if (!cid) continue;\n\n  const score = doc.score || p.score || 0;\n  const textContent = (p.text || \"\").trim();\n\n  // Nếu ứng viên chưa có trong map, tạo mới\n  if (!candidatesMap.has(cid)) {\n    candidatesMap.set(cid, {\n      id: cid,\n      name: p.candidate_name || \"Unknown Candidate\",\n      email: p.candidate_email || \"N/A\",\n      phone: p.candidate_phone || \"N/A\",\n      link_cv: p.link_cv || \"\",\n      max_score: score, // Điểm cao nhất trong các chunk tìm thấy\n      matched_chunks: [textContent], // Lưu danh sách các đoạn text khớp\n      matched_types: [p.type || p.key || \"general\"] // Lưu loại (skill, exp...)\n    });\n  } else {\n    // Nếu ứng viên đã tồn tại, cập nhật thêm thông tin\n    const c = candidatesMap.get(cid);\n    \n    // Cập nhật điểm max nếu chunk này điểm cao hơn\n    if (score > c.max_score) {\n      c.max_score = score;\n    }\n    \n    // Thêm đoạn text khớp vào hồ sơ (tránh trùng lặp nội dung y hệt)\n    if (!c.matched_chunks.includes(textContent)) {\n      c.matched_chunks.push(textContent);\n      c.matched_types.push(p.type || p.key || \"general\");\n    }\n  }\n}\n\n/**\n * 3. SẮP XẾP & LỌC TOP ỨNG VIÊN\n */\n// Chuyển Map thành Array\nlet candidates = Array.from(candidatesMap.values());\n\n// Sắp xếp giảm dần theo điểm cao nhất (Ai khớp nhất lên đầu)\ncandidates.sort((a, b) => b.max_score - a.max_score);\n\n// Lấy Top K ứng viên\nconst topCandidates = candidates.slice(0, TOP_K_CANDIDATES);\n\n/**\n * 4. XÂY DỰNG CONTEXT TEXT CHO AI\n * Format lại thành dạng hồ sơ dễ đọc\n */\nlet combined_context_text = \"\";\n\nfor (const c of topCandidates) {\n  // Header của mỗi ứng viên\n  const profileHeader = `\\n=== ỨNG VIÊN: ${c.name} (Độ phù hợp: ${(c.max_score * 100).toFixed(1)}%) ===\\n` +\n                        `- Contact: ${c.email} | ${c.phone}\\n` +\n                        `- Link CV: ${c.link_cv}\\n` +\n                        `- Thông tin tìm thấy:\\n`;\n  \n  // Nội dung chi tiết các chunk khớp\n  const chunksText = c.matched_chunks.map((chunk, index) => {\n    return `  ${index + 1}. ${chunk}`;\n  }).join(\"\\n\");\n\n  const fullProfile = profileHeader + chunksText + \"\\n\";\n\n  // Kiểm tra giới hạn ký tự\n  if (combined_context_text.length + fullProfile.length > MAX_COMBINED_CHARS) {\n    // Nếu sắp tràn context thì dừng lại, nhưng cố gắng thêm nốt ứng viên này nếu còn nhiều chỗ\n    if (MAX_COMBINED_CHARS - combined_context_text.length > 500) {\n       combined_context_text += fullProfile.slice(0, MAX_COMBINED_CHARS - combined_context_text.length) + \"... [Truncated]\";\n    }\n    break;\n  }\n  \n  combined_context_text += fullProfile;\n}\n\n// Nếu không tìm thấy ai\nif (topCandidates.length === 0) {\n  combined_context_text = \"Không tìm thấy ứng viên nào phù hợp với yêu cầu.\";\n}\n\n/**\n * 5. TẠO OUTPUT\n */\n// Lấy câu hỏi từ input (nếu có)\nlet question = $('format output').first().json.refined_question;\n\nconst merged_context = {\n  question: question,\n  candidate_count: topCandidates.length,\n  top_candidates: topCandidates.map(c => ({\n    name: c.name,\n    score: c.max_score,\n    link_cv: c.link_cv,\n    matched_info_count: c.matched_chunks.length\n  })),\n  combined_context_text: combined_context_text,\n  created_at: new Date().toISOString()\n};\n\nreturn [\n  {\n    json: {\n      merged_context\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -288
      ],
      "id": "dbbbd55c-d0b0-4766-bcb2-93fc682adb34",
      "name": "Merge Context"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node - produce only `response` (unescaped + auto double-parse)\nconst items = $input.all();\n\n/** Try to extract and parse a JSON object from a string. */\nfunction tryParseJsonString(src) {\n  if (src === null || src === undefined) return null;\n  if (typeof src === 'object') return src; // already parsed\n  if (typeof src !== 'string') return null;\n  const t = src.trim();\n\n  // direct parse\n  try {\n    return JSON.parse(t);\n  } catch (e) {\n    // find first {...} or [...] block\n    const m = t.match(/[\\{\\[][\\s\\S]*[\\}\\]]/);\n    if (m) {\n      try {\n        return JSON.parse(m[0]);\n      } catch (e2) {\n        return null;\n      }\n    }\n    return null;\n  }\n}\n\n/** Unescape common escape sequences inside strings */\nfunction unescapeStringValue(s) {\n  if (typeof s !== 'string') return s;\n  if (s.indexOf('\\\\') === -1) return s;\n  let r = s;\n  r = r.replace(/\\\\r\\\\n/g, '\\n'); // escaped CRLF -> newline\n  r = r.replace(/\\\\n/g, '\\n');    // escaped newline -> newline\n  r = r.replace(/\\\\t/g, '\\t');\n  r = r.replace(/\\\\\"/g, '\"');\n  r = r.replace(/\\\\\\\\/g, '\\\\');\n  // trim only trailing whitespace\n  return r.replace(/\\s+$/u, '');\n}\n\nfunction unescapeRecursively(obj) {\n  if (obj === null || obj === undefined) return obj;\n  if (typeof obj === 'string') return unescapeStringValue(obj);\n  if (Array.isArray(obj)) return obj.map(unescapeRecursively);\n  if (typeof obj === 'object') {\n    const out = {};\n    for (const k of Object.keys(obj)) out[k] = unescapeRecursively(obj[k]);\n    return out;\n  }\n  return obj;\n}\n\n/** Extract canonical response from parsed content */\nfunction extractCanonicalResponse(parsed) {\n  if (typeof parsed === 'string' || typeof parsed === 'number' || typeof parsed === 'boolean') {\n    return { response: parsed, original_key: null };\n  }\n  if (Array.isArray(parsed)) {\n    if (parsed.length === 1) return extractCanonicalResponse(parsed[0]);\n    return { response: parsed, original_key: null };\n  }\n  const keyCandidates = [\n    'response','answer','answwer','output','reply','message','text','response_text','output_text',\n    'result','body','data','content','completion','choices'\n  ];\n  const lowerMap = {};\n  for (const k of Object.keys(parsed || {})) lowerMap[k.toLowerCase()] = k;\n\n  for (const cand of keyCandidates) {\n    if (lowerMap[cand]) {\n      const realKey = lowerMap[cand];\n      return { response: parsed[realKey], original_key: realKey };\n    }\n  }\n\n  // OpenAI-like choices\n  if (parsed.choices && Array.isArray(parsed.choices) && parsed.choices.length > 0) {\n    const first = parsed.choices[0];\n    if (first.message && first.message.content) return { response: first.message.content, original_key: 'choices[0].message.content' };\n    if (first.text) return { response: first.text, original_key: 'choices[0].text' };\n  }\n\n  // fallback: whole object\n  return { response: parsed, original_key: null };\n}\n\n/** Helper: if a string looks like JSON (starts with { or [), try parse it */\nfunction tryDoubleParseString(s) {\n  if (typeof s !== 'string') return s;\n  const trimmed = s.trim();\n  if (!trimmed) return s;\n  if (trimmed[0] === '{' || trimmed[0] === '[') {\n    try {\n      return JSON.parse(trimmed);\n    } catch (e) {\n      // maybe it's an escaped JSON inside (contains \\\\n etc) -> unescape then try\n      const un = unescapeStringValue(s);\n      try {\n        return JSON.parse(un);\n      } catch (e2) {\n        return s; // keep original string\n      }\n    }\n  }\n  return s;\n}\n\nconst out = items.map(item => {\n  // candidate raw fields\n  const rawCandidate = item.json && (item.json.output ?? item.json.output_text ?? item.output ?? item.payload ?? item.json.response ?? item.json.answer ?? item.json.text ?? item.json);\n\n  // First try parse rawCandidate (if string)\n  let parsed = tryParseJsonString(rawCandidate ?? null);\n\n  // fallback: maybe item.json is already an object\n  if (!parsed) parsed = tryParseJsonString(item.json ?? null);\n\n  // if still not parsed and rawCandidate is string, keep rawCandidate as parsed value (string)\n  if (!parsed) parsed = rawCandidate ?? null;\n\n  // unescape strings inside parsed structure\n  const unescaped = unescapeRecursively(parsed);\n\n  // extract canonical response\n  const extracted = extractCanonicalResponse(unescaped);\n\n  // If response is a string that itself contains JSON, try double-parse to object/array\n  let responseVal = extracted.response;\n  if (typeof responseVal === 'string') {\n    // unescape again (safe)\n    responseVal = unescapeStringValue(responseVal);\n    // try parse if looks like JSON\n    const doubleParsed = tryDoubleParseString(responseVal);\n    responseVal = doubleParsed;\n  }\n\n  return {\n    json: {\n      response: responseVal\n    }\n  };\n});\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "c478ad57-d87c-4eec-b073-74518550a985",
      "name": "unanswerformat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -352,
        224
      ],
      "id": "11f70e60-4794-4f51-9d12-906eafe3fc6d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "xH06mHp5QmirxiW0",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=RAG không tìm thấy câu trả lời.  \nHãy tạo một phản hồi cho khách hàng theo đúng yêu cầu ở system prompt.\nCâu hỏi của khách hàng:\n\"{{ $('format output').item.json.refined_question }}\"\n\nHãy phân loại vào WHITELIST hoặc BLACKLIST và trả lời theo đúng quy định.\n",
        "options": {
          "systemMessage": "=### VAI TRÒ\nBạn là một trợ lý tuyển dụng AI chuyên nghiệp. Bạn đang hỗ trợ người dùng tìm kiếm ứng viên trong cơ sở dữ liệu hồ sơ (CV).\n\n### NGỮ CẢNH HIỆN TẠI\nHệ thống truy vấn dữ liệu (Vector Store/Qdrant) đã trả về kết quả RỖNG. Điều này có nghĩa là không có bất kỳ hồ sơ nào khớp với từ khóa hoặc tiêu chí mà người dùng vừa yêu cầu.\n\n### NHIỆM VỤ CỦA BẠN\n1. **Thông báo:** Báo cho người dùng biết rằng hiện tại không tìm thấy hồ sơ nào phù hợp.\n2. **Gợi ý:** Đề xuất người dùng thử tìm lại bằng cách:\n   - Dùng từ khóa phổ thông hơn.\n   - Giảm bớt các yêu cầu về kỹ năng phụ hoặc số năm kinh nghiệm.\n3. **Thái độ:** Lịch sự, chuyên nghiệp, hỗ trợ. Tuyệt đối KHÔNG tự bịa ra thông tin ứng viên.\n\n### ĐỊNH DẠNG TRẢ LỜI\nHãy viết câu trả lời ngắn gọn, súc tích.\nBẮT BUỘC kết thúc câu trả lời bằng nguyên văn câu hỏi sau:\n\"Bạn có muốn tôi thử tìm kiếm lại với tiêu chí mở rộng hơn (ví dụ: giảm yêu cầu số năm kinh nghiệm) không?\"\n\nOutput bắt buộc theo cấu trúc JSON như sau:\n{\n  \"message\": \"Lời thông báo lịch sự rằng không tìm thấy hồ sơ phù hợp. Đưa ra 1-2 lý do có thể (do từ khóa quá hẹp, yêu cầu quá cao...).\",\n  \"follow_up\": \"Bạn có muốn tôi thử tìm kiếm lại với tiêu chí mở rộng hơn (ví dụ: giảm yêu cầu số năm kinh nghiệm) không?\",\n  \"suggested_actions\": [\"Tìm với từ khóa rộng hơn\", \"Giảm yêu cầu kinh nghiệm\", \"Bỏ bớt kỹ năng phụ\"]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -416,
        0
      ],
      "id": "f96ac925-f1d8-4b09-a15a-9db883bffa55",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "342d3971-6cf2-4b16-95f7-a296a02ce3ba",
              "leftValue": "={{$json[\"result\"] ? $json[\"result\"].length : 0}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        -144
      ],
      "id": "cc46f763-08bf-42ab-b9bf-805747e6627e",
      "name": "resultcount"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node - Normalize AI agent output to JSON & Sanitize Data\n// Input expected: items with item.json.output (string or object)\n// Output: items where item.json is the parsed JSON object with normalized fields\n\nconst items = $input.all();\n\n// --- HELPER 1: Parse JSON an toàn ---\nfunction tryParseJsonString(s) {\n  if (typeof s !== 'string') return null;\n  const t = s.trim();\n  try {\n    return JSON.parse(t);\n  } catch (e) {\n    // Cố gắng tìm block JSON {...} đầu tiên nếu chuỗi bị lẫn text rác\n    const m = t.match(/\\{[\\s\\S]*\\}/);\n    if (m) {\n      try { return JSON.parse(m[0]); } catch (e2) { return null; }\n    }\n    return null;\n  }\n}\n\n// --- HELPER 2: Chuẩn hóa danh sách (String -> Array) ---\nfunction normalizeList(input) {\n    if (!input) return [];\n    if (typeof input === 'string') {\n        return input.split(/,|;/).map(s => s.trim()).filter(s => s.length > 0);\n    }\n    if (Array.isArray(input)) {\n        return input.map(s => String(s).trim()).filter(s => s.length > 0);\n    }\n    return [];\n}\n\n// --- HELPER 3: Chuẩn hóa Kinh nghiệm (Text -> Math Symbol) ---\n// VD: \"trên 3 năm\" -> \"> 3\"\n// VD: \"dưới 2 năm\" -> \"< 2\"\n// VD: \"khoảng 5 năm\" -> \"= 5\"\nfunction normalizeExperience(input) {\n    if (!input || typeof input !== 'string') return null;\n    \n    const str = input.toLowerCase().trim();\n    \n    // 1. Tách lấy con số (chấp nhận cả số thập phân VD: 2.5)\n    const numberMatch = str.match(/(\\d+([.,]\\d+)?)/);\n    \n    // Nếu không tìm thấy số nào (VD: \"Senior level\"), giữ nguyên text gốc hoặc trả về null tùy nhu cầu\n    if (!numberMatch) return input; \n    \n    // Chuẩn hóa dấu phẩy thành dấu chấm để parse số (VD: 2,5 -> 2.5)\n    const number = parseFloat(numberMatch[0].replace(',', '.'));\n\n    // 2. Xác định toán tử dựa trên từ khóa\n    if (str.match(/trên|hơn|over|more than|>/)) {\n        return `> ${number}`;\n    }\n    if (str.match(/dưới|ít hơn|under|less than|</)) {\n        return `< ${number}`;\n    }\n    \n    // Mặc định là bằng (=)\n    return `= ${number}`;\n}\n\nconst out = items.map((item) => {\n  // Lấy dữ liệu nguồn\n  const src = item.json && (\n      item.json.parsed_json ?? \n      item.json.output ?? \n      item.json.output_text ?? \n      item.output ?? \n      item.payload\n  );\n\n  let parsed = null;\n\n  if (src === undefined || src === null) {\n    return {\n      json: { _error: \"no_output_field_found\", original: item.json }\n    };\n  }\n\n  // 1. PARSE DỮ LIỆU\n  if (typeof src === 'object') {\n    parsed = src;\n  } else {\n    parsed = tryParseJsonString(src);\n  }\n\n  if (!parsed) {\n    return {\n      json: { _error: \"parse_failed\", raw: src }\n    };\n  }\n\n  // 2. CHUẨN HÓA DỮ LIỆU\n  \n  // A. Chuẩn hóa Skills (Array)\n  if (parsed.filter_skills) {\n      parsed.filter_skills = normalizeList(parsed.filter_skills);\n  } else if (parsed.skills) {\n      parsed.filter_skills = normalizeList(parsed.skills);\n  }\n\n  // B. Chuẩn hóa Education (Array)\n  if (parsed.filter_education) {\n      parsed.filter_education = normalizeList(parsed.filter_education);\n  }\n\n  // C. Chuẩn hóa Experience (Math Symbol) [MỚI THÊM]\n  if (parsed.filter_experience) {\n      parsed.filter_experience = normalizeExperience(parsed.filter_experience);\n  }\n\n  // 3. Trả về kết quả\n  return { json: parsed };\n});\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        -144
      ],
      "id": "27f15307-fbbc-40a9-99d2-91fefe53350f",
      "name": "format output"
    },
    {
      "parameters": {
        "jsCode": "// Lấy item đầu tiên\nconst item = $input.first();\nconst json = item ? item.json : {};\n\n// 1. TÌM DỮ LIỆU NGUỒN (Quan trọng)\n// Webhook n8n thường để dữ liệu trong json.body.\n// Code này ưu tiên tìm trong body, nếu không có mới tìm ở root.\nconst inputData = json.body || json;\n\n// 2. LẤY CÂU HỎI USER\n// Tìm trường \"message\" hoặc \"question_message\" hoặc \"text\"\nconst userQuestion = inputData.message || inputData.question_message || inputData.text || \"\";\n\n// 3. XỬ LÝ LỊCH SỬ CHAT (HISTORY)\nlet historyRaw = inputData.history;\n\n// Fix lỗi: Nếu history bị gửi lên dưới dạng String (chưa parse), thì parse nó ra\nif (typeof historyRaw === 'string') {\n  try {\n    historyRaw = JSON.parse(historyRaw);\n  } catch (e) {\n    historyRaw = [];\n  }\n}\n\n// Đảm bảo history luôn là mảng\nif (!Array.isArray(historyRaw)) {\n  historyRaw = [];\n}\n\n// Duyệt qua từng tin nhắn để tạo chuỗi Context\nconst historyLines = historyRaw.map(item => {\n  const role = item.role;    \n  const content = item.content || \"\";\n\n  // Map role\n  if (role === 'user') {\n    return `user_message: ${content}`;\n  } else if (role === 'assistant' || role === 'system') {\n    return `system_answer: ${content}`;\n  }\n  return `${role}: ${content}`;\n});\n\n// Nối lại thành chuỗi, bỏ dòng trống\nconst resultString = historyLines.filter(line => line.trim() !== \"\").join('\\n');\n\n// 4. TRẢ VỀ KẾT QUẢ\nreturn [\n  {\n    json: {\n      result_string: resultString, // Context lịch sử\n      user_question: userQuestion, // Câu hỏi hiện tại\n      \n      // Debug: Trả về thêm field này để biết code đã tìm thấy dữ liệu ở đâu\n      _debug_source: json.body ? \"Found in Body\" : \"Found in Root\" \n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        -144
      ],
      "id": "b3937372-7c91-44f3-98b3-057a07e5bf43",
      "name": "Context-Merger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1824,
        80
      ],
      "id": "ef2f7e1c-e94c-4805-8de1-c1e9779d527e",
      "name": "OpenAI Chat refined",
      "credentials": {
        "openAiApi": {
          "id": "xH06mHp5QmirxiW0",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dưới đây là dữ liệu hội thoại cần xử lý:\n\n------------------------------------------------------------\nCONTEXT (Lịch sử hội thoại trước đó):\n{{ $json.result_string || \"Chưa có lịch sử\" }}\n------------------------------------------------------------\n\nCÂU HỎI HIỆN TẠI CỦA USER:\n\"{{ $json.user_question }}\"",
        "options": {
          "systemMessage": "=Bạn là TalentIQ - Chuyên gia phân tích ý định tìm kiếm tuyển dụng.\nNhiệm vụ: Chuyển đổi câu hỏi của user thành câu truy vấn (Refined Query) và trích xuất tham số lọc (Structured Filters) cho ADVANCED HYBRID SEARCH.\n\n---\nQUY TRÌNH TƯ DUY:\n\n1. XỬ LÝ LỜI CHÀO:\n   - Nếu input là lời chào xã giao -> source=\"greeting\", answer=\"Chào bạn...\".\n\n2. XỬ LÝ TÌM KIẾM (Search Mode):\n   - BẮT BUỘC: `answer` = \"\".\n   \n   A. TẠO TRUY VẤN (Refined Query):\n      - Viết lại câu hỏi thành câu lệnh tìm kiếm chuyên nghiệp, rõ nghĩa (VD: \"Tìm hồ sơ ứng viên...\").\n      - QUAN TRỌNG: TUYỆT ĐỐI KHÔNG tự ý thêm các tên công nghệ, kỹ năng, ví dụ hoặc từ khóa chuyên ngành cụ thể nếu user không nhắc đến trong input.\n      - VD ĐÚNG: \"Tìm ứng viên biết ERP\" -> \"Tìm hồ sơ ứng viên có kinh nghiệm về hệ thống ERP\".\n      - VD SAI: \"Tìm ứng viên biết ERP\" -> \"...như SAP, Oracle...\" (SAI vì tự bịa thêm).\n\n   B. TRÍCH XUẤT BỘ LỌC (Structured Filters):\n      Trích xuất thông tin để điền vào 4 trường lọc sau. Nếu không có thông tin, BẮT BUỘC trả về `null`.\n\n      1. `filter_candidate_name`: Tên riêng ứng viên (dựa trên nội dung từ refined_question).\n      \n      2. `filter_skills` (Array[String]): Danh sách Kỹ năng, Công nghệ, Chức danh. \n         - NGUYÊN TẮC ĐỊNH DẠNG: \n           + Kỹ năng <= 3 ký tự: Viết IN HOA toàn bộ (VD: LLM, AI, SQL).\n           + Kỹ năng > 3 ký tự: Viết Hoa Chữ Cái Đầu (VD: Jira, React, Prompt Engineering).\n           + Kỹ năng mềm: Giữ nguyên tiếng Việt, bỏ từ thừa (khả năng, kỹ năng).\n\n         QUY TẮC KẾT NỐI VÀ GỘP CHUỖI (LOGIC OR PRIORITY) - XỬ LÝ THEO THỨ TỰ SAU:\n\n         ƯU TIÊN 1: CHUỖI LIÊN HOÀN (3 SKILL TRỞ LÊN: A, B hoặc C / A hoặc B hoặc C)\n         - Dấu hiệu: Danh sách 3+ kỹ năng có chứa từ \"hoặc\" ở cuối hoặc lặp lại từ \"hoặc\" liên tiếp.\n         - HÀNH ĐỘNG: Gộp TOÀN BỘ danh sách thành 1 chuỗi duy nhất. Thay thế dấu phẩy (,) bằng từ \"hoặc\".\n         - TUYỆT ĐỐI KHÔNG tách phần tử đầu tiên ra khỏi chuỗi.\n         - VD Input: \"Kinh nghiệm Prompt Engineering hoặc API OpenAI hoặc Gemini\"\n           -> Output ĐÚNG: [\"Prompt Engineering hoặc API OpenAI hoặc Gemini\"]\n         - VD Input: \"DMS, ERP hoặc SQL\" \n           -> Output ĐÚNG: [\"DMS hoặc ERP hoặc SQL\"]\n\n         ƯU TIÊN 2: LỰA CHỌN ĐÔI (A hoặc B)\n         - Dấu hiệu: 2 kỹ năng nối bằng \"hoặc/hay\".\n         - HÀNH ĐỘNG: Gộp thành 1 chuỗi.\n         - VD: \"Java hoặc Python\" -> [\"Java hoặc Python\"]\n         - VD: \"Lãnh đạo hoặc Quản lý team\" -> [\"Lãnh đạo hoặc Quản lý team\"]\n\n         ƯU TIÊN 3: DANH SÁCH RỜI RẠC (AND)\n         - Dấu hiệu: Nối bằng \"và\", \",\", \"cả\" (KHÔNG CÓ từ \"hoặc\" trong cụm đó).\n         - HÀNH ĐỘNG: Tách thành mảng các phần tử riêng biệt.\n         - VD: \"Figma, Jira\" -> [\"Figma\", \"Jira\"]\n         - VD: \"Bộ công cụ Atlassian (Jira, Confluence)\" -> [\"Jira\", \"Confluence\"]\n\n         ---\n         VÍ DỤ KIỂM CHỨNG (FEW-SHOT):\n         Input: \"Tìm người biết n8n hoặc Zapier\"\n         Output filter_skills: [\"n8n hoặc Zapier\"]\n\n         Input: \"Tìm ứng viên có kinh nghiệm về DMS, ERP hay CRM\"\n         Output filter_skills: [\"DMS hoặc ERP hoặc CRM\"]\n\n         Input: \"Tìm ứng viên có tố chất lãnh đạo hoặc quản lý team\"\n         Output filter_skills: [\"Lãnh đạo hoặc Quản lý team\"]\n\n         Input: \"Yêu cầu biết Figma và (biết Sketch hoặc Adobe XD)\"\n         Output filter_skills: [\"Figma\", \"Sketch hoặc Adobe XD\"]\n         ---\n      - Nếu user hỏi \"kĩ năng tiếng Nhật\" hay \"ai có kĩ năng tiếng Nhật\" -> Lấy [\"N3 hoặc Tiếng Nhật\"] .\n         - - Nếu user hỏi \"ai có kĩ năng tiếng Anh\" -> Lấy [\"Toeic hoặc IELTS hoặc Tiếng Anh\"]. \n\n      3. `filter_experience`: Kinh nghiệm làm việc thực tế (Số năm, Cấp bậc, Công ty cũ, Lĩnh vực).\n         - NGUYÊN TẮC GHÉP CHUỖI: Nếu tìm thấy nhiều thông tin kinh nghiệm khác nhau (ví dụ: vừa có Số năm, vừa có Tên công ty), hãy nối chúng lại thành một chuỗi duy nhất, sử dụng từ \"và\" để ngăn cách.\n         - VD: \"trên 3 năm kinh nghiệm làm việc tại FPT\" -> Lấy \"trên 3 năm và FPT\".\n         - VD: \"Có kinh nghiệm Banking và từng làm ở Viettel\" -> Lấy \"Banking và Viettel\".\n         \n         - NGUYÊN TẮC TRÍCH XUẤT: Chỉ trích xuất DANH TỪ hoặc CỤM DANH TỪ định danh (Con số cụ thể, Tên riêng công ty, Tên ngành).\n         - TUYỆT ĐỐI KHÔNG: Không trích xuất cả câu văn mô tả hành động.\n           + VD SAI: \"đã từng quản lý nhóm\", \"có kinh nghiệm làm việc tại...\"\n         - SUY LUẬN CHỨC DANH (ROLE): Nếu user mô tả hành động, hãy chuyển đổi nó thành Chức danh tương ứng rồi mới ghép chuỗi.\n           + VD: \"từng quản lý team 3 người\" -> Lấy \"Team Lead\" (hoặc Manager).\n           + VD: \"biết lead team\" -> Lấy \"Leader\".\n\n      4. `filter_education`: Trường học, bằng cấp, Chứng chỉ Ngoại ngữ.\n         - Bao gồm tên trường, chuyên ngành VÀ các chứng chỉ cấp độ (Language Certificates). Chỉ lấy tên riêng của trường đại học và chứng chỉ, không cần phải thêm từ \"đại học\".\n         - VD: \"Bách Khoa\", \"Cử nhân CNTT\", \"N3\", \"N2\", \"IELTS 7.0\", \"TOEIC\".\n         \n         - XỬ LÝ LOGIC \"VÀ\" (AND): Tách mảng [\"A\", \"B\"].\n         - XỬ LÝ LOGIC \"HOẶC\" (OR): Gộp chuỗi [\"A hoặc B\"] (áp dụng quy tắc ưu tiên như phần skills).\n          - Nếu user hỏi \"Bằng tiếng Nhật\" hay \"ai biết tiếng Nhật\" -> Lấy [\"N3 hoặc Tiếng Nhật\"].\n         - - Nếu user hỏi \"Bằng tiếng Anh\" hay \"ai biết tiếng Anh\" -> Lấy [\"Toeic hoặc IELTS hoặc Tiếng Anh\"].\n---\nOUTPUT FORMAT (BẮT BUỘC JSON ONLY):\nBạn phải trả về DUY NHẤT chuỗi JSON này, không markdown, không giải thích thêm:\n\n{\n  \"answer\": string,                   // \"\" nếu là search\n  \"refined_question\": string,         // Câu truy vấn ngữ nghĩa\n  \"filter_candidate_name\": string|null,\n  \"filter_skills\": string[]|null,     // Luôn là mảng chuỗi hoặc null\n  \"filter_experience\": string|null,   // Chuỗi kết hợp (VD: \"5 năm và FPT\") hoặc null\n  \"filter_education\": string|string[]|null,\n  \"source\": \"search\" | \"greeting\",\n  \"needs_clarification\": boolean\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1888,
        -144
      ],
      "id": "ea0ac74c-326d-4ee1-9379-aa3d396fd142",
      "name": "message refined",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7692985-5757-4ed4-93cb-0419ce9eba62",
              "name": "score_threshold",
              "value": 0,
              "type": "number"
            },
            {
              "id": "e6b045cc-a7aa-4574-862c-64dce78ef5fe",
              "name": "limit",
              "value": 200,
              "type": "number"
            },
            {
              "id": "849d67e1-b602-44bb-843c-8067026a703d",
              "name": "query_vector",
              "value": "={{ $json.data[0].embedding }}",
              "type": "array"
            },
            {
              "id": "9ef126b6-8444-4a28-b594-8f373133b65b",
              "name": "with_payload",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        -144
      ],
      "id": "1442b8e3-7d6b-4555-b539-f0243c2027ec",
      "name": "add score_threshold"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://idiochromatic-cody-uninspiringly.ngrok-free.dev/collections/RAG_FOR_CV/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    // =====================================================================\n    // 1. HELPER FUNCTIONS (GIỮ NGUYÊN)\n    // =====================================================================\n    function removeAccents(str) {\n      if (!str) return \"\";\n      return str.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/đ/g, \"d\").replace(/Đ/g, \"D\").trim();\n    }\n\n    function generateMatchClauses(keyword, targetFields) {\n        const rawKey = keyword.trim();\n        if (!rawKey) return [];\n        const variants = [...new Set([rawKey, rawKey.toLowerCase(), removeAccents(rawKey), removeAccents(rawKey).toLowerCase()])];\n        const conditions = [];\n        targetFields.forEach(field => {\n            variants.forEach(v => { conditions.push({ \"key\": field, \"match\": { \"text\": v } }); });\n        });\n        return conditions;\n    }\n\n    function processLogicFilter(textArray, fields, targetMustArray) {\n        if (!textArray) return;\n        const items = Array.isArray(textArray) ? textArray : [textArray];\n        items.forEach(item => {\n            if (!item || String(item).length > 150) return;\n            if (item.match(/\\s+(?:hoặc|or)\\s+/i)) {\n                const parts = item.split(/\\s+(?:hoặc|or)\\s+/i);\n                let aggregatedShoulds = [];\n                parts.forEach(part => { aggregatedShoulds.push(...generateMatchClauses(part, fields)); });\n                if (aggregatedShoulds.length > 0) targetMustArray.push({ \"should\": aggregatedShoulds });\n            } else {\n                const parts = item.split(/\\s*(?:và|and|,)\\s*/i);\n                parts.forEach(part => {\n                    if(part.trim()) {\n                        const clauses = generateMatchClauses(part, fields);\n                        if (clauses.length > 0) targetMustArray.push({ \"should\": clauses });\n                    }\n                });\n            }\n        });\n    }\n\n    // =====================================================================\n    // 2. MAIN LOGIC\n    // =====================================================================\n\n    let vector = $json.query_vector || $json.vector;\n    if (!vector || vector.length === 0) { vector = new Array(1536).fill(0); }\n\n    let aiJson = {};\n    try {\n        const rawSource = $('message refined').item.json; \n        aiJson = rawSource.parsed_json || rawSource.output || {};\n        if (typeof aiJson === 'string') { try { aiJson = JSON.parse(aiJson); } catch(e) {} }\n    } catch (e) { aiJson = {}; }\n\n    let mustConditions = [];\n    const universalFields = [\"skills_list\", \"certificate\", \"education\", \"school\", \"major\", \"text\", \"role\"];\n\n    // ---------------------------------------------------------------------\n    // [UPDATE] 1. KINH NGHIỆM (FIX LỖI LOGIC & PARSING)\n    // ---------------------------------------------------------------------\n    if (aiJson.filter_experience) {\n        let expStr = String(aiJson.filter_experience).toLowerCase().trim();\n        \n        // Bước 1: Phát hiện Operator dựa trên từ ngữ (nếu AI trả về text)\n        let operator = \"gte\"; // Mặc định là >= (ít nhất)\n        \n        if (expStr.includes(\">\") || expStr.includes(\"trên\") || expStr.includes(\"over\") || expStr.includes(\"hơn\")) {\n            operator = expStr.includes(\"=\") ? \"gte\" : \"gt\"; \n        } else if (expStr.includes(\"<\") || expStr.includes(\"dưới\") || expStr.includes(\"under\") || expStr.includes(\"ít hơn\")) {\n            operator = expStr.includes(\"=\") ? \"lte\" : \"lt\";\n        }\n\n        // Bước 2: Lấy số (chấp nhận phẩy hoặc chấm)\n        // Regex này lỏng hơn: chỉ cần tìm thấy số trong chuỗi\n        const numberMatch = expStr.match(/(\\d+(?:[.,]\\d+)?)/);\n\n        if (numberMatch) {\n            const number = parseFloat(numberMatch[1].replace(',', '.'));\n            let rangeQuery = {};\n\n            // Bước 3: Map operator vào query Qdrant\n            // Nếu chuỗi gốc có dấu cụ thể (>, <, =) thì ưu tiên dấu đó\n            if (expStr.includes(\">=\")) rangeQuery = { \"gte\": number };\n            else if (expStr.includes(\"<=\")) rangeQuery = { \"lte\": number };\n            else if (expStr.includes(\">\")) rangeQuery = { \"gt\": number };\n            else if (expStr.includes(\"<\")) rangeQuery = { \"lt\": number };\n            else {\n                // Nếu không có dấu toán học, dùng operator đã đoán từ text ở Bước 1\n                rangeQuery[operator] = number;\n            }\n\n            mustConditions.push({ \"key\": \"experience_years\", \"range\": rangeQuery });\n        }\n    }\n    // ---------------------------------------------------------------------\n\n    // 2. SKILL / EDU / CERT (GIỮ NGUYÊN)\n    let combinedCompetencies = [];\n    if (aiJson.filter_skills) combinedCompetencies.push(...(Array.isArray(aiJson.filter_skills) ? aiJson.filter_skills : [aiJson.filter_skills]));\n    if (aiJson.filter_education) combinedCompetencies.push(...(Array.isArray(aiJson.filter_education) ? aiJson.filter_education : [aiJson.filter_education]));\n    combinedCompetencies = [...new Set(combinedCompetencies)].filter(item => item);\n    if (combinedCompetencies.length > 0) processLogicFilter(combinedCompetencies, universalFields, mustConditions);\n\n    // 3. COMPANY (GIỮ NGUYÊN)\n    if (aiJson.filter_company) {\n        const companies = Array.isArray(aiJson.filter_company) ? aiJson.filter_company : [aiJson.filter_company];\n        processLogicFilter(companies, [\"company\", \"text\"], mustConditions);\n    }\n\n    // =========================================================\n    // [FIX LIMIT] TĂNG LIMIT LÊN 500\n    // =========================================================\n    \n    // Mặc định cho search vector thường\n    let finalLimit = 50; \n    let finalThreshold = 0.6;\n\n    if (mustConditions.length > 0) {\n        // KHI CÓ FILTER:\n        // 1. Tắt ngưỡng điểm (để không bỏ sót người vector thấp nhưng đúng tiêu chí cứng)\n        finalThreshold = 0.0; \n        \n        // 2. Tăng Limit lên cực đại\n        finalLimit = 500; \n    }\n\n    let body = {\n      \"vector\": vector,\n      \"limit\": finalLimit,      \n      \"with_payload\": true,\n      \"group_by\": \"candidate_id\", \n      \"group_size\": 1 \n    };\n\n    if (mustConditions.length === 0) {\n         if ($json.score_threshold !== undefined) finalThreshold = $json.score_threshold;\n         body.score_threshold = finalThreshold;\n    }\n\n    if (mustConditions.length > 0) {\n      body.filter = { \"must\": mustConditions };\n    }\n\n    return JSON.stringify(body);\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        -144
      ],
      "id": "0a69d736-8db4-4772-b807-5022d22763b2",
      "name": "QdrantSearch",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer 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\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: \"text-embedding-3-small\",\n  input: $json.refined_question\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        -144
      ],
      "id": "46612366-f4dd-4d29-b627-70876502f346",
      "name": "EmbbedingVector"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot_web",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2336,
        -144
      ],
      "id": "da21a4e0-c52f-41a9-865c-6205d466e7ba",
      "name": "Webhook",
      "webhookId": "8a33f409-00d9-4293-b578-f925198ea31e"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8ndev.ndsvn.vn",
            "x-real-ip": "10.86.6.73",
            "x-forwarded-for": "10.86.6.73",
            "x-forwarded-proto": "https",
            "content-length": "11370",
            "x-n8n-api-key": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3NDc5YTc1My05MDJkLTQ1NDItYTlkYy03Y2Y2ZWI2YTI5YjgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY1NTA1MDY1fQ.2jvuZTRLH5v1aEp6aGO_-M6d8XT9e9JT8wVCDMcydBg",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "br, gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "ai biet tieng anh",
            "history": [
              {
                "id": "1768182574158",
                "role": "user",
                "content": "Ứng viên có kỹ năng về AI/LLM",
                "timestamp": 1768182574158
              },
              {
                "id": "1768182607658",
                "role": "assistant",
                "content": "Tìm thấy 10 ứng viên có kỹ năng và kinh nghiệm liên quan đến AI hoặc LLM, kèm thông tin liên hệ đầy đủ.\n\nLE QUANG HAI DANG – [Link CV](https://drive.google.com/file/d/1oSmpr5i5FOUwKLtKP7xHLgAzLEQ_tHm2)\n- Email: lequanghaidang2502@gmail.com\n- Phone: +84708520743\n- Kinh nghiệm: 1 năm, có kinh nghiệm Data Analyst và Data/AI Technical Specialist Intern tại IBM Vietnam, sử dụng các công cụ Data/AI Cloud của IBM, xây dựng mô hình dữ liệu, Machine Learning, MLOPs trên IBM Cloud Pak for Data.\nVO MINH TAN – [Link CV](https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN)\n- Email: vominhtan3105@gmail.com\n- Phone: 0339016535\n- Kinh nghiệm: 3 năm, có kinh nghiệm làm Business Analyst và Project Manager tại NEURONS AI COMPANY LIMITED, tham gia vào chiến lược sản phẩm và tối ưu hóa quy trình cho hệ thống AI doanh nghiệp.\nNGUYEN DANG KHOA – [Link CV](https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU)\n- Email: ngdkhoa3979@gmail.com\n- Phone: +84979398692\n- Kinh nghiệm: 5 năm, có kỹ năng Prompting AI, sử dụng Google AI Studio, NotebookLM, Claude, Perplexity, Lovable, Azure Data Lakehouse, Databricks, AI-Driven decision making, phân tích dữ liệu và quản lý dự án Agile/Scrum.\nVAN PHONG BUI – [Link CV](https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW)\n- Email: phongbv.j4s@gmail.com\n- Phone: +84 389 813 641\n- Kinh nghiệm: 9 năm, có kinh nghiệm AI Trainer & RLHF Specialist, tạo prompt và bảng chấm điểm, đánh giá kết quả, chỉnh sửa phản hồi, quản lý dự án gán nhãn dữ liệu, thiết kế quy trình kiểm soát chất lượng cho dữ liệu AI.\nPHAM ANH TUAN – [Link CV](https://drive.google.com/file/d/1tGsXlk_dtmJT8jS2pqnjoRdrlCdiL8oh)\n- Email: phamtuanhp1994@gmail.com\n- Phone: +84 816 501 816\n- Kinh nghiệm: 5 năm, Data Scientist với kinh nghiệm xây dựng mô hình dự báo, dự đoán học máy, phát triển đại lý AI tăng năng suất qua ChatGPT.\nNGUYEN THI ANH DAO – [Link CV](https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem)\n- Email: daohtttql@gmail.com\n- Phone: 0528871169\n- Kinh nghiệm: 3 năm, sử dụng Python, pandas, numpy, matplotlib, PowerBI, có kỹ năng phân tích dữ liệu và đề xuất giải pháp dựa trên API Gateway và Cloudflare flows.\nNGUYEN DUC NHAN – [Link CV](https://drive.google.com/file/d/1fsOx-vfHeINAcP2Wlyfuk5UW78k0bm4w)\n- Email: nhannguyen14.dev@gmail.com\n- Phone: 0877522662\n- Kinh nghiệm: 4 năm, có kiến thức cơ bản về kiến trúc hệ thống, thiết kế API, phân tích dữ liệu và sử dụng SQL Server, Postman.\nTRAN QUOC KIET – [Link CV](https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX)\n- Email: kiettran27101999@gmail.com\n- Phone: 0903854218\n- Kinh nghiệm: 5 năm, sử dụng trí tuệ nhân tạo để tối ưu hóa các nhiệm vụ nghiên cứu, sơ đồ luồng, mô phỏng và tạo các trường hợp kiểm thử.\nHUY DOAN – [Link CV](https://drive.google.com/file/d/1afFkTiJoAWSacuzgFay_Bo8fFGNGRozH)\n- Email: nhathuyvn100497@gmail.com\n- Phone: +84 776 965 785\n- Kinh nghiệm: 6 năm, phát triển phần mềm với C# và Python, tối ưu hóa xử lý dữ liệu và API REST.\nTRAN VAN DUC – [Link CV](https://drive.google.com/file/d/1TbUo9a-BLeX6aHPzjoJ7wCkkJZnO5JQF)\n- Email: ducforwork@gmail.com\n- Phone: +84 905 955 256\n- Kinh nghiệm: 4 năm, Associate Product Manager tại Chative.IO, SaaS Company, quản lý lộ trình sản phẩm, phỏng vấn người dùng toàn cầu, xây dựng tài liệu chi tiết cho sản phẩm.\nSummary: Các ứng viên trên có kỹ năng hoặc kinh nghiệm liên quan đến AI, Machine Learning, hoặc các công nghệ LLM, bao gồm phát triển mô hình AI, huấn luyện AI, sử dụng công cụ AI, và quản lý dự án AI.",
                "timestamp": 1768182607658,
                "candidates": [
                  {
                    "id": "17681826076564162082431771369",
                    "name": "LE QUANG HAI DANG",
                    "summary": "• Kinh nghiệm: 1 năm, có kinh nghiệm Data Analyst và Data/AI Technical Specialist Intern tại IBM Vietnam, sử dụng các công cụ Data/AI Cloud của IBM, xây dựng mô hình dữ liệu, Machine Learning, MLOPs trên IBM Cloud Pak for Data.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 1,
                    "skills_found": [],
                    "email": "lequanghaidang2502@gmail.com",
                    "phone": "+84708520743",
                    "link_cv": "https://drive.google.com/file/d/1oSmpr5i5FOUwKLtKP7xHLgAzLEQ_tHm2",
                    "file_url": "https://drive.google.com/file/d/1oSmpr5i5FOUwKLtKP7xHLgAzLEQ_tHm2"
                  },
                  {
                    "id": "17681826076574987914002664724",
                    "name": "VO MINH TAN",
                    "summary": "• Kinh nghiệm: 3 năm, có kinh nghiệm làm Business Analyst và Project Manager tại NEURONS AI COMPANY LIMITED, tham gia vào chiến lược sản phẩm và tối ưu hóa quy trình cho hệ thống AI doanh nghiệp.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 3,
                    "skills_found": [],
                    "email": "vominhtan3105@gmail.com",
                    "phone": "0339016535",
                    "link_cv": "https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN",
                    "file_url": "https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN"
                  },
                  {
                    "id": "1768182607657643595420753552",
                    "name": "NGUYEN DANG KHOA",
                    "summary": "• Kinh nghiệm: 5 năm, có kỹ năng Prompting AI, sử dụng Google AI Studio, NotebookLM, Claude, Perplexity, Lovable, Azure Data Lakehouse, Databricks, AI-Driven decision making, phân tích dữ liệu và quản lý dự án Agile/Scrum.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "ngdkhoa3979@gmail.com",
                    "phone": "+84979398692",
                    "link_cv": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU",
                    "file_url": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU"
                  },
                  {
                    "id": "17681826076575654605979508134",
                    "name": "VAN PHONG BUI",
                    "summary": "• Kinh nghiệm: 9 năm, có kinh nghiệm AI Trainer & RLHF Specialist, tạo prompt và bảng chấm điểm, đánh giá kết quả, chỉnh sửa phản hồi, quản lý dự án gán nhãn dữ liệu, thiết kế quy trình kiểm soát chất lượng cho dữ liệu AI.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 9,
                    "skills_found": [],
                    "email": "phongbv.j4s@gmail.com",
                    "phone": "+84 389 813 641",
                    "link_cv": "https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW",
                    "file_url": "https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW"
                  },
                  {
                    "id": "17681826076576444013793803474",
                    "name": "PHAM ANH TUAN",
                    "summary": "• Kinh nghiệm: 5 năm, Data Scientist với kinh nghiệm xây dựng mô hình dự báo, dự đoán học máy, phát triển đại lý AI tăng năng suất qua ChatGPT.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "phamtuanhp1994@gmail.com",
                    "phone": "+84 816 501 816",
                    "link_cv": "https://drive.google.com/file/d/1tGsXlk_dtmJT8jS2pqnjoRdrlCdiL8oh",
                    "file_url": "https://drive.google.com/file/d/1tGsXlk_dtmJT8jS2pqnjoRdrlCdiL8oh"
                  },
                  {
                    "id": "176818260765728890508308688456",
                    "name": "NGUYEN THI ANH DAO",
                    "summary": "• Kinh nghiệm: 3 năm, sử dụng Python, pandas, numpy, matplotlib, PowerBI, có kỹ năng phân tích dữ liệu và đề xuất giải pháp dựa trên API Gateway và Cloudflare flows.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 3,
                    "skills_found": [],
                    "email": "daohtttql@gmail.com",
                    "phone": "0528871169",
                    "link_cv": "https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem",
                    "file_url": "https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem"
                  },
                  {
                    "id": "176818260765728881497910585097",
                    "name": "NGUYEN DUC NHAN",
                    "summary": "• Kinh nghiệm: 4 năm, có kiến thức cơ bản về kiến trúc hệ thống, thiết kế API, phân tích dữ liệu và sử dụng SQL Server, Postman.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "nhannguyen14.dev@gmail.com",
                    "phone": "0877522662",
                    "link_cv": "https://drive.google.com/file/d/1fsOx-vfHeINAcP2Wlyfuk5UW78k0bm4w",
                    "file_url": "https://drive.google.com/file/d/1fsOx-vfHeINAcP2Wlyfuk5UW78k0bm4w"
                  },
                  {
                    "id": "17681826076577482657132572883",
                    "name": "TRAN QUOC KIET",
                    "summary": "• Kinh nghiệm: 5 năm, sử dụng trí tuệ nhân tạo để tối ưu hóa các nhiệm vụ nghiên cứu, sơ đồ luồng, mô phỏng và tạo các trường hợp kiểm thử.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "kiettran27101999@gmail.com",
                    "phone": "0903854218",
                    "link_cv": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX",
                    "file_url": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX"
                  },
                  {
                    "id": "17681826076582525286333481934",
                    "name": "HUY DOAN",
                    "summary": "• Kinh nghiệm: 6 năm, phát triển phần mềm với C# và Python, tối ưu hóa xử lý dữ liệu và API REST.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 6,
                    "skills_found": [],
                    "email": "nhathuyvn100497@gmail.com",
                    "phone": "+84 776 965 785",
                    "link_cv": "https://drive.google.com/file/d/1afFkTiJoAWSacuzgFay_Bo8fFGNGRozH",
                    "file_url": "https://drive.google.com/file/d/1afFkTiJoAWSacuzgFay_Bo8fFGNGRozH"
                  },
                  {
                    "id": "17681826076588816594028029503",
                    "name": "TRAN VAN DUC",
                    "summary": "• Kinh nghiệm: 4 năm, Associate Product Manager tại Chative.IO, SaaS Company, quản lý lộ trình sản phẩm, phỏng vấn người dùng toàn cầu, xây dựng tài liệu chi tiết cho sản phẩm.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "ducforwork@gmail.com",
                    "phone": "+84 905 955 256",
                    "link_cv": "https://drive.google.com/file/d/1TbUo9a-BLeX6aHPzjoJ7wCkkJZnO5JQF",
                    "file_url": "https://drive.google.com/file/d/1TbUo9a-BLeX6aHPzjoJ7wCkkJZnO5JQF"
                  },
                  {
                    "id": "176818260765827370940474855965",
                    "name": "Summary",
                    "summary": "",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "",
                    "phone": ""
                  }
                ],
                "technical_questions": [],
                "soft_skill_questions": [
                  "Ứng viên có kỹ năng về AI/LLM"
                ]
              },
              {
                "id": "1768182891079",
                "role": "user",
                "content": "ai biet tieng nhat",
                "timestamp": 1768182891079
              },
              {
                "id": "1768182901585",
                "role": "assistant",
                "content": "Tìm thấy 1 ứng viên có kỹ năng tiếng Nhật với chứng chỉ JLPT N3 và kinh nghiệm 5 năm, kèm thông tin liên hệ.\n\nNGUYEN CHAU GIANG – [Link CV](https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5)\n- Email: nguyenchaugiang5211@gmail.com | Phone: (+84) 0373 075 225\n- Kinh nghiệm: 5 năm\n- Chứng chỉ tiếng Nhật: JLPT N3 (2024)",
                "timestamp": 1768182901585,
                "candidates": [
                  {
                    "id": "176818290158441002581237012004",
                    "name": "NGUYEN CHAU GIANG",
                    "summary": "• Kinh nghiệm: 5 năm\n• Chứng chỉ tiếng Nhật: JLPT N3 (2024)",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "nguyenchaugiang5211@gmail.com",
                    "phone": "(+84) 0373 075 225",
                    "link_cv": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5",
                    "file_url": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5"
                  }
                ],
                "technical_questions": [],
                "soft_skill_questions": [
                  "ai biet tieng nhat"
                ]
              },
              {
                "id": "1768182937355",
                "role": "user",
                "content": "ai biet tieng anh",
                "timestamp": 1768182937355
              }
            ]
          },
          "webhookUrl": "https://n8ndev.ndsvn.vn/webhook/chatbot_web",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "ResponeFormat": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ResponeFormat1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parsed_json": {
      "main": [
        [
          {
            "node": "ResponeFormat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "parsed_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unanswerformat": {
      "main": [
        [
          {
            "node": "ResponeFormat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "unanswerformat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resultcount": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format output": {
      "main": [
        [
          {
            "node": "EmbbedingVector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context-Merger": {
      "main": [
        [
          {
            "node": "message refined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat refined": {
      "ai_languageModel": [
        [
          {
            "node": "message refined",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "message refined": {
      "main": [
        [
          {
            "node": "format output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add score_threshold": {
      "main": [
        [
          {
            "node": "QdrantSearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QdrantSearch": {
      "main": [
        [
          {
            "node": "resultcount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EmbbedingVector": {
      "main": [
        [
          {
            "node": "add score_threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Context-Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be372b46-b591-46af-8e86-90eaa78a3f05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df174d571e95541c805919aa88d99c6ff9e79e2c1ffc42837bb92614d24bb4eb"
  },
  "id": "uHdBAT2wuV58AWkJ",
  "tags": []
}