workflow/Chatbot_Web_Fixed_(5).json
{
  "name": "Chatbot_Web_Fixed",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        0
      ],
      "id": "e9a10b6d-3505-424b-89a8-4ad7fafae040",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "// 1. Lấy dữ liệu từ Node Parser (Output của AI đã được làm sạch)\nconst parserOutput = $input.first().json.parsed_json || {};\n\n// 2. Lấy dữ liệu gốc từ Request ban đầu (Node 'Webhook')\nlet requestData = {};\ntry {\n  requestData = $node['Webhook'].json.body || {};\n} catch (e) {\n  requestData = {};\n}\n\n// 3. Lấy thông tin Context (Danh sách ứng viên đã tìm thấy)\nlet contextData = {};\ntry {\n  contextData = $('Merge Context').first().json.merged_context || {};\n} catch (e) {}\n\n// Chuẩn hóa ID\nconst chatid = String(requestData.message_id || \"\").trim();\nconst employeeId = String(requestData.user_id || \"\").trim();\n\n// --- XỬ LÝ ANSWER MESSAGE CHO DỄ NHÌN ---\nlet finalAnswer = \"\";\n\n// Cách 1: Nếu node trước đã tách dòng thành mảng (enriched_lines) -> Nối lại\nif (parserOutput.enriched_lines && Array.isArray(parserOutput.enriched_lines) && parserOutput.enriched_lines.length > 0) {\n    finalAnswer = parserOutput.enriched_lines.join('\\n');\n} \n// Cách 2: Nếu chỉ có chuỗi (enriched_answer)\nelse {\n    finalAnswer = parserOutput.enriched_answer || \"\";\n}\n\n// QUAN TRỌNG: Đảm bảo xuống dòng hiển thị đúng\n// Replace \\\\n (chuỗi ký tự do AI sinh ra) thành \\n (ký tự xuống dòng thật)\nif (typeof finalAnswer === 'string') {\n    finalAnswer = finalAnswer.replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '\\t');\n}\n// ------------------------------------------\n\n// 4. Tạo Response JSON chuẩn cho Frontend\nreturn [\n  {\n    json: {\n      status: \"ok\",\n      \n      // Thông tin định danh phiên chat\n      tenantCode: requestData.tenant_code || \"\",\n      chatid: chatid,\n      employeeId: employeeId,\n      timestamp: requestData.timestamp || new Date().toISOString(),\n      \n      // Câu hỏi và Câu trả lời chính\n      question_message: $('Webhook').first().json.body.message || \"\",\n      \n      // Gán biến đã xử lý ở trên vào đây\n      answer_message: finalAnswer || \"Xin lỗi, hệ thống chưa thể xử lý yêu cầu này.\",\n      \n      // Câu trả lời tóm tắt\n      short_message: parserOutput.short_answer || \"\",\n\n      // Nguồn dữ liệu\n      source: parserOutput.source || \"TalentIQ Database\",\n      \n      // Các cờ nghiệp vụ\n      needs_human_review: parserOutput.needs_human_review || false,\n      follow_up_question: parserOutput.follow_up_question || null,\n      \n      // Metadata bổ sung\n      candidate_list: contextData.top_candidates ? contextData.top_candidates.map(c => c.name) : [],\n      \n      // Tương thích ngược\n      answer_url: [], \n      category: contextData.top_candidates ? contextData.top_candidates.map(c => \"Candidate Profile\") : [],\n      clarify_question: null,\n      handoff_note: null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -288
      ],
      "id": "3325b290-965a-475b-9c0c-d4299d2f4cf8",
      "name": "ResponeFormat1"
    },
    {
      "parameters": {
        "jsCode": "// Lấy item từ node Webhook\nconst data = $node['Webhook'].json;\n\n// Chuẩn hóa khoảng trắng cho chatid và employeeId\nconst chatid = String(data.body.message_id || \"\").trim();\nconst employeeId = String(data.body.user_id || \"\").trim();\n\n// Tạo response JSON\nreturn [\n  {\n    json: {\n      status: \"ok\",\n      tenantCode: data.body.tenant_code || \"\",\n      chatid,\n      question_message: data.body.question_message || \"\",\n      answer_message: $input.first().json.response.enriched_answer,\n      answer_url: data.body.answer_url || [],\n      source: \"UN_ANSWER\",\n      category: $input.first().json.response.category,\n      needs_clarification: data.body.needs_clarification ?? false,\n      clarify_question: data.body.clarify_question ?? null,\n      handoff_note: data.body.handoff_note ?? null,\n      employeeId,\n      timestamp: data.body.timestamp || new Date().toISOString()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ],
      "id": "7ffd97b6-1e6c-4b08-8801-5947e36cc501",
      "name": "ResponeFormat",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        -288
      ],
      "id": "5112edc6-d286-4288-a663-9fca6e1e1a8d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node: Robust JSON extractor & parser for TalentIQ CV Assessment\n// Input: items[].json.output (string) OR items[].json.message.content\n// Output: items[].json.parsed_json (object) aligned with TalentIQ schema\n\n// --- 1. HELPER FUNCTIONS (GIỮ NGUYÊN) ---\n\nfunction tryJsonParse(text) {\n  try { return { ok: true, value: JSON.parse(text), method: 'JSON.parse(raw)' }; }\n  catch (e) { return { ok: false, error: e.message }; }\n}\n\nfunction extractFirstObjectBlock(text) {\n  const m = text.match(/\\{[\\s\\S]*\\}/);\n  return m ? m[0] : null;\n}\n\nfunction unescapeCommonEscapes(s){\n  return s\n    .replace(/\\\\n/g, '\\n')   \n    .replace(/\\\\r/g, '\\r')\n    .replace(/\\\\\"/g, '\"')    \n    .replace(/\\\\'/g, \"'\")\n    .replace(/\\\\\\\\/g, '\\\\'); \n}\n\nfunction parseRobust(raw) {\n  const attempts = [];\n  if (raw === null || raw === undefined) {\n    attempts.push({ method: 'no-input', ok: false });\n    return { parsed: null, attempts };\n  }\n\n  if (typeof raw === 'object') {\n    return { parsed: raw, attempts };\n  }\n\n  const s = String(raw);\n  let attempt = tryJsonParse(s);\n  if (attempt.ok) return { parsed: attempt.value, attempts };\n\n  try {\n    const first = JSON.parse(s);\n    if (typeof first === 'object') return { parsed: first, attempts };\n    if (typeof first === 'string') {\n      const secondAttempt = tryJsonParse(first);\n      if (secondAttempt.ok) return { parsed: secondAttempt.value, attempts };\n      var candidate = first;\n    } else {\n      var candidate = s;\n    }\n  } catch(e) {\n    var candidate = s;\n  }\n\n  const block = extractFirstObjectBlock(candidate);\n  if (block) {\n    attempt = tryJsonParse(block);\n    if (attempt.ok) return { parsed: attempt.value, attempts };\n  }\n\n  const unescaped = unescapeCommonEscapes(candidate);\n  if (unescaped !== candidate) {\n    attempt = tryJsonParse(unescaped);\n    if (attempt.ok) return { parsed: attempt.value, attempts };\n    const block2 = extractFirstObjectBlock(unescaped);\n    if (block2) {\n      attempt = tryJsonParse(block2);\n      if (attempt.ok) return { parsed: attempt.value, attempts };\n    }\n  }\n\n  const cleaned = candidate\n    .replace(/\\u201c|\\u201d/g, '\"')\n    .replace(/\\u2018|\\u2019/g, \"'\")\n    .replace(/[\\u0000-\\u0019]+/g, ''); \n  attempt = tryJsonParse(cleaned);\n  if (attempt.ok) return { parsed: attempt.value, attempts };\n\n  return { parsed: null, attempts };\n}\n\n// --- 2. MAIN LOGIC (CẬP NHẬT TÁCH DÒNG) ---\nconst outputs = [];\n\nfor (const item of items) {\n  const rawCandidates = [];\n  if (item.json && item.json.output) rawCandidates.push(item.json.output);\n  if (item.json && item.json.message && item.json.message.content) rawCandidates.push(item.json.message.content); \n  if (item.json && item.json.response) rawCandidates.push(item.json.response);\n  if (item.json && item.json.text) rawCandidates.push(item.json.text);\n\n  if (rawCandidates.length === 0) rawCandidates.push(JSON.stringify(item.json));\n\n  let finalParsed = null;\n  for (const raw of rawCandidates) {\n    const { parsed } = parseRobust(raw);\n    if (parsed) { finalParsed = parsed; break; }\n  }\n\n  if (!finalParsed) {\n    finalParsed = {\n      \"enriched_answer\": \"Hệ thống gặp lỗi khi xử lý dữ liệu từ AI.\",\n      \"short_answer\": \"Lỗi hệ thống\",\n      \"source\": \"\",\n      \"needs_human_review\": true,\n      \"follow_up_question\": null,\n      \"confidence\": 0\n    };\n  }\n\n  // --- LOGIC TÁCH DÒNG (SPLIT LINES) ---\n  if (finalParsed.enriched_answer && typeof finalParsed.enriched_answer === 'string') {\n      // 1. Chuẩn hóa xuống dòng: chuyển hết \\\\n thành \\n thật\n      const normalizedText = finalParsed.enriched_answer\n          .replace(/\\\\n/g, '\\n')\n          .replace(/\\\\t/g, '\\t');\n      \n      // 2. Gán lại chuỗi đã chuẩn hóa vào field gốc (để hiển thị đẹp nếu cần in cả cục)\n      finalParsed.enriched_answer = normalizedText;\n\n      // 3. Tách thành mảng (Array) dựa trên dấu xuống dòng\n      // Filter(Boolean) để loại bỏ các dòng trống vô nghĩa\n      finalParsed.enriched_lines = normalizedText\n          .split('\\n')\n          .map(line => line.trim())\n          .filter(line => line.length > 0);\n  } else {\n      finalParsed.enriched_lines = [];\n  }\n\n  outputs.push({\n    json: {\n      parsed_json: finalParsed\n    }\n  });\n}\n\nreturn outputs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -288
      ],
      "id": "e67107f6-3114-44b4-bf4a-50bcf8a8b250",
      "name": "parsed_json"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        -176
      ],
      "id": "49a932f3-36d1-40a3-858b-6e9a229a4686",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "xH06mHp5QmirxiW0",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn là TalentIQ - Trợ lý tuyển dụng AI chuyên nghiệp. Dưới đây là dữ liệu hồ sơ ứng viên (CV) được tìm thấy từ hệ thống Vector Search.\n\n=== DỮ LIỆU ĐẦU VÀO ===\nCâu hỏi/Yêu cầu của nhà tuyển dụng:\n\"{{ $json.merged_context.question }}\"\n\nThông tin các ứng viên tìm thấy (Context):\n{{ $json.merged_context.combined_context_text }}",
        "options": {
          "systemMessage": "=## VAI TRÒ\nBạn là TalentIQ, trợ lý AI tuyển dụng chuyên nghiệp. Nhiệm vụ của bạn là trích xuất thông tin ứng viên từ dữ liệu được cung cấp (đặc biệt là field `combined_context_text`).\n\n## NGUỒN DỮ LIỆU (RẤT QUAN TRỌNG)\n- Thông tin chi tiết (Email, Số điện thoại, Kinh nghiệm cụ thể) nằm trong biến văn bản `combined_context_text`.\n- Bạn PHẢI đọc kỹ `combined_context_text` để lấy Email và SĐT chính xác cho từng người.\n- Nếu `combined_context_text` không có thông tin, tuyệt đối không được bịa đặt.\n\n## QUY TẮC PHẢN HỒI\n\n### 1. CHẾ ĐỘ TÌM KIẾM & LIỆT KÊ (MẶC ĐỊNH)\nKhi người dùng yêu cầu tìm kiếm hoặc hỏi thông tin danh sách (VD: \"Tìm dev java\", \"Cho xin email/sđt của ứng viên\", \"Danh sách hồ sơ\"):\n\n- **Cấu trúc hiển thị bắt buộc:**\n  Mỗi ứng viên là một khối thông tin, cách nhau bởi `\\n\\n`.\n\n  **[Tên Ứng Viên]** – [Link CV](URL_THỰC_TẾ)\n  - [Thông tin phụ nến user hỏi: Email | SĐT | Kinh nghiệm...]\n\n- **Yêu cầu về Link:** - Text hiển thị hyperlink BẮT BUỘC là chữ \"Link CV\".\n  - URL phải lấy chính xác từ dữ liệu.\n  - Ví dụ ĐÚNG: `[Link CV](https://drive.google.com/file/d/xyz...)`\n\n- **Xử lý câu hỏi \"Thông tin liên hệ/Email/Phone\":**\n  - Nếu user hỏi contact, BẮT BUỘC phải thêm dòng gạch đầu dòng thứ 2 chứa Email và SĐT trích xuất được.\n\n### 2. CHẾ ĐỘ PHÂN TÍCH CHI TIẾT\nKhi và CHỈ KHI người dùng hỏi sâu về một người cụ thể (VD: \"Đánh giá chi tiết bạn Tuan\", \"Điểm mạnh yếu của Khoa\"):\n- Lúc này mới được viết đoạn văn dài, phân tích sâu, trích dẫn chi tiết từ CV.\n\n## OUTPUT FORMAT (JSON ONLY)\nBạn chỉ được trả về DUY NHẤT một JSON object, không được bọc trong markdown (```json ... ```), theo schema sau:\n\n{\n  \"enriched_answer\": string, // Nội dung text đã format ở trên (dùng \\n để xuống dòng)\n  \"short_answer\": string,    // Câu trả lời ngắn gọn (VD: \"Tìm thấy 5 ứng viên có kinh nghiệm trên 4 năm kèm thông tin liên hệ.\")\n  \"source\": string,          // Danh sách nguồn dạng: \"Tên A - Link; Tên B - Link\"\n  \"needs_human_review\": boolean, // True nếu không tìm thấy thông tin quan trọng\n  \"confidence\": number       // Từ 0.0 đến 1.0\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        -400
      ],
      "id": "3fb54db9-d2c6-49f8-96c0-cb21ab8720ca",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\n// ---- CONFIG ----\nconst TOP_K_CANDIDATES = 100;      // Số lượng ứng viên tối đa muốn đưa vào context\nconst MAX_COMBINED_CHARS = 100000; // Tăng giới hạn lên vì thông tin CV thường dài\n// ----------------\n\n/**\n * 1. TRÍCH XUẤT DOCS TỪ OUTPUT QDRANT\n * Xử lý các trường hợp output khác nhau của n8n\n */\nfunction extractDocs(obj) {\n  if (!obj) return [];\n  // Trường hợp chuẩn của bạn: item.json.result\n  if (obj.result && Array.isArray(obj.result)) return obj.result;\n  // Trường hợp n8n output array trực tiếp\n  if (Array.isArray(obj)) return obj;\n  return [];\n}\n\nconst rawDocs = extractDocs(input);\n\n/**\n * 2. GOM NHÓM THEO ỨNG VIÊN (GROUP BY CANDIDATE_ID)\n * Thay vì dedupe (xóa trùng), ta sẽ merge (gộp) thông tin lại.\n */\nconst candidatesMap = new Map();\n\nfor (const doc of rawDocs) {\n  const p = doc.payload || {};\n  \n  // Bỏ qua nếu không có ID ứng viên\n  const cid = p.candidate_id;\n  if (!cid) continue;\n\n  const score = doc.score || p.score || 0;\n  const textContent = (p.text || \"\").trim();\n\n  // Nếu ứng viên chưa có trong map, tạo mới\n  if (!candidatesMap.has(cid)) {\n    candidatesMap.set(cid, {\n      id: cid,\n      name: p.candidate_name || \"Unknown Candidate\",\n      email: p.candidate_email || \"N/A\",\n      phone: p.candidate_phone || \"N/A\",\n      link_cv: p.link_cv || \"\",\n      max_score: score, // Điểm cao nhất trong các chunk tìm thấy\n      matched_chunks: [textContent], // Lưu danh sách các đoạn text khớp\n      matched_types: [p.type || p.key || \"general\"] // Lưu loại (skill, exp...)\n    });\n  } else {\n    // Nếu ứng viên đã tồn tại, cập nhật thêm thông tin\n    const c = candidatesMap.get(cid);\n    \n    // Cập nhật điểm max nếu chunk này điểm cao hơn\n    if (score > c.max_score) {\n      c.max_score = score;\n    }\n    \n    // Thêm đoạn text khớp vào hồ sơ (tránh trùng lặp nội dung y hệt)\n    if (!c.matched_chunks.includes(textContent)) {\n      c.matched_chunks.push(textContent);\n      c.matched_types.push(p.type || p.key || \"general\");\n    }\n  }\n}\n\n/**\n * 3. SẮP XẾP & LỌC TOP ỨNG VIÊN\n */\n// Chuyển Map thành Array\nlet candidates = Array.from(candidatesMap.values());\n\n// Sắp xếp giảm dần theo điểm cao nhất (Ai khớp nhất lên đầu)\ncandidates.sort((a, b) => b.max_score - a.max_score);\n\n// Lấy Top K ứng viên\nconst topCandidates = candidates.slice(0, TOP_K_CANDIDATES);\n\n/**\n * 4. XÂY DỰNG CONTEXT TEXT CHO AI\n * Format lại thành dạng hồ sơ dễ đọc\n */\nlet combined_context_text = \"\";\n\nfor (const c of topCandidates) {\n  // Header của mỗi ứng viên\n  const profileHeader = `\\n=== ỨNG VIÊN: ${c.name} (Độ phù hợp: ${(c.max_score * 100).toFixed(1)}%) ===\\n` +\n                        `- Contact: ${c.email} | ${c.phone}\\n` +\n                        `- Link CV: ${c.link_cv}\\n` +\n                        `- Thông tin tìm thấy:\\n`;\n  \n  // Nội dung chi tiết các chunk khớp\n  const chunksText = c.matched_chunks.map((chunk, index) => {\n    return `  ${index + 1}. ${chunk}`;\n  }).join(\"\\n\");\n\n  const fullProfile = profileHeader + chunksText + \"\\n\";\n\n  // Kiểm tra giới hạn ký tự\n  if (combined_context_text.length + fullProfile.length > MAX_COMBINED_CHARS) {\n    // Nếu sắp tràn context thì dừng lại, nhưng cố gắng thêm nốt ứng viên này nếu còn nhiều chỗ\n    if (MAX_COMBINED_CHARS - combined_context_text.length > 500) {\n       combined_context_text += fullProfile.slice(0, MAX_COMBINED_CHARS - combined_context_text.length) + \"... [Truncated]\";\n    }\n    break;\n  }\n  \n  combined_context_text += fullProfile;\n}\n\n// Nếu không tìm thấy ai\nif (topCandidates.length === 0) {\n  combined_context_text = \"Không tìm thấy ứng viên nào phù hợp với yêu cầu.\";\n}\n\n/**\n * 5. TẠO OUTPUT\n */\n// Lấy câu hỏi từ input (nếu có)\nlet question = $('format output').first().json.refined_question;\n\nconst merged_context = {\n  question: question,\n  candidate_count: topCandidates.length,\n  top_candidates: topCandidates.map(c => ({\n    name: c.name,\n    score: c.max_score,\n    link_cv: c.link_cv,\n    matched_info_count: c.matched_chunks.length\n  })),\n  combined_context_text: combined_context_text,\n  created_at: new Date().toISOString()\n};\n\nreturn [\n  {\n    json: {\n      merged_context\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -288
      ],
      "id": "dbbbd55c-d0b0-4766-bcb2-93fc682adb34",
      "name": "Merge Context"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node - produce only `response` (unescaped + auto double-parse)\nconst items = $input.all();\n\n/** Try to extract and parse a JSON object from a string. */\nfunction tryParseJsonString(src) {\n  if (src === null || src === undefined) return null;\n  if (typeof src === 'object') return src; // already parsed\n  if (typeof src !== 'string') return null;\n  const t = src.trim();\n\n  // direct parse\n  try {\n    return JSON.parse(t);\n  } catch (e) {\n    // find first {...} or [...] block\n    const m = t.match(/[\\{\\[][\\s\\S]*[\\}\\]]/);\n    if (m) {\n      try {\n        return JSON.parse(m[0]);\n      } catch (e2) {\n        return null;\n      }\n    }\n    return null;\n  }\n}\n\n/** Unescape common escape sequences inside strings */\nfunction unescapeStringValue(s) {\n  if (typeof s !== 'string') return s;\n  if (s.indexOf('\\\\') === -1) return s;\n  let r = s;\n  r = r.replace(/\\\\r\\\\n/g, '\\n'); // escaped CRLF -> newline\n  r = r.replace(/\\\\n/g, '\\n');    // escaped newline -> newline\n  r = r.replace(/\\\\t/g, '\\t');\n  r = r.replace(/\\\\\"/g, '\"');\n  r = r.replace(/\\\\\\\\/g, '\\\\');\n  // trim only trailing whitespace\n  return r.replace(/\\s+$/u, '');\n}\n\nfunction unescapeRecursively(obj) {\n  if (obj === null || obj === undefined) return obj;\n  if (typeof obj === 'string') return unescapeStringValue(obj);\n  if (Array.isArray(obj)) return obj.map(unescapeRecursively);\n  if (typeof obj === 'object') {\n    const out = {};\n    for (const k of Object.keys(obj)) out[k] = unescapeRecursively(obj[k]);\n    return out;\n  }\n  return obj;\n}\n\n/** Extract canonical response from parsed content */\nfunction extractCanonicalResponse(parsed) {\n  if (typeof parsed === 'string' || typeof parsed === 'number' || typeof parsed === 'boolean') {\n    return { response: parsed, original_key: null };\n  }\n  if (Array.isArray(parsed)) {\n    if (parsed.length === 1) return extractCanonicalResponse(parsed[0]);\n    return { response: parsed, original_key: null };\n  }\n  const keyCandidates = [\n    'response','answer','answwer','output','reply','message','text','response_text','output_text',\n    'result','body','data','content','completion','choices'\n  ];\n  const lowerMap = {};\n  for (const k of Object.keys(parsed || {})) lowerMap[k.toLowerCase()] = k;\n\n  for (const cand of keyCandidates) {\n    if (lowerMap[cand]) {\n      const realKey = lowerMap[cand];\n      return { response: parsed[realKey], original_key: realKey };\n    }\n  }\n\n  // OpenAI-like choices\n  if (parsed.choices && Array.isArray(parsed.choices) && parsed.choices.length > 0) {\n    const first = parsed.choices[0];\n    if (first.message && first.message.content) return { response: first.message.content, original_key: 'choices[0].message.content' };\n    if (first.text) return { response: first.text, original_key: 'choices[0].text' };\n  }\n\n  // fallback: whole object\n  return { response: parsed, original_key: null };\n}\n\n/** Helper: if a string looks like JSON (starts with { or [), try parse it */\nfunction tryDoubleParseString(s) {\n  if (typeof s !== 'string') return s;\n  const trimmed = s.trim();\n  if (!trimmed) return s;\n  if (trimmed[0] === '{' || trimmed[0] === '[') {\n    try {\n      return JSON.parse(trimmed);\n    } catch (e) {\n      // maybe it's an escaped JSON inside (contains \\\\n etc) -> unescape then try\n      const un = unescapeStringValue(s);\n      try {\n        return JSON.parse(un);\n      } catch (e2) {\n        return s; // keep original string\n      }\n    }\n  }\n  return s;\n}\n\nconst out = items.map(item => {\n  // candidate raw fields\n  const rawCandidate = item.json && (item.json.output ?? item.json.output_text ?? item.output ?? item.payload ?? item.json.response ?? item.json.answer ?? item.json.text ?? item.json);\n\n  // First try parse rawCandidate (if string)\n  let parsed = tryParseJsonString(rawCandidate ?? null);\n\n  // fallback: maybe item.json is already an object\n  if (!parsed) parsed = tryParseJsonString(item.json ?? null);\n\n  // if still not parsed and rawCandidate is string, keep rawCandidate as parsed value (string)\n  if (!parsed) parsed = rawCandidate ?? null;\n\n  // unescape strings inside parsed structure\n  const unescaped = unescapeRecursively(parsed);\n\n  // extract canonical response\n  const extracted = extractCanonicalResponse(unescaped);\n\n  // If response is a string that itself contains JSON, try double-parse to object/array\n  let responseVal = extracted.response;\n  if (typeof responseVal === 'string') {\n    // unescape again (safe)\n    responseVal = unescapeStringValue(responseVal);\n    // try parse if looks like JSON\n    const doubleParsed = tryDoubleParseString(responseVal);\n    responseVal = doubleParsed;\n  }\n\n  return {\n    json: {\n      response: responseVal\n    }\n  };\n});\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "c478ad57-d87c-4eec-b073-74518550a985",
      "name": "unanswerformat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -352,
        224
      ],
      "id": "11f70e60-4794-4f51-9d12-906eafe3fc6d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "xH06mHp5QmirxiW0",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=RAG không tìm thấy câu trả lời.  \nHãy tạo một phản hồi cho khách hàng theo đúng yêu cầu ở system prompt.\nCâu hỏi của khách hàng:\n\"{{ $('format output').item.json.refined_question }}\"\n\nHãy phân loại vào WHITELIST hoặc BLACKLIST và trả lời theo đúng quy định.\n",
        "options": {
          "systemMessage": "=### VAI TRÒ\nBạn là một trợ lý tuyển dụng AI chuyên nghiệp. Bạn đang hỗ trợ người dùng tìm kiếm ứng viên trong cơ sở dữ liệu hồ sơ (CV).\n\n### NGỮ CẢNH HIỆN TẠI\nHệ thống truy vấn dữ liệu (Vector Store/Qdrant) đã trả về kết quả RỖNG. Điều này có nghĩa là không có bất kỳ hồ sơ nào khớp với từ khóa hoặc tiêu chí mà người dùng vừa yêu cầu.\n\n### NHIỆM VỤ CỦA BẠN\n1. **Thông báo:** Báo cho người dùng biết rằng hiện tại không tìm thấy hồ sơ nào phù hợp.\n2. **Gợi ý:** Đề xuất người dùng thử tìm lại bằng cách:\n   - Dùng từ khóa phổ thông hơn.\n   - Giảm bớt các yêu cầu về kỹ năng phụ hoặc số năm kinh nghiệm.\n3. **Thái độ:** Lịch sự, chuyên nghiệp, hỗ trợ. Tuyệt đối KHÔNG tự bịa ra thông tin ứng viên.\n\n### ĐỊNH DẠNG TRẢ LỜI\nHãy viết câu trả lời ngắn gọn, súc tích.\nBẮT BUỘC kết thúc câu trả lời bằng nguyên văn câu hỏi sau:\n\"Bạn có muốn tôi thử tìm kiếm lại với tiêu chí mở rộng hơn (ví dụ: giảm yêu cầu số năm kinh nghiệm) không?\"\n\nOutput bắt buộc theo cấu trúc JSON như sau:\n{\n  \"message\": \"Lời thông báo lịch sự rằng không tìm thấy hồ sơ phù hợp. Đưa ra 1-2 lý do có thể (do từ khóa quá hẹp, yêu cầu quá cao...).\",\n  \"follow_up\": \"Bạn có muốn tôi thử tìm kiếm lại với tiêu chí mở rộng hơn (ví dụ: giảm yêu cầu số năm kinh nghiệm) không?\",\n  \"suggested_actions\": [\"Tìm với từ khóa rộng hơn\", \"Giảm yêu cầu kinh nghiệm\", \"Bỏ bớt kỹ năng phụ\"]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -416,
        0
      ],
      "id": "f96ac925-f1d8-4b09-a15a-9db883bffa55",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "342d3971-6cf2-4b16-95f7-a296a02ce3ba",
              "leftValue": "={{$json[\"result\"] ? $json[\"result\"].length : 0}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        -144
      ],
      "id": "cc46f763-08bf-42ab-b9bf-805747e6627e",
      "name": "resultcount"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node - Normalize AI agent output to JSON & Sanitize Skills\n// Input expected: items with item.json.output (string or object)\n// Output: items where item.json is the parsed JSON object with STRICT ARRAYS\n\nconst items = $input.all();\n\n// --- HELPER 1: Parse JSON an toàn ---\nfunction tryParseJsonString(s) {\n  if (typeof s !== 'string') return null;\n  const t = s.trim();\n  try {\n    return JSON.parse(t);\n  } catch (e) {\n    // Cố gắng tìm block JSON {...} đầu tiên\n    const m = t.match(/\\{[\\s\\S]*\\}/);\n    if (m) {\n      try { return JSON.parse(m[0]); } catch (e2) { return null; }\n    }\n    return null;\n  }\n}\n\n// --- HELPER 2: Chuẩn hóa danh sách (Quan trọng cho RAG) ---\n// Biến \"Skill A, Skill B\" -> [\"Skill A\", \"Skill B\"]\nfunction normalizeList(input) {\n    if (!input) return [];\n    \n    // Nếu là chuỗi (VD: \"Java, Python, SQL\") -> Tách thành mảng\n    if (typeof input === 'string') {\n        // Tách bằng dấu phẩy (,) hoặc chấm phẩy (;)\n        return input.split(/,|;/).map(s => s.trim()).filter(s => s.length > 0);\n    }\n    \n    // Nếu đã là mảng -> Lọc rác\n    if (Array.isArray(input)) {\n        return input.map(s => String(s).trim()).filter(s => s.length > 0);\n    }\n    \n    return [];\n}\n\nconst out = items.map((item) => {\n  // Lấy dữ liệu nguồn từ nhiều trường tiềm năng\n  const src = item.json && (\n      item.json.parsed_json ?? \n      item.json.output ?? \n      item.json.output_text ?? \n      item.output ?? \n      item.payload\n  );\n\n  let parsed = null;\n\n  if (src === undefined || src === null) {\n    return {\n      json: {\n        _normalized: null,\n        _error: \"no_output_field_found\",\n        original: item.json ?? item\n      }\n    };\n  }\n\n  // 1. PARSE DỮ LIỆU\n  if (typeof src === 'object') {\n    parsed = src;\n  } else {\n    parsed = tryParseJsonString(src);\n  }\n\n  if (!parsed) {\n    return {\n      json: {\n        _normalized: null,\n        _error: \"parse_failed\",\n        raw: src\n      }\n    };\n  }\n\n  // 2. [QUAN TRỌNG] CHUẨN HÓA DỮ LIỆU CHO RAG\n  // Đảm bảo filter_skills luôn là Mảng (Array) để Qdrant Search không bị lỗi\n  if (parsed.filter_skills) {\n      parsed.filter_skills = normalizeList(parsed.filter_skills);\n  } else if (parsed.skills) {\n      // Fallback: Nếu AI lỡ đặt tên key là \"skills\" thay vì \"filter_skills\"\n      parsed.filter_skills = normalizeList(parsed.skills);\n  }\n\n  // Chuẩn hóa luôn education nếu có\n  if (parsed.filter_education) {\n      parsed.filter_education = normalizeList(parsed.filter_education);\n  }\n\n  // 3. Trả về kết quả sạch đẹp\n  return { json: parsed };\n});\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        -144
      ],
      "id": "27f15307-fbbc-40a9-99d2-91fefe53350f",
      "name": "format output"
    },
    {
      "parameters": {
        "jsCode": "// Lấy item đầu tiên\nconst item = $input.first();\nconst json = item ? item.json : {};\n\n// 1. TÌM DỮ LIỆU NGUỒN (Quan trọng)\n// Webhook n8n thường để dữ liệu trong json.body.\n// Code này ưu tiên tìm trong body, nếu không có mới tìm ở root.\nconst inputData = json.body || json;\n\n// 2. LẤY CÂU HỎI USER\n// Tìm trường \"message\" hoặc \"question_message\" hoặc \"text\"\nconst userQuestion = inputData.message || inputData.question_message || inputData.text || \"\";\n\n// 3. XỬ LÝ LỊCH SỬ CHAT (HISTORY)\nlet historyRaw = inputData.history;\n\n// Fix lỗi: Nếu history bị gửi lên dưới dạng String (chưa parse), thì parse nó ra\nif (typeof historyRaw === 'string') {\n  try {\n    historyRaw = JSON.parse(historyRaw);\n  } catch (e) {\n    historyRaw = [];\n  }\n}\n\n// Đảm bảo history luôn là mảng\nif (!Array.isArray(historyRaw)) {\n  historyRaw = [];\n}\n\n// Duyệt qua từng tin nhắn để tạo chuỗi Context\nconst historyLines = historyRaw.map(item => {\n  const role = item.role;    \n  const content = item.content || \"\";\n\n  // Map role\n  if (role === 'user') {\n    return `user_message: ${content}`;\n  } else if (role === 'assistant' || role === 'system') {\n    return `system_answer: ${content}`;\n  }\n  return `${role}: ${content}`;\n});\n\n// Nối lại thành chuỗi, bỏ dòng trống\nconst resultString = historyLines.filter(line => line.trim() !== \"\").join('\\n');\n\n// 4. TRẢ VỀ KẾT QUẢ\nreturn [\n  {\n    json: {\n      result_string: resultString, // Context lịch sử\n      user_question: userQuestion, // Câu hỏi hiện tại\n      \n      // Debug: Trả về thêm field này để biết code đã tìm thấy dữ liệu ở đâu\n      _debug_source: json.body ? \"Found in Body\" : \"Found in Root\" \n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        -144
      ],
      "id": "b3937372-7c91-44f3-98b3-057a07e5bf43",
      "name": "Context-Merger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1824,
        80
      ],
      "id": "ef2f7e1c-e94c-4805-8de1-c1e9779d527e",
      "name": "OpenAI Chat refined",
      "credentials": {
        "openAiApi": {
          "id": "xH06mHp5QmirxiW0",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dưới đây là dữ liệu hội thoại cần xử lý:\n\n------------------------------------------------------------\nCONTEXT (Lịch sử hội thoại trước đó):\n{{ $json.result_string || \"Chưa có lịch sử\" }}\n------------------------------------------------------------\n\nCÂU HỎI HIỆN TẠI CỦA USER:\n\"{{ $json.user_question }}\"",
        "options": {
          "systemMessage": "=Bạn là TalentIQ - Chuyên gia phân tích ý định tìm kiếm tuyển dụng.\nNhiệm vụ: Chuyển đổi câu hỏi của user thành câu truy vấn (Refined Query) và trích xuất tham số lọc (Structured Filters) cho ADVANCED HYBRID SEARCH.\n\n---\nQUY TRÌNH TƯ DUY:\n\n1. XỬ LÝ LỜI CHÀO:\n   - Nếu input là lời chào xã giao -> source=\"greeting\", answer=\"Chào bạn...\".\n\n2. XỬ LÝ TÌM KIẾM (Search Mode):\n   - BẮT BUỘC: `answer` = \"\".\n   \n   A. TẠO TRUY VẤN (Refined Query):\n      - Viết lại câu hỏi thành câu lệnh tìm kiếm chuyên nghiệp, rõ nghĩa (VD: \"Tìm hồ sơ ứng viên...\").\n      - QUAN TRỌNG: TUYỆT ĐỐI KHÔNG tự ý thêm các tên công nghệ, kỹ năng, ví dụ hoặc từ khóa chuyên ngành cụ thể nếu user không nhắc đến trong input.\n      - VD ĐÚNG: \"Tìm ứng viên biết ERP\" -> \"Tìm hồ sơ ứng viên có kinh nghiệm về hệ thống ERP\".\n      - VD SAI: \"Tìm ứng viên biết ERP\" -> \"...như SAP, Oracle...\" (SAI vì tự bịa thêm).\n\n   B. TRÍCH XUẤT BỘ LỌC (Structured Filters):\n      Trích xuất thông tin để điền vào 4 trường lọc sau. Nếu không có thông tin, BẮT BUỘC trả về `null`.\n\n      1. `filter_candidate_name`: Tên riêng ứng viên (không dấu, viết hoa chữ cái đầu).\n      \n      2.`filter_skills` (Array[String]): Danh sách Kỹ năng, Công nghệ, Chức danh.\n         - NGUYÊN TẮC CỐT LÕI: Chỉ trích xuất CHÍNH XÁC từ khóa xuất hiện trong câu hỏi. KHÔNG suy diễn, KHÔNG mở rộng sang công nghệ liên quan.\n         \n         - XỬ LÝ DANH SÁCH TRONG NGOẶC ĐƠN (...): \n           + Nếu user liệt kê kỹ năng cụ thể trong ngoặc, HÃY ƯU TIÊN trích xuất các từ khóa chi tiết trong ngoặc đó thay vì từ khóa bao quát bên ngoài.\n           + VD: \"Bộ công cụ Atlassian (Jira, Confluence)\" -> Lấy [\"Jira\", \"Confluence\"]. (Bỏ qua \"Atlassian\" vì đã có chi tiết).\n           + VD: \"Framework JS (React, Vue)\" -> Lấy [\"React\", \"Vue\"].\n\n         - ĐỐI VỚI KỸ NĂNG MỀM / TIỀM NĂNG: Chỉ trích xuất ĐÚNG từ khóa cốt lõi.\n           + VD: \"Ai có tiềm năng lãnh đạo\" -> [\"Lãnh đạo\"] (hoặc [\"Leadership\"]).\n\n         - XỬ LÝ LOGIC \"VÀ\" (AND): Nếu user yêu cầu \"A và B\", tách thành mảng [\"A\", \"B\"].\n         - XỬ LÝ LOGIC \"HOẶC\" (OR): Nếu user yêu cầu \"A hoặc B\", gộp thành chuỗi [\"A hoặc B\"].\n\n      3. `filter_experience`: Số năm, cấp bậc (VD: \"Senior\", \"3 năm\").\n         - Lưu ý: Nếu user yêu cầu Chức danh mà không có số năm (VD: \"Làm Product Owner\"), hãy điền chức danh đó vào đây.\n         - Nếu có logic \"hoặc\", giữ nguyên từ \"hoặc\".\n      \n      4. `filter_education`: Trường học, bằng cấp, Chứng chỉ Ngoại ngữ.\n         - Bao gồm tên trường, chuyên ngành VÀ các chứng chỉ cấp độ (Language Certificates).\n         - VD: \"Bách Khoa\", \"Cử nhân CNTT\", \"N3\", \"N2\", \"IELTS 7.0\", \"TOEIC\".\n         - Nếu user hỏi \"Bằng tiếng Nhật N3\" -> Lấy [\"N3\"] (hoặc [\"Tiếng Nhật N3\"] tùy ngữ cảnh, nhưng ưu tiên tên chứng chỉ).\n         - Tương tự: Giữ nguyên từ \"hoặc\" nếu có.\n---\nOUTPUT FORMAT (BẮT BUỘC JSON ONLY):\nBạn phải trả về DUY NHẤT chuỗi JSON này, không markdown, không giải thích thêm:\n\n{\n  \"answer\": string,                 // \"\" nếu là search\n  \"refined_question\": string,       // Câu truy vấn ngữ nghĩa\n  \"filter_candidate_name\": string|null,\n  \"filter_skills\": string[]|null,   // Luôn là mảng chuỗi hoặc null\n  \"filter_experience\": string|null,\n  \"filter_education\": string|string[]|null,\n  \"source\": \"search\" | \"greeting\",\n  \"needs_clarification\": boolean\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1888,
        -144
      ],
      "id": "ea0ac74c-326d-4ee1-9379-aa3d396fd142",
      "name": "message refined",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7692985-5757-4ed4-93cb-0419ce9eba62",
              "name": "score_threshold",
              "value": 0,
              "type": "number"
            },
            {
              "id": "e6b045cc-a7aa-4574-862c-64dce78ef5fe",
              "name": "limit",
              "value": 50,
              "type": "number"
            },
            {
              "id": "849d67e1-b602-44bb-843c-8067026a703d",
              "name": "query_vector",
              "value": "={{ $json.data[0].embedding }}",
              "type": "array"
            },
            {
              "id": "9ef126b6-8444-4a28-b594-8f373133b65b",
              "name": "with_payload",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        -144
      ],
      "id": "1442b8e3-7d6b-4555-b539-f0243c2027ec",
      "name": "add score_threshold"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://idiochromatic-cody-uninspiringly.ngrok-free.dev/collections/RAG_FOR_CV/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    // =====================================================================\n    // HELPER FUNCTIONS (GIỮ NGUYÊN)\n    // =====================================================================\n    \n    // 1. Chuẩn hóa text (Tiếng Việt không dấu)\n    function removeAccents(str) {\n      if (!str) return \"\";\n      return str.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/đ/g, \"d\").replace(/Đ/g, \"D\").trim();\n    }\n\n    // 2. Lấy số năm kinh nghiệm\n    function extractYearsFromFilter(str) {\n      if (!str) return null;\n      const match = str.match(/(\\d+([.,]\\d+)?)/);\n      return match ? parseFloat(match[0].replace(',', '.')) : null;\n    }\n\n    // 3. Tạo điều kiện match (Robust: Tìm cả có dấu & không dấu)\n    function generateMatchClauses(keyword, fields) {\n        const rawKey = keyword.trim();\n        const cleanKey = removeAccents(rawKey);\n        const conditions = [];\n\n        fields.forEach(field => {\n            // Match chính xác\n            conditions.push({ \"key\": field, \"match\": { \"text\": rawKey } });\n            // Match không dấu (nếu khác)\n            if (rawKey !== cleanKey) {\n                conditions.push({ \"key\": field, \"match\": { \"text\": cleanKey } });\n            }\n        });\n        return conditions;\n    }\n\n    // 4. Xử lý Logic (Flattened: Làm phẳng OR/AND để Qdrant dễ hiểu)\n    function processLogicFilter(textArray, fields, targetMustArray) {\n        if (!textArray) return;\n        const items = Array.isArray(textArray) ? textArray : [textArray];\n\n        items.forEach(item => {\n            if (!item || item.length > 50) return;\n\n            // Xử lý \"HOẶC\" / \"OR\" -> Gom hết vào 1 mảng Should\n            if (item.match(/\\s+(?:hoặc|or)\\s+/i)) {\n                const parts = item.split(/\\s+(?:hoặc|or)\\s+/i);\n                let aggregatedShoulds = [];\n                parts.forEach(part => {\n                    const clauses = generateMatchClauses(part, fields);\n                    aggregatedShoulds.push(...clauses);\n                });\n                targetMustArray.push({ \"should\": aggregatedShoulds });\n            } \n            // Xử lý \"VÀ\" / \"AND\" -> Tách từng cái bắt buộc phải có\n            else {\n                const parts = item.split(/\\s*(?:và|and|,)\\s*/i);\n                parts.forEach(part => { \n                    if(part.trim()) {\n                        const clauses = generateMatchClauses(part, fields);\n                        targetMustArray.push({ \"should\": clauses }); \n                    }\n                });\n            }\n        });\n    }\n\n    // =====================================================================\n    // MAIN LOGIC\n    // =====================================================================\n\n    // 1. Lấy Vector Input\n    let vector = $json.query_vector || $json.vector;\n    if (!vector || vector.length === 0) { vector = new Array(1536).fill(0); }\n\n    // 2. Lấy dữ liệu từ AI\n    let aiJson = {};\n    try {\n      if ($('message refined') && $('message refined').item) {\n          aiJson = $('message refined').item.json.parsed_json || JSON.parse($('message refined').item.json.output);\n      }\n    } catch (e) { aiJson = {}; }\n\n    let mustConditions = [];\n\n    // [QUAN TRỌNG] ĐỊNH NGHĨA PHẠM VI TÌM KIẾM THỐNG NHẤT (UNIFIED SCOPE)\n    // Dùng danh sách này cho cả Skill và Education để không bao giờ sót.\n    const unifiedFields = [\n        \"skills_list\", // Nơi chứa kỹ năng cứng\n        \"school\",      // Trường học\n        \"major\",       // Chuyên ngành\n        \"degree\",      // Bằng cấp\n        \"certificate\", // Chứng chỉ\n        \"role\",        // Chức danh\n        \"text\"         // Toàn văn CV\n    ];\n    \n    // A. LỌC TÊN (Giữ nguyên)\n    if (aiJson.filter_candidate_name) {\n      const clauses = generateMatchClauses(aiJson.filter_candidate_name, [\"candidate_name\"]);\n      mustConditions.push({ \"should\": clauses });\n    }\n\n    // B. LỌC KINH NGHIỆM (Giữ nguyên logic thông minh)\n    if (aiJson.filter_experience) {\n        const years = extractYearsFromFilter(aiJson.filter_experience);\n        if (years !== null) { \n            mustConditions.push({ \"key\": \"experience_years\", \"range\": { \"gte\": years } }); \n        } else { \n            // Nếu tìm Role, cũng tìm trong unifiedFields luôn cho chắc\n            processLogicFilter([aiJson.filter_experience], unifiedFields, mustConditions); \n        }\n    }\n    if (aiJson.filter_job_title || aiJson.filter_role) { \n        processLogicFilter([aiJson.filter_job_title || aiJson.filter_role], unifiedFields, mustConditions); \n    }\n\n    // ====================================================\n    // C. LỌC KỸ NĂNG (Dùng Unified Fields)\n    // ====================================================\n    // Dù AI bảo là Skill, ta vẫn tìm trong cả Certificate/School...\n    if (aiJson.filter_skills) { \n        processLogicFilter(aiJson.filter_skills, unifiedFields, mustConditions); \n    }\n\n    // ====================================================\n    // D. LỌC HỌC VẤN (Dùng Unified Fields)\n    // ====================================================\n    // Dù AI bảo là Edu, ta vẫn tìm trong cả Skills...\n    if (aiJson.filter_education) { \n        const edu = Array.isArray(aiJson.filter_education) ? aiJson.filter_education : [aiJson.filter_education];\n        processLogicFilter(edu, unifiedFields, mustConditions); \n    }\n\n    // ====================================================\n    // CẤU HÌNH OUTPUT\n    // ====================================================\n    \n    let smartThreshold = 0; \n    if (mustConditions.length === 0) {\n        smartThreshold = 0.78; \n    } else {\n        smartThreshold = 0.60; \n    }\n    if ($json.score_threshold !== undefined) {\n        smartThreshold = $json.score_threshold;\n    }\n\n    let baseLimit = 15;\n    if (aiJson.filter_candidate_name) baseLimit = 5; \n    else if (mustConditions.length > 0) baseLimit = 100;\n    \n    let inputLimit = $json.limit || 0;\n    let limit = inputLimit > baseLimit ? inputLimit : baseLimit;\n\n    let body = {\n      \"vector\": $json.query_vector,\n      \"limit\": limit,\n      \"with_payload\": true,\n      \"score_threshold\": smartThreshold, \n      \"group_by\": \"candidate_id\", \n      \"group_size\": 1 \n    };\n\n    if (mustConditions.length > 0) {\n      body.filter = { \"must\": mustConditions };\n    }\n\n    return JSON.stringify(body);\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        -144
      ],
      "id": "0a69d736-8db4-4772-b807-5022d22763b2",
      "name": "QdrantSearch",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer 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\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: \"text-embedding-3-small\",\n  input: $json.refined_question\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        -144
      ],
      "id": "46612366-f4dd-4d29-b627-70876502f346",
      "name": "EmbbedingVector"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot_web",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2336,
        -144
      ],
      "id": "da21a4e0-c52f-41a9-865c-6205d466e7ba",
      "name": "Webhook",
      "webhookId": "8a33f409-00d9-4293-b578-f925198ea31e"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8ndev.ndsvn.vn",
            "x-real-ip": "10.86.6.73",
            "x-forwarded-for": "10.86.6.73",
            "x-forwarded-proto": "https",
            "content-length": "111172",
            "x-n8n-api-key": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3NDc5YTc1My05MDJkLTQ1NDItYTlkYy03Y2Y2ZWI2YTI5YjgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY1NTA1MDY1fQ.2jvuZTRLH5v1aEp6aGO_-M6d8XT9e9JT8wVCDMcydBg",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "br, gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "Ai là người có khả năng giao tiếp tiếng Nhật (N3 trở lên)?",
            "history": [
              {
                "id": "1",
                "role": "assistant",
                "content": "Xin chào! Tôi là RecruitPRO Agent. Tôi có thể giúp gì cho bạn? Ví dụ: \"Ai có kinh nghiệm React?\"",
                "timestamp": 1766718107314
              },
              {
                "id": "1766718108419",
                "role": "user",
                "content": "Ai có tiềm năng lãnh đạo?",
                "timestamp": 1766718108419
              },
              {
                "id": "1766718123129",
                "role": "assistant",
                "content": "Tìm thấy 5 ứng viên có tiềm năng lãnh đạo với kinh nghiệm từ 2.5 đến hơn 7 năm, kèm thông tin liên hệ chi tiết.\n\nVo Quoc Thang – [Link CV](https://drive.google.com/file/d/1EgvS9MdAXCerNudccQ3kjGGS6FA8_lSB)\n- Email: thangvoquoc2810@gmail.com | Phone: 092 - 717 - 0723\n- Kinh nghiệm: 3.5 năm\n- Vai trò lãnh đạo: Lãnh đạo các sáng kiến quản lý dự án và tối ưu hóa hoạt động tại Phee Group.\nDinh Hoang Tien – [Link CV](https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F)\n- Email: tien.dh95@gmail.com | Phone: 070 - 384 - 4100\n- Kinh nghiệm: 7+ năm\n- Vai trò lãnh đạo: Lãnh đạo nhóm nghiên cứu 6 thành viên tại Kompa, quản lý khủng hoảng truyền thông và dịch vụ hậu mãi.\nLong Nguyen – [Link CV](https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm)\n- Email: nguyenthanhlong7997@gmail.com | Phone: 076 - 878 - 0801\n- Kinh nghiệm: 6.5 năm\n- Vai trò lãnh đạo: Có kỹ năng lãnh đạo, quản lý các bên liên quan và hợp tác đa chức năng.\nNguyen Chau Giang – [Link CV](https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5)\n- Email: nguyenchaugiang5211@gmail.com | Phone: 037 - 307 - 5225\n- Kinh nghiệm: 4 năm 11 tháng\n- Vai trò lãnh đạo: Product Owner, lãnh đạo nhiều dòng sản phẩm B2B và sản phẩm thuê ngoài.\nNguyen Y – [Link CV](https://drive.google.com/file/d/11VCcj4PDVJp2P7shWSDZH_9FzgCxXBct)\n- Email: ny64394@gmail.com | Phone: 088 - 631 - 5580\n- Kinh nghiệm: 2.5 năm\n- Vai trò lãnh đạo: Có kỹ năng lãnh đạo, giao tiếp và thuyết trình.",
                "timestamp": 1766718123129,
                "candidates": [
                  {
                    "id": "17667181231286845445637906301",
                    "name": "Vo Quoc Thang",
                    "summary": "• Kinh nghiệm: 3.5 năm\n• Vai trò lãnh đạo: Lãnh đạo các sáng kiến quản lý dự án và tối ưu hóa hoạt động tại Phee Group.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "thangvoquoc2810@gmail.com",
                    "phone": "092 - 717 - 0723",
                    "link_cv": "https://drive.google.com/file/d/1EgvS9MdAXCerNudccQ3kjGGS6FA8_lSB",
                    "file_url": "https://drive.google.com/file/d/1EgvS9MdAXCerNudccQ3kjGGS6FA8_lSB"
                  },
                  {
                    "id": "176671812312917668519078704337",
                    "name": "Dinh Hoang Tien",
                    "summary": "• Kinh nghiệm: 7+ năm\n• Vai trò lãnh đạo: Lãnh đạo nhóm nghiên cứu 6 thành viên tại Kompa, quản lý khủng hoảng truyền thông và dịch vụ hậu mãi.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "tien.dh95@gmail.com",
                    "phone": "070 - 384 - 4100",
                    "link_cv": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F",
                    "file_url": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F"
                  },
                  {
                    "id": "17667181231296596247157286168",
                    "name": "Long Nguyen",
                    "summary": "• Kinh nghiệm: 6.5 năm\n• Vai trò lãnh đạo: Có kỹ năng lãnh đạo, quản lý các bên liên quan và hợp tác đa chức năng.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "nguyenthanhlong7997@gmail.com",
                    "phone": "076 - 878 - 0801",
                    "link_cv": "https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm",
                    "file_url": "https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm"
                  },
                  {
                    "id": "17667181231299090598138835857",
                    "name": "Nguyen Chau Giang",
                    "summary": "• Kinh nghiệm: 4 năm 11 tháng\n• Vai trò lãnh đạo: Product Owner, lãnh đạo nhiều dòng sản phẩm B2B và sản phẩm thuê ngoài.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "nguyenchaugiang5211@gmail.com",
                    "phone": "037 - 307 - 5225",
                    "link_cv": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5",
                    "file_url": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5"
                  },
                  {
                    "id": "176671812312923653012370063553",
                    "name": "Nguyen Y",
                    "summary": "• Kinh nghiệm: 2.5 năm\n• Vai trò lãnh đạo: Có kỹ năng lãnh đạo, giao tiếp và thuyết trình.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "ny64394@gmail.com",
                    "phone": "088 - 631 - 5580",
                    "link_cv": "https://drive.google.com/file/d/11VCcj4PDVJp2P7shWSDZH_9FzgCxXBct",
                    "file_url": "https://drive.google.com/file/d/11VCcj4PDVJp2P7shWSDZH_9FzgCxXBct"
                  }
                ]
              },
              {
                "id": "1766718151825",
                "role": "user",
                "content": "ai có thể làm leader",
                "timestamp": 1766718151825
              },
              {
                "id": "1766718165347",
                "role": "assistant",
                "content": "Tìm thấy 4 ứng viên có khả năng làm leader với kinh nghiệm từ 1.5 năm đến hơn 9 năm, kèm thông tin liên hệ chi tiết.\n\nNguyễn Trác Quốc Việt – [Link CV](https://drive.google.com/file/d/1fNlm26vkLUaoRXcm-cPC9qbdvsOiLm7F)\n- Kinh nghiệm: 1.5 năm\n- Email: nguyentracquocviet02@gmail.com | SĐT: 032 - 877 - 7624\nTran Van Duc – [Link CV](https://drive.google.com/file/d/1TbUo9a-BLeX6aHPzjoJ7wCkkJZnO5JQF)\n- Kinh nghiệm: 4 năm 3 tháng\n- Kỹ năng: Leadership & Agile Facilitation, Teamwork, Communication & Stakeholder Management\n- Email: ducforwork@gmail.com | SĐT: 090 - 595 - 5256\nVo Hoang Nhan – [Link CV](https://drive.google.com/file/d/19NsDyTlouI87V7uQbt9d3uXnV4eBbb4s)\n- Kinh nghiệm: 9.5 năm\n- Kỹ năng: Leadership, Project management, Stakeholder management, Agile/Waterfall methodology\n- Email: chrisvo.hoang@gmail.com | SĐT: 038 - 686 - 7712\nDinh Hoang Tien – [Link CV](https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F)\n- Kinh nghiệm: 7+ năm\n- Vị trí: Research Executive Leader, lãnh đạo nhóm 6 thành viên\n- Email: tien.dh95@gmail.com | SĐT: 070 - 384 - 4100",
                "timestamp": 1766718165347,
                "candidates": [
                  {
                    "id": "1766718165347016422010960536526",
                    "name": "Nguyễn Trác Quốc Việt",
                    "summary": "• Kinh nghiệm: 1.5 năm",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "nguyentracquocviet02@gmail.com",
                    "phone": "032 - 877 - 7624",
                    "link_cv": "https://drive.google.com/file/d/1fNlm26vkLUaoRXcm-cPC9qbdvsOiLm7F",
                    "file_url": "https://drive.google.com/file/d/1fNlm26vkLUaoRXcm-cPC9qbdvsOiLm7F"
                  },
                  {
                    "id": "176671816534749462166714986844",
                    "name": "Tran Van Duc",
                    "summary": "• Kinh nghiệm: 4 năm 3 tháng",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [
                      "Leadership & Agile Facilitation",
                      "Teamwork",
                      "Communication & Stakeholder Management"
                    ],
                    "email": "ducforwork@gmail.com",
                    "phone": "090 - 595 - 5256",
                    "link_cv": "https://drive.google.com/file/d/1TbUo9a-BLeX6aHPzjoJ7wCkkJZnO5JQF",
                    "file_url": "https://drive.google.com/file/d/1TbUo9a-BLeX6aHPzjoJ7wCkkJZnO5JQF"
                  },
                  {
                    "id": "17667181653479179952822928305",
                    "name": "Vo Hoang Nhan",
                    "summary": "• Kinh nghiệm: 9.5 năm",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [
                      "Leadership",
                      "Project management",
                      "Stakeholder management",
                      "Agile/Waterfall methodology"
                    ],
                    "email": "chrisvo.hoang@gmail.com",
                    "phone": "038 - 686 - 7712",
                    "link_cv": "https://drive.google.com/file/d/19NsDyTlouI87V7uQbt9d3uXnV4eBbb4s",
                    "file_url": "https://drive.google.com/file/d/19NsDyTlouI87V7uQbt9d3uXnV4eBbb4s"
                  },
                  {
                    "id": "17667181653478138761845261926",
                    "name": "Dinh Hoang Tien",
                    "summary": "• Kinh nghiệm: 7+ năm\n• Vị trí: Research Executive Leader, lãnh đạo nhóm 6 thành viên",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "tien.dh95@gmail.com",
                    "phone": "070 - 384 - 4100",
                    "link_cv": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F",
                    "file_url": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F"
                  }
                ]
              },
              {
                "id": "1766718202515",
                "role": "user",
                "content": "Ai là người có kinh nghiệm làm việc với các hệ thống Healthcare (Y tế) hoặc Quản lý bệnh viện?",
                "timestamp": 1766718202515
              },
              {
                "id": "1766718210601",
                "role": "assistant",
                "content": "Tìm thấy 1 ứng viên có kinh nghiệm làm việc với hệ thống Healthcare, có thông tin liên hệ đầy đủ.\n\nTran Quoc Kiet – [Link CV](https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX)\n- Email: kiettran27101999@gmail.com | Phone: 090 - 385 - 4218\n- Kinh nghiệm: 5+ năm, trong đó có kinh nghiệm làm IT Business Analyst chuyên về Healthcare tại GKIM Digital. Công việc liên quan đến hợp tác với quản lý kỹ thuật và cơ sở dữ liệu để cung cấp giải pháp mở rộng, đào tạo và hướng dẫn thực tập sinh, hỗ trợ nhóm QA kiểm chứng logic nghiệp vụ, chỉ đạo kiểm thử tích hợp API, lập tài liệu đặc tả API, sử dụng AI để tối ưu nghiên cứu và tạo test case, thiết lập tiêu chuẩn ticket trên Jira.",
                "timestamp": 1766718210601,
                "candidates": [
                  {
                    "id": "17667182106012544731472129823",
                    "name": "Tran Quoc Kiet",
                    "summary": "• Kinh nghiệm: 5+ năm, trong đó có kinh nghiệm làm IT Business Analyst chuyên về Healthcare tại GKIM Digital. Công việc liên quan đến hợp tác với quản lý kỹ thuật và cơ sở dữ liệu để cung cấp giải pháp mở rộng, đào tạo và hướng dẫn thực tập sinh, hỗ trợ nhóm QA kiểm chứng logic nghiệp vụ, chỉ đạo kiểm thử tích hợp API, lập tài liệu đặc tả API, sử dụng AI để tối ưu nghiên cứu và tạo test case, thiết lập tiêu chuẩn ticket trên Jira.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "kiettran27101999@gmail.com",
                    "phone": "090 - 385 - 4218",
                    "link_cv": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX",
                    "file_url": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX"
                  }
                ]
              },
              {
                "id": "1766718240600",
                "role": "user",
                "content": "Tìm các ứng viên đã từng làm việc ở vai trò Product Owner hoặc Scrum Master (bên cạnh vai trò BA).",
                "timestamp": 1766718240600
              },
              {
                "id": "1766718247361",
                "role": "assistant",
                "content": "Tìm thấy 1 ứng viên từng làm Product Owner và có kinh nghiệm làm việc cùng BA, kèm thông tin liên hệ.\n\nNguyen Chau Giang – [Link CV](https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5)\n- Vai trò: Product Owner tại Tesosoft, có kinh nghiệm làm việc cùng BA trong nhóm\n- Email: nguyenchaugiang5211@gmail.com | SĐT: 037 - 307 - 5225\n- Tổng kinh nghiệm: 4 năm 11 tháng",
                "timestamp": 1766718247361,
                "candidates": [
                  {
                    "id": "176671824736105584295057070621",
                    "name": "Nguyen Chau Giang",
                    "summary": "• Vai trò: Product Owner tại Tesosoft, có kinh nghiệm làm việc cùng BA trong nhóm\n• Tổng kinh nghiệm: 4 năm 11 tháng",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "nguyenchaugiang5211@gmail.com",
                    "phone": "037 - 307 - 5225",
                    "link_cv": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5",
                    "file_url": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5"
                  }
                ]
              },
              {
                "id": "1766718342430",
                "role": "user",
                "content": "cho tôi các ứng viên có kỹ năng BA",
                "timestamp": 1766718342430
              },
              {
                "id": "1766718367591",
                "role": "assistant",
                "content": "Tìm thấy 11 hồ sơ ứng viên có kỹ năng Business Analyst với kinh nghiệm từ 2.5 đến 8 năm, kèm thông tin liên hệ đầy đủ.\n\nNguyễn Thị Anh Đào – [Link CV](https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem)\n- Email: daohtttql@gmail.com | SĐT: 052 - 887 - 1169\n- Kinh nghiệm: 3 năm Business Analyst\nTran Thi Thu Oanh – [Link CV](https://drive.google.com/file/d/1eHGI3WlB_NPwpVReNWvV26THbfbsvu9U)\n- Email: thuoanh06032001@gmail.com | SĐT: 097 - 928 - 3870\n- Kinh nghiệm: 3.5 năm Business Analyst tại TESOGLOBAL COMPANY\nNguyễn Hoàng Ân – [Link CV](https://drive.google.com/file/d/13faWWCs0rUicj2UGJcCAU3wb6_e2tiyF)\n- Email: annguyenhoang20@gmail.com | SĐT: 098 - 333 - 6120\n- Kinh nghiệm: 3 năm Credit Officer (liên quan BA ít hơn)\nPhan Minh Nhat – [Link CV](https://drive.google.com/file/d/1HCXdEf4VaAkXAGqOzY7TXa8K6h0R6FYO)\n- Email: phannht98@gmail.com | SĐT: 036 - 297 - 9816\n- Kinh nghiệm: 3.5 năm Account - Business Analyst tại FRACTAL TECHNOLOGY CORPORATION và GSOFT COMPANY\nTran Hoang Quan – [Link CV](https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg)\n- Email: quan.tranhoang14@gmail.com | SĐT: 096 - 898 - 6364\n- Kinh nghiệm: 6.4 năm (chủ yếu English Teacher, không phải BA)\nNguyen Duc Nhan – [Link CV](https://drive.google.com/file/d/1fsOx-vfHeINAcP2Wlyfuk5UW78k0bm4w)\n- Email: nhannguyen14.dev@gmail.com | SĐT: 087 - 752 - 2662\n- Kinh nghiệm: 3 năm Business Analyst với bộ kỹ năng chuyên sâu về BA\nHoang Nguyen Phuong Thanh – [Link CV](https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0)\n- Email: hoangthanh6102003@gmail.com | SĐT: 083 - 829 - 9280\n- Kinh nghiệm: 2.5 năm Quality Control Intern phối hợp với BA và PO\nTran Quoc Kiet – [Link CV](https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX)\n- Email: kiettran27101999@gmail.com | SĐT: 090 - 385 - 4218\n- Kinh nghiệm: 5+ năm IT Business Analyst - Healthcare\nNguyen Chau Giang – [Link CV](https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5)\n- Email: nguyenchaugiang5211@gmail.com | SĐT: 037 - 307 - 5225\n- Kinh nghiệm: 4 năm 11 tháng BA và Product/Project Manager\nVan Phong Bui – [Link CV](https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW)\n- Email: phongbv.j4s@gmail.com | SĐT: 038 - 981 - 3641\n- Kinh nghiệm: 8 năm Business Analyst (CMS, Public Sector)\nNguyen Khoa Thien Long – [Link CV](https://drive.google.com/file/d/14QTzHwgw4nLQL_KhnVDYeTFV8Nzga-mw)\n- Email: nguyenkhoathienlong313@gmail.com | SĐT: 096 - 729 - 1546\n- Kinh nghiệm: 3.5 năm IT Business Analyst",
                "timestamp": 1766718367591,
                "candidates": [
                  {
                    "id": "17667183675917398949796469878",
                    "name": "Nguyễn Thị Anh Đào",
                    "summary": "• Kinh nghiệm: 3 năm Business Analyst",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 3,
                    "skills_found": [],
                    "email": "daohtttql@gmail.com",
                    "phone": "052 - 887 - 1169",
                    "link_cv": "https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem",
                    "file_url": "https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem"
                  },
                  {
                    "id": "17667183675916273897978221559",
                    "name": "Tran Thi Thu Oanh",
                    "summary": "• Kinh nghiệm: 3.5 năm Business Analyst tại TESOGLOBAL COMPANY",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "thuoanh06032001@gmail.com",
                    "phone": "097 - 928 - 3870",
                    "link_cv": "https://drive.google.com/file/d/1eHGI3WlB_NPwpVReNWvV26THbfbsvu9U",
                    "file_url": "https://drive.google.com/file/d/1eHGI3WlB_NPwpVReNWvV26THbfbsvu9U"
                  },
                  {
                    "id": "17667183675911424980431612637",
                    "name": "Nguyễn Hoàng Ân",
                    "summary": "• Kinh nghiệm: 3 năm Credit Officer (liên quan BA ít hơn)",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 3,
                    "skills_found": [],
                    "email": "annguyenhoang20@gmail.com",
                    "phone": "098 - 333 - 6120",
                    "link_cv": "https://drive.google.com/file/d/13faWWCs0rUicj2UGJcCAU3wb6_e2tiyF",
                    "file_url": "https://drive.google.com/file/d/13faWWCs0rUicj2UGJcCAU3wb6_e2tiyF"
                  },
                  {
                    "id": "17667183675912906514175960928",
                    "name": "Phan Minh Nhat",
                    "summary": "• Kinh nghiệm: 3.5 năm Account - Business Analyst tại FRACTAL TECHNOLOGY CORPORATION và GSOFT COMPANY",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "phannht98@gmail.com",
                    "phone": "036 - 297 - 9816",
                    "link_cv": "https://drive.google.com/file/d/1HCXdEf4VaAkXAGqOzY7TXa8K6h0R6FYO",
                    "file_url": "https://drive.google.com/file/d/1HCXdEf4VaAkXAGqOzY7TXa8K6h0R6FYO"
                  },
                  {
                    "id": "17667183675918582994591767318",
                    "name": "Tran Hoang Quan",
                    "summary": "• Kinh nghiệm: 6.4 năm (chủ yếu English Teacher, không phải BA)",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "quan.tranhoang14@gmail.com",
                    "phone": "096 - 898 - 6364",
                    "link_cv": "https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg",
                    "file_url": "https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg"
                  },
                  {
                    "id": "176671836759168600419084409",
                    "name": "Nguyen Duc Nhan",
                    "summary": "• Kinh nghiệm: 3 năm Business Analyst với bộ kỹ năng chuyên sâu về BA",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 3,
                    "skills_found": [],
                    "email": "nhannguyen14.dev@gmail.com",
                    "phone": "087 - 752 - 2662",
                    "link_cv": "https://drive.google.com/file/d/1fsOx-vfHeINAcP2Wlyfuk5UW78k0bm4w",
                    "file_url": "https://drive.google.com/file/d/1fsOx-vfHeINAcP2Wlyfuk5UW78k0bm4w"
                  },
                  {
                    "id": "176671836759125371089058071494",
                    "name": "Hoang Nguyen Phuong Thanh",
                    "summary": "• Kinh nghiệm: 2.5 năm Quality Control Intern phối hợp với BA và PO",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "hoangthanh6102003@gmail.com",
                    "phone": "083 - 829 - 9280",
                    "link_cv": "https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0",
                    "file_url": "https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0"
                  },
                  {
                    "id": "17667183675918279394193621938",
                    "name": "Tran Quoc Kiet",
                    "summary": "• Kinh nghiệm: 5+ năm IT Business Analyst - Healthcare",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "kiettran27101999@gmail.com",
                    "phone": "090 - 385 - 4218",
                    "link_cv": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX",
                    "file_url": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX"
                  },
                  {
                    "id": "17667183675919029869382112231",
                    "name": "Nguyen Chau Giang",
                    "summary": "• Kinh nghiệm: 4 năm 11 tháng BA và Product/Project Manager",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "nguyenchaugiang5211@gmail.com",
                    "phone": "037 - 307 - 5225",
                    "link_cv": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5",
                    "file_url": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5"
                  },
                  {
                    "id": "17667183675919451217377401612",
                    "name": "Van Phong Bui",
                    "summary": "• Kinh nghiệm: 8 năm Business Analyst (CMS, Public Sector)",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 8,
                    "skills_found": [],
                    "email": "phongbv.j4s@gmail.com",
                    "phone": "038 - 981 - 3641",
                    "link_cv": "https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW",
                    "file_url": "https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW"
                  },
                  {
                    "id": "17667183675916742963466240132",
                    "name": "Nguyen Khoa Thien Long",
                    "summary": "• Kinh nghiệm: 3.5 năm IT Business Analyst",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "nguyenkhoathienlong313@gmail.com",
                    "phone": "096 - 729 - 1546",
                    "link_cv": "https://drive.google.com/file/d/14QTzHwgw4nLQL_KhnVDYeTFV8Nzga-mw",
                    "file_url": "https://drive.google.com/file/d/14QTzHwgw4nLQL_KhnVDYeTFV8Nzga-mw"
                  }
                ]
              },
              {
                "id": "1766718495116",
                "role": "user",
                "content": "Liệt kê những người đã từng tham gia dự án Global (Quốc tế) hoặc làm việc trực tiếp với khách hàng nước ngoài (Mỹ, Nhật, Âu).",
                "timestamp": 1766718495116
              },
              {
                "id": "1766718533558",
                "role": "assistant",
                "content": "Tìm thấy 15 ứng viên có kinh nghiệm tham gia dự án Global hoặc làm việc trực tiếp với khách hàng nước ngoài, kèm thông tin liên hệ và kinh nghiệm cụ thể.\n\nNguyen Dang Khoa – [Link CV](https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU)\n- Email: ngdkhoa3979@gmail.com | Phone: 097 - 939 - 8692\n- Kinh nghiệm: Hơn 5 năm kinh nghiệm, trong đó có kinh nghiệm làm Business Analyst cum Project Manager tại KIMEI Global, hợp tác với phát triển kinh doanh trong các dự án quốc tế.\nVo Hoang Nhan – [Link CV](https://drive.google.com/file/d/19NsDyTlouI87V7uQbt9d3uXnV4eBbb4s)\n- Email: chrisvo.hoang@gmail.com | Phone: 038 - 686 - 7712\n- Kinh nghiệm: 9.5 năm kinh nghiệm, làm việc chặt chẽ với khách hàng và các bên liên quan, có kinh nghiệm quốc tế, đặc biệt trong vai trò Middle-Senior Business Analyst tại DIGI-TEXX VN và VIDIVA Technology.\nTran Quoc Kiet – [Link CV](https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX)\n- Email: kiettran27101999@gmail.com | Phone: 090 - 385 - 4218\n- Kinh nghiệm: 5 năm kinh nghiệm, từng làm IT Business Analyst tại Prudential Vietnam Assurance và VIB - Vietnam International Bank, có kinh nghiệm làm việc với khách hàng quốc tế.\nNguyen Trung Hieu – [Link CV](https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw)\n- Email: hieunt07101999@gmail.com | Phone: 094 - 200 - 2794\n- Kinh nghiệm: Khoảng 4.9 năm kinh nghiệm, Technical Product Owner tại Timo Digital Bank, có kinh nghiệm làm việc với khách hàng quốc tế như Ocean Network Express.\nDinh Hoang Tien – [Link CV](https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F)\n- Email: tien.dh95@gmail.com | Phone: 070 - 384 - 4100\n- Kinh nghiệm: Hơn 7 năm kinh nghiệm, Business Analyst tại Vu Thao Software Solution, tham gia phân tích nghiệp vụ cho các dự án quản lý tài liệu và ứng dụng cho Petrolimex, Vietnam Airlines, Hoa Phat – có yếu tố quốc tế.\nPham Anh Tuan – [Link CV](https://drive.google.com/file/d/1tGsXlk_dtmJT8jS2pqnjoRdrlCdiL8oh)\n- Email: phamtuanhp1994@gmail.com | Phone: 081 - 650 - 1816\n- Kinh nghiệm: 4.5 năm kinh nghiệm, Senior Client Service Associate tại DIALECTICA, có kinh nghiệm làm việc trực tiếp với khách hàng quốc tế.\nTran Hoang Quan – [Link CV](https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg)\n- Email: quan.tranhoang14@gmail.com | Phone: 096 - 898 - 6364\n- Kinh nghiệm: 6.4 năm kinh nghiệm, Product Assistant Manager tại BIN Coperation, có kỹ năng tiếng Nhật (N2) và tiếng Anh, làm việc với khách hàng đa quốc gia.\nHa Nguyen Hai Dang – [Link CV](https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI)\n- Email: danghanguyenhai@gmail.com | Phone: 083 - 399 - 6989\n- Kinh nghiệm: 4.5 năm kinh nghiệm, Business Analyst tại SHB Finance, hợp tác với Product Owner và các bộ phận kinh doanh, có kinh nghiệm làm việc trong môi trường quốc tế.\nLong Nguyen – [Link CV](https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm)\n- Email: nguyenthanhlong7997@gmail.com | Phone: 076 - 878 - 0801\n- Kinh nghiệm: 6.5 năm kinh nghiệm, Business Analyst/Product Owner tại Liberty Group, cung cấp hệ thống quản lý nhân sự nội bộ, tối ưu hóa hoạt động toàn công ty, có kinh nghiệm làm việc với khách hàng đa quốc gia.\nTruong Le Hoang Van – [Link CV](https://drive.google.com/file/d/1QI00JOxbIUoz8w_vgvEFOJJjed3amZs-)\n- Email: hoangvantruong.work@gmail.com | Phone: 098 - 119 - 4912\n- Kinh nghiệm: 1.5 năm kinh nghiệm, Junior Business Analyst tại Saigon Technology HCMC, Business Analyst Intern tại Heineken Vietnam (Tiger Tribe Tech Hub), có kinh nghiệm làm việc trong môi trường đa quốc gia.\nPhan Minh Nhat – [Link CV](https://drive.google.com/file/d/1HCXdEf4VaAkXAGqOzY7TXa8K6h0R6FYO)\n- Email: phannht98@gmail.com | Phone: 036 - 297 - 9816\n- Kinh nghiệm: 3.5 năm kinh nghiệm, Business Analyst tại AEGONA COMPANY, có tham gia dự án kiểm thử người dùng và quản lý tài liệu trong môi trường quốc tế.\nNguyen Thi Anh Dao – [Link CV](https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem)\n- Email: daohtttql@gmail.com | Phone: 052 - 887 - 1169\n- Kinh nghiệm: 3 năm kinh nghiệm, Business Analyst tại AziWorld Company, đóng vai trò cầu nối với các bên liên quan, có kinh nghiệm làm việc với khách hàng quốc tế.\nTrần Quốc Cường – [Link CV](https://drive.google.com/file/d/1O12bFXtNmX-gcw9uTUxtJdKX8wJANQO_)\n- Email: cuongtran090301@gmail.com | Phone: 093 - 751 - 1804\n- Kinh nghiệm: 2 năm kinh nghiệm, Business Analyst tại SHINHANLIFE VIETNAM, có kỹ năng tạo use cases và hỗ trợ UAT trong môi trường đa quốc gia.",
                "timestamp": 1766718533558,
                "candidates": [
                  {
                    "id": "17667185335579990670246464016",
                    "name": "Nguyen Dang Khoa",
                    "summary": "• Kinh nghiệm: Hơn 5 năm kinh nghiệm, trong đó có kinh nghiệm làm Business Analyst cum Project Manager tại KIMEI Global, hợp tác với phát triển kinh doanh trong các dự án quốc tế.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "ngdkhoa3979@gmail.com",
                    "phone": "097 - 939 - 8692",
                    "link_cv": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU",
                    "file_url": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU"
                  },
                  {
                    "id": "1766718533558027217308837713228",
                    "name": "Vo Hoang Nhan",
                    "summary": "• Kinh nghiệm: 9.5 năm kinh nghiệm, làm việc chặt chẽ với khách hàng và các bên liên quan, có kinh nghiệm quốc tế, đặc biệt trong vai trò Middle-Senior Business Analyst tại DIGI-TEXX VN và VIDIVA Technology.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "chrisvo.hoang@gmail.com",
                    "phone": "038 - 686 - 7712",
                    "link_cv": "https://drive.google.com/file/d/19NsDyTlouI87V7uQbt9d3uXnV4eBbb4s",
                    "file_url": "https://drive.google.com/file/d/19NsDyTlouI87V7uQbt9d3uXnV4eBbb4s"
                  },
                  {
                    "id": "17667185335585938332533412854",
                    "name": "Tran Quoc Kiet",
                    "summary": "• Kinh nghiệm: 5 năm kinh nghiệm, từng làm IT Business Analyst tại Prudential Vietnam Assurance và VIB - Vietnam International Bank, có kinh nghiệm làm việc với khách hàng quốc tế.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "kiettran27101999@gmail.com",
                    "phone": "090 - 385 - 4218",
                    "link_cv": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX",
                    "file_url": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX"
                  },
                  {
                    "id": "17667185335588514042231384857",
                    "name": "Nguyen Trung Hieu",
                    "summary": "• Kinh nghiệm: Khoảng 4.9 năm kinh nghiệm, Technical Product Owner tại Timo Digital Bank, có kinh nghiệm làm việc với khách hàng quốc tế như Ocean Network Express.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 9,
                    "skills_found": [],
                    "email": "hieunt07101999@gmail.com",
                    "phone": "094 - 200 - 2794",
                    "link_cv": "https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw",
                    "file_url": "https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw"
                  },
                  {
                    "id": "17667185335582598061577634533",
                    "name": "Dinh Hoang Tien",
                    "summary": "• Kinh nghiệm: Hơn 7 năm kinh nghiệm, Business Analyst tại Vu Thao Software Solution, tham gia phân tích nghiệp vụ cho các dự án quản lý tài liệu và ứng dụng cho Petrolimex, Vietnam Airlines, Hoa Phat – có yếu tố quốc tế.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 7,
                    "skills_found": [],
                    "email": "tien.dh95@gmail.com",
                    "phone": "070 - 384 - 4100",
                    "link_cv": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F",
                    "file_url": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F"
                  },
                  {
                    "id": "1766718533558412348383559083",
                    "name": "Pham Anh Tuan",
                    "summary": "• Kinh nghiệm: 4.5 năm kinh nghiệm, Senior Client Service Associate tại DIALECTICA, có kinh nghiệm làm việc trực tiếp với khách hàng quốc tế.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "phamtuanhp1994@gmail.com",
                    "phone": "081 - 650 - 1816",
                    "link_cv": "https://drive.google.com/file/d/1tGsXlk_dtmJT8jS2pqnjoRdrlCdiL8oh",
                    "file_url": "https://drive.google.com/file/d/1tGsXlk_dtmJT8jS2pqnjoRdrlCdiL8oh"
                  },
                  {
                    "id": "176671853355832984632229973343",
                    "name": "Tran Hoang Quan",
                    "summary": "• Kinh nghiệm: 6.4 năm kinh nghiệm, Product Assistant Manager tại BIN Coperation, có kỹ năng tiếng Nhật (N2) và tiếng Anh, làm việc với khách hàng đa quốc gia.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "quan.tranhoang14@gmail.com",
                    "phone": "096 - 898 - 6364",
                    "link_cv": "https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg",
                    "file_url": "https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg"
                  },
                  {
                    "id": "176671853355823483908263929676",
                    "name": "Ha Nguyen Hai Dang",
                    "summary": "• Kinh nghiệm: 4.5 năm kinh nghiệm, Business Analyst tại SHB Finance, hợp tác với Product Owner và các bộ phận kinh doanh, có kinh nghiệm làm việc trong môi trường quốc tế.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "danghanguyenhai@gmail.com",
                    "phone": "083 - 399 - 6989",
                    "link_cv": "https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI",
                    "file_url": "https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI"
                  },
                  {
                    "id": "1766718533558740526537406747",
                    "name": "Long Nguyen",
                    "summary": "• Kinh nghiệm: 6.5 năm kinh nghiệm, Business Analyst/Product Owner tại Liberty Group, cung cấp hệ thống quản lý nhân sự nội bộ, tối ưu hóa hoạt động toàn công ty, có kinh nghiệm làm việc với khách hàng đa quốc gia.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "nguyenthanhlong7997@gmail.com",
                    "phone": "076 - 878 - 0801",
                    "link_cv": "https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm",
                    "file_url": "https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm"
                  },
                  {
                    "id": "1766718533558058255977646370805",
                    "name": "Truong Le Hoang Van",
                    "summary": "• Kinh nghiệm: 1.5 năm kinh nghiệm, Junior Business Analyst tại Saigon Technology HCMC, Business Analyst Intern tại Heineken Vietnam (Tiger Tribe Tech Hub), có kinh nghiệm làm việc trong môi trường đa quốc gia.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "hoangvantruong.work@gmail.com",
                    "phone": "098 - 119 - 4912",
                    "link_cv": "https://drive.google.com/file/d/1QI00JOxbIUoz8w_vgvEFOJJjed3amZs-",
                    "file_url": "https://drive.google.com/file/d/1QI00JOxbIUoz8w_vgvEFOJJjed3amZs-"
                  },
                  {
                    "id": "1766718533558018356289613382093",
                    "name": "Phan Minh Nhat",
                    "summary": "• Kinh nghiệm: 3.5 năm kinh nghiệm, Business Analyst tại AEGONA COMPANY, có tham gia dự án kiểm thử người dùng và quản lý tài liệu trong môi trường quốc tế.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "phannht98@gmail.com",
                    "phone": "036 - 297 - 9816",
                    "link_cv": "https://drive.google.com/file/d/1HCXdEf4VaAkXAGqOzY7TXa8K6h0R6FYO",
                    "file_url": "https://drive.google.com/file/d/1HCXdEf4VaAkXAGqOzY7TXa8K6h0R6FYO"
                  },
                  {
                    "id": "17667185335589501593082214063",
                    "name": "Nguyen Thi Anh Dao",
                    "summary": "• Kinh nghiệm: 3 năm kinh nghiệm, Business Analyst tại AziWorld Company, đóng vai trò cầu nối với các bên liên quan, có kinh nghiệm làm việc với khách hàng quốc tế.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 3,
                    "skills_found": [],
                    "email": "daohtttql@gmail.com",
                    "phone": "052 - 887 - 1169",
                    "link_cv": "https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem",
                    "file_url": "https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem"
                  },
                  {
                    "id": "17667185335588681535914956214",
                    "name": "Trần Quốc Cường",
                    "summary": "• Kinh nghiệm: 2 năm kinh nghiệm, Business Analyst tại SHINHANLIFE VIETNAM, có kỹ năng tạo use cases và hỗ trợ UAT trong môi trường đa quốc gia.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 2,
                    "skills_found": [],
                    "email": "cuongtran090301@gmail.com",
                    "phone": "093 - 751 - 1804",
                    "link_cv": "https://drive.google.com/file/d/1O12bFXtNmX-gcw9uTUxtJdKX8wJANQO_",
                    "file_url": "https://drive.google.com/file/d/1O12bFXtNmX-gcw9uTUxtJdKX8wJANQO_"
                  }
                ]
              },
              {
                "id": "1766718573257",
                "role": "user",
                "content": "Ai đã từng quản lý hoặc dẫn dắt (Lead) một nhóm từ 3 thành viên trở lên?",
                "timestamp": 1766718573257
              },
              {
                "id": "1766718595057",
                "role": "assistant",
                "content": "Tìm thấy 6 ứng viên có kinh nghiệm quản lý hoặc dẫn dắt nhóm từ 3 thành viên trở lên, kèm thông tin liên hệ đầy đủ.\n\nTran Hoang Quan – [Link CV](https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg)\n- Email: quan.tranhoang14@gmail.com | Phone: 096 - 898 - 6364\n- Kinh nghiệm tổng cộng khoảng 6.41 năm.\n- Đã từng quản lý các đối tác chiến lược quan trọng và triển khai dự án, đảm bảo tích hợp trơn tru với các nền tảng chuyển tiền toàn cầu.\nNguyen Dang Khoa – [Link CV](https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU)\n- Email: ngdkhoa3979@gmail.com | Phone: 097 - 939 - 8692\n- Tổng kinh nghiệm hơn 5 năm.\n- Quản lý thực thi dự án theo phương pháp Agile/Scrum, điều phối backlog và lịch triển khai, phát hành.\nDinh Hoang Tien – [Link CV](https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F)\n- Email: tien.dh95@gmail.com | Phone: 070 - 384 - 4100\n- Tổng kinh nghiệm trên 7 năm.\n- Quản lý đội nhóm 15 thành viên, thực hiện các hoạt động quản lý dự án theo phương pháp Agile (Scrum), bao gồm lập kế hoạch, họp nhóm hàng ngày, kiểm soát tiến độ và tài nguyên.\nTruong Le Hoang Van – [Link CV](https://drive.google.com/file/d/1QI00JOxbIUoz8w_vgvEFOJJjed3amZs-)\n- Email: hoangvantruong.work@gmail.com | Phone: 098 - 119 - 4912\n- Kinh nghiệm 1 năm 7 tháng.\n- Quản lý và ưu tiên backlog trên Azure, tạo và hoàn thiện các ticket cho nhóm phát triển gồm 6 backend, 2 frontend, và 2 mobile developer.\nNguyen Chau Giang – [Link CV](https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5)\n- Email: nguyenchaugiang5211@gmail.com | Phone: 037 - 307 - 5225\n- Kinh nghiệm 4 năm 11 tháng.\n- Quản lý backlog sản phẩm và kế hoạch sprint, cải thiện hiệu suất sprint lên 30%.\nVan Phong Bui – [Link CV](https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW)\n- Email: phongbv.j4s@gmail.com | Phone: 038 - 981 - 3641\n- Kinh nghiệm khoảng 8 năm.\n- Quản lý thanh toán và lợi nhuận; duy trì hoa hồng USD 1,000–2,000 mỗi tháng thông qua chất lượng và hiệu suất dự án.\nDựa trên dữ liệu, các ứng viên trên đều có kinh nghiệm quản lý hoặc dẫn dắt nhóm từ 3 thành viên trở lên hoặc có vai trò quản lý dự án, điều phối nhóm lớn trong công việc.",
                "timestamp": 1766718595057,
                "candidates": [
                  {
                    "id": "17667185950575182948902586039",
                    "name": "Tran Hoang Quan",
                    "summary": "• Kinh nghiệm: tổng cộng khoảng 6.41 năm.\n• Đã từng quản lý các đối tác chiến lược quan trọng và triển khai dự án, đảm bảo tích hợp trơn tru với các nền tảng chuyển tiền toàn cầu.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 41,
                    "skills_found": [],
                    "email": "quan.tranhoang14@gmail.com",
                    "phone": "096 - 898 - 6364",
                    "link_cv": "https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg",
                    "file_url": "https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg"
                  },
                  {
                    "id": "176671859505747588600370032574",
                    "name": "Nguyen Dang Khoa",
                    "summary": "• Tổng kinh nghiệm hơn 5 năm.\n• Quản lý thực thi dự án theo phương pháp Agile/Scrum, điều phối backlog và lịch triển khai, phát hành.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "ngdkhoa3979@gmail.com",
                    "phone": "097 - 939 - 8692",
                    "link_cv": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU",
                    "file_url": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU"
                  },
                  {
                    "id": "176671859505707003830958850032",
                    "name": "Dinh Hoang Tien",
                    "summary": "• Tổng kinh nghiệm trên 7 năm.\n• Quản lý đội nhóm 15 thành viên, thực hiện các hoạt động quản lý dự án theo phương pháp Agile (Scrum), bao gồm lập kế hoạch, họp nhóm hàng ngày, kiểm soát tiến độ và tài nguyên.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "tien.dh95@gmail.com",
                    "phone": "070 - 384 - 4100",
                    "link_cv": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F",
                    "file_url": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F"
                  },
                  {
                    "id": "176671859505732877710279562666",
                    "name": "Truong Le Hoang Van",
                    "summary": "• Kinh nghiệm: 1 năm 7 tháng.\n• Quản lý và ưu tiên backlog trên Azure, tạo và hoàn thiện các ticket cho nhóm phát triển gồm 6 backend, 2 frontend, và 2 mobile developer.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 1,
                    "skills_found": [],
                    "email": "hoangvantruong.work@gmail.com",
                    "phone": "098 - 119 - 4912",
                    "link_cv": "https://drive.google.com/file/d/1QI00JOxbIUoz8w_vgvEFOJJjed3amZs-",
                    "file_url": "https://drive.google.com/file/d/1QI00JOxbIUoz8w_vgvEFOJJjed3amZs-"
                  },
                  {
                    "id": "17667185950571570370709360812",
                    "name": "Nguyen Chau Giang",
                    "summary": "• Kinh nghiệm: 4 năm 11 tháng.\n• Quản lý backlog sản phẩm và kế hoạch sprint, cải thiện hiệu suất sprint lên 30%.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "nguyenchaugiang5211@gmail.com",
                    "phone": "037 - 307 - 5225",
                    "link_cv": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5",
                    "file_url": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5"
                  },
                  {
                    "id": "17667185950579519866181880425",
                    "name": "Van Phong Bui",
                    "summary": "• Kinh nghiệm: khoảng 8 năm.\n• Quản lý thanh toán và lợi nhuận; duy trì hoa hồng USD 1,000–2,000 mỗi tháng thông qua chất lượng và hiệu suất dự án. Dựa trên dữ liệu, các ứng viên trên đều có kinh nghiệm quản lý hoặc dẫn dắt nhóm từ 3 thành viên trở lên hoặc có vai trò quản lý dự án, điều phối nhóm lớn trong công việc.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 8,
                    "skills_found": [],
                    "email": "phongbv.j4s@gmail.com",
                    "phone": "038 - 981 - 3641",
                    "link_cv": "https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW",
                    "file_url": "https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW"
                  }
                ]
              },
              {
                "id": "1766718665033",
                "role": "user",
                "content": "Tìm các ứng viên có kinh nghiệm làm việc trong môi trường Agile/Scrum thực tế.",
                "timestamp": 1766718665033
              },
              {
                "id": "1766718693546",
                "role": "assistant",
                "content": "Tìm thấy 12 ứng viên có kinh nghiệm làm việc trong môi trường Agile/Scrum thực tế, kèm thông tin liên hệ và kinh nghiệm chi tiết.\n\nNguyen Trung Hieu – [Link CV](https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw)\n- Email: hieunt07101999@gmail.com | Phone: 094 - 200 - 2794\n- Kinh nghiệm: Khoảng 4.9 năm\n- Chi tiết Agile/Scrum: Product Owner cum Business Analyst tại Ocean Network Express, làm việc theo phương pháp Agile/Scrum với đội ngũ 11 người.\nNguyen Thi Thuy Trang – [Link CV](https://drive.google.com/file/d/1wi4FGgYkSj8b-SIf2ZHbyU4KzLMxOgQ2)\n- Email: ntthuytrang247@gmail.com | Phone: 033 - 812 - 1441\n- Kinh nghiệm: Gần 2 năm\n- Chi tiết Agile/Scrum: Có kinh nghiệm Waterfall và Agile-scrum.\nHoang Nguyen Phuong Thanh – [Link CV](https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0)\n- Email: hoangthanh6102003@gmail.com | Phone: 083 - 829 - 9280\n- Kinh nghiệm: 2.5 năm\n- Chi tiết Agile/Scrum: Hỗ trợ các buổi Agile/Scrum như lập kế hoạch sprint, rà soát backlog, họp stand-up hàng ngày, demo sản phẩm và các phiên retrospectives; phối hợp đa nhóm làm việc theo mô hình Agile/Scrum.\nDinh Hoang Tien – [Link CV](https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F)\n- Email: tien.dh95@gmail.com | Phone: 070 - 384 - 4100\n- Kinh nghiệm: 7+ năm\n- Chi tiết Agile/Scrum: Kỹ năng Agile (Scrum), Product Owner, Business Analyst.\nLong Nguyen – [Link CV](https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm)\n- Email: nguyenthanhlong7997@gmail.com | Phone: 076 - 878 - 0801\n- Kinh nghiệm: 6.5 năm\n- Chi tiết Agile/Scrum: Kỹ năng Agile/Scrum, Roadmapping, Backlog Prioritization, Sprint Planning.\nNguyen Duc Nhan – [Link CV](https://drive.google.com/file/d/1fsOx-vfHeINAcP2Wlyfuk5UW78k0bm4w)\n- Email: nhannguyen14.dev@gmail.com | Phone: 087 - 752 - 2662\n- Kinh nghiệm: 3 năm\n- Chi tiết Agile/Scrum: Kỹ năng Agile/Scrum, Product Backlog Management, Feature Prioritization.\nHa Nguyen Hai Dang – [Link CV](https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI)\n- Email: danghanguyenhai@gmail.com | Phone: 083 - 399 - 6989\n- Kinh nghiệm: 4.5 năm\n- Chi tiết Agile/Scrum: Kỹ năng Agile (Scrum), Jira, Confluence, Backlog Management.\nNguyen Chau Giang – [Link CV](https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5)\n- Email: nguyenchaugiang5211@gmail.com | Phone: 037 - 307 - 5225\n- Kinh nghiệm: 4 năm 11 tháng\n- Chi tiết Agile/Scrum: Product Strategy, Agile (Scrum, Kanban), Backlog Prioritization.\nPhạm Đỗ Khoa – [Link CV](https://drive.google.com/file/d/18JwKuo6iI_WMgNwJTKLxl-mhMXVWyfJS)\n- Email: dokhoapham@gmail.com | Phone: 034 - 673 - 2380\n- Kinh nghiệm: 4 năm\n- Chi tiết Agile/Scrum: Làm việc trong môi trường Agile/Scrum: tham gia lên kế hoạch sprint, họp hàng ngày, đánh giá sprint và họp hồi cứu.\nNguyen Dang Khoa – [Link CV](https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU)\n- Email: ngdkhoa3979@gmail.com | Phone: 097 - 939 - 8692\n- Kinh nghiệm: Hơn 5 năm\n- Chi tiết Agile/Scrum: Quản lý thực thi dự án theo phương pháp Agile/Scrum, điều phối backlog và lịch triển khai phát hành.\nVo Minh Tan – [Link CV](https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN)\n- Email: vominhtan3105@gmail.com | Phone: 033 - 901 - 6535\n- Kinh nghiệm: 3.5 năm\n- Chi tiết Agile/Scrum: Ứng dụng các phương pháp Agile/Scrum để đảm bảo tiến độ và chất lượng dự án.\nTrương Anh Thư – [Link CV](https://drive.google.com/file/d/1gYP0gA1nrlAYSjL9IT_E9emsazvmshMB)\n- Email: youthutruong322000@gmail.com | Phone: 037 - 755 - 3765\n- Kinh nghiệm: 4 năm\n- Chi tiết Agile/Scrum: Ước lượng thời gian dự án, lập kế hoạch, phân công công việc và quản lý tiến độ theo Agile/Scrum.",
                "timestamp": 1766718693546,
                "candidates": [
                  {
                    "id": "17667186935469319038638347785",
                    "name": "Nguyen Trung Hieu",
                    "summary": "• Kinh nghiệm: Khoảng 4.9 năm\n• Chi tiết Agile/Scrum: Product Owner cum Business Analyst tại Ocean Network Express, làm việc theo phương pháp Agile/Scrum với đội ngũ 11 người.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 9,
                    "skills_found": [],
                    "email": "hieunt07101999@gmail.com",
                    "phone": "094 - 200 - 2794",
                    "link_cv": "https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw",
                    "file_url": "https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw"
                  },
                  {
                    "id": "17667186935465963608648438653",
                    "name": "Nguyen Thi Thuy Trang",
                    "summary": "• Kinh nghiệm: Gần 2 năm\n• Chi tiết Agile/Scrum: Có kinh nghiệm Waterfall và Agile-scrum.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 2,
                    "skills_found": [],
                    "email": "ntthuytrang247@gmail.com",
                    "phone": "033 - 812 - 1441",
                    "link_cv": "https://drive.google.com/file/d/1wi4FGgYkSj8b-SIf2ZHbyU4KzLMxOgQ2",
                    "file_url": "https://drive.google.com/file/d/1wi4FGgYkSj8b-SIf2ZHbyU4KzLMxOgQ2"
                  },
                  {
                    "id": "17667186935469278751144654039",
                    "name": "Hoang Nguyen Phuong Thanh",
                    "summary": "• Kinh nghiệm: 2.5 năm\n• Chi tiết Agile/Scrum: Hỗ trợ các buổi Agile/Scrum như lập kế hoạch sprint, rà soát backlog, họp stand-up hàng ngày, demo sản phẩm và các phiên retrospectives; phối hợp đa nhóm làm việc theo mô hình Agile/Scrum.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "hoangthanh6102003@gmail.com",
                    "phone": "083 - 829 - 9280",
                    "link_cv": "https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0",
                    "file_url": "https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0"
                  },
                  {
                    "id": "17667186935466984779573638995",
                    "name": "Dinh Hoang Tien",
                    "summary": "• Kinh nghiệm: 7+ năm\n• Chi tiết Agile/Scrum: Kỹ năng Agile (Scrum), Product Owner, Business Analyst.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "tien.dh95@gmail.com",
                    "phone": "070 - 384 - 4100",
                    "link_cv": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F",
                    "file_url": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F"
                  },
                  {
                    "id": "17667186935461318657987423093",
                    "name": "Long Nguyen",
                    "summary": "• Kinh nghiệm: 6.5 năm\n• Chi tiết Agile/Scrum: Kỹ năng Agile/Scrum, Roadmapping, Backlog Prioritization, Sprint Planning.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "nguyenthanhlong7997@gmail.com",
                    "phone": "076 - 878 - 0801",
                    "link_cv": "https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm",
                    "file_url": "https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm"
                  },
                  {
                    "id": "176671869354645164047207887303",
                    "name": "Nguyen Duc Nhan",
                    "summary": "• Kinh nghiệm: 3 năm\n• Chi tiết Agile/Scrum: Kỹ năng Agile/Scrum, Product Backlog Management, Feature Prioritization.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 3,
                    "skills_found": [],
                    "email": "nhannguyen14.dev@gmail.com",
                    "phone": "087 - 752 - 2662",
                    "link_cv": "https://drive.google.com/file/d/1fsOx-vfHeINAcP2Wlyfuk5UW78k0bm4w",
                    "file_url": "https://drive.google.com/file/d/1fsOx-vfHeINAcP2Wlyfuk5UW78k0bm4w"
                  },
                  {
                    "id": "17667186935466135954630080929",
                    "name": "Ha Nguyen Hai Dang",
                    "summary": "• Kinh nghiệm: 4.5 năm\n• Chi tiết Agile/Scrum: Kỹ năng Agile (Scrum), Jira, Confluence, Backlog Management.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "danghanguyenhai@gmail.com",
                    "phone": "083 - 399 - 6989",
                    "link_cv": "https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI",
                    "file_url": "https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI"
                  },
                  {
                    "id": "17667186935468910796691627152",
                    "name": "Nguyen Chau Giang",
                    "summary": "• Kinh nghiệm: 4 năm 11 tháng\n• Chi tiết Agile/Scrum: Product Strategy, Agile (Scrum, Kanban), Backlog Prioritization.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "nguyenchaugiang5211@gmail.com",
                    "phone": "037 - 307 - 5225",
                    "link_cv": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5",
                    "file_url": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5"
                  },
                  {
                    "id": "17667186935467435182069281348",
                    "name": "Phạm Đỗ Khoa",
                    "summary": "• Kinh nghiệm: 4 năm\n• Chi tiết Agile/Scrum: Làm việc trong môi trường Agile/Scrum: tham gia lên kế hoạch sprint, họp hàng ngày, đánh giá sprint và họp hồi cứu.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "dokhoapham@gmail.com",
                    "phone": "034 - 673 - 2380",
                    "link_cv": "https://drive.google.com/file/d/18JwKuo6iI_WMgNwJTKLxl-mhMXVWyfJS",
                    "file_url": "https://drive.google.com/file/d/18JwKuo6iI_WMgNwJTKLxl-mhMXVWyfJS"
                  },
                  {
                    "id": "17667186935466863840771766936",
                    "name": "Nguyen Dang Khoa",
                    "summary": "• Kinh nghiệm: Hơn 5 năm\n• Chi tiết Agile/Scrum: Quản lý thực thi dự án theo phương pháp Agile/Scrum, điều phối backlog và lịch triển khai phát hành.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "ngdkhoa3979@gmail.com",
                    "phone": "097 - 939 - 8692",
                    "link_cv": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU",
                    "file_url": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU"
                  },
                  {
                    "id": "17667186935467277116382805382",
                    "name": "Vo Minh Tan",
                    "summary": "• Kinh nghiệm: 3.5 năm\n• Chi tiết Agile/Scrum: Ứng dụng các phương pháp Agile/Scrum để đảm bảo tiến độ và chất lượng dự án.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "vominhtan3105@gmail.com",
                    "phone": "033 - 901 - 6535",
                    "link_cv": "https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN",
                    "file_url": "https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN"
                  },
                  {
                    "id": "17667186935460050056077117536235",
                    "name": "Trương Anh Thư",
                    "summary": "• Kinh nghiệm: 4 năm\n• Chi tiết Agile/Scrum: Ước lượng thời gian dự án, lập kế hoạch, phân công công việc và quản lý tiến độ theo Agile/Scrum.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "youthutruong322000@gmail.com",
                    "phone": "037 - 755 - 3765",
                    "link_cv": "https://drive.google.com/file/d/1gYP0gA1nrlAYSjL9IT_E9emsazvmshMB",
                    "file_url": "https://drive.google.com/file/d/1gYP0gA1nrlAYSjL9IT_E9emsazvmshMB"
                  }
                ]
              },
              {
                "id": "1766718734755",
                "role": "user",
                "content": "Danh sách ứng viên sử dụng thành thạo bộ công cụ Atlassian (Jira, Confluence).",
                "timestamp": 1766718734755
              },
              {
                "id": "1766718742029",
                "role": "assistant",
                "content": "{\"status\":\"ok\",\"tenantCode\":\"\",\"chatid\":\"\",\"question_message\":\"\",\"answer_url\":[],\"source\":\"UN_ANSWER\",\"needs_clarification\":false,\"clarify_question\":null,\"handoff_note\":null,\"employeeId\":\"\",\"timestamp\":\"2025-12-26T03:12:23.771Z\"}",
                "timestamp": 1766718742029,
                "candidates": []
              },
              {
                "id": "1766719093461",
                "role": "user",
                "content": "\"Tìm các ứng viên có kinh nghiệm làm việc trong môi trường Agile/Scrum thực tế.\"",
                "timestamp": 1766719093461
              },
              {
                "id": "1766719114532",
                "role": "assistant",
                "content": "{\"message\":\"\"}",
                "timestamp": 1766719114532,
                "candidates": []
              },
              {
                "id": "1766719209077",
                "role": "user",
                "content": "\"Tìm các ứng viên có kinh nghiệm làm việc trong môi trường Agile/Scrum thực tế.\"",
                "timestamp": 1766719209077
              },
              {
                "id": "1766719221296",
                "role": "assistant",
                "content": "{\"message\":\"\"}",
                "timestamp": 1766719221296,
                "candidates": []
              },
              {
                "id": "1766719351329",
                "role": "user",
                "content": "\"Tìm các ứng viên có kinh nghiệm làm việc trong môi trường Agile/Scrum thực tế.\"",
                "timestamp": 1766719351329
              },
              {
                "id": "1766719381307",
                "role": "assistant",
                "content": "Tìm thấy 12 ứng viên có kinh nghiệm làm việc trong môi trường Agile/Scrum thực tế, kèm thông tin liên hệ chi tiết.\n\nNguyen Trung Hieu – [Link CV](https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw)\n- Email: hieunt07101999@gmail.com | Phone: 094 - 200 - 2794\n- Kinh nghiệm: Khoảng 4.9 năm, có làm Product Owner cum Business Analyst tại Ocean Network Express theo phương pháp Agile/Scrum với đội ngũ 11 người.\nNguyen Thi Thuy Trang – [Link CV](https://drive.google.com/file/d/1wi4FGgYkSj8b-SIf2ZHbyU4KzLMxOgQ2)\n- Email: ntthuytrang247@gmail.com | Phone: 033 - 812 - 1441\n- Kinh nghiệm: Gần 2 năm làm Business Analyst, có kỹ năng Agile-scrum.\nHoang Nguyen Phuong Thanh – [Link CV](https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0)\n- Email: hoangthanh6102003@gmail.com | Phone: 083 - 829 - 9280\n- Kinh nghiệm: 2.5 năm, hỗ trợ các buổi Agile/Scrum như lập kế hoạch sprint, rà soát backlog, họp stand-up hàng ngày, demo sản phẩm và retrospectives.\nDinh Hoang Tien – [Link CV](https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F)\n- Email: tien.dh95@gmail.com | Phone: 070 - 384 - 4100\n- Kinh nghiệm: Hơn 7 năm tổng cộng, trong đó có 4+ năm làm Business Analyst / Product Owner với kỹ năng Agile (Scrum).\nLong Nguyen – [Link CV](https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm)\n- Email: nguyenthanhlong7997@gmail.com | Phone: 076 - 878 - 0801\n- Kinh nghiệm: Khoảng 6.5 năm, thành thạo Agile/Scrum.\nNguyen Duc Nhan – [Link CV](https://drive.google.com/file/d/1fsOx-vfHeINAcP2Wlyfuk5UW78k0bm4w)\n- Email: nhannguyen14.dev@gmail.com | Phone: 087 - 752 - 2662\n- Kinh nghiệm: 3 năm, có kỹ năng Agile/Scrum.\nHa Nguyen Hai Dang – [Link CV](https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI)\n- Email: danghanguyenhai@gmail.com | Phone: 083 - 399 - 6989\n- Kinh nghiệm: Khoảng 4.5 năm, có kỹ năng Agile (Scrum).\nNguyen Chau Giang – [Link CV](https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5)\n- Email: nguyenchaugiang5211@gmail.com | Phone: 037 - 307 - 5225\n- Kinh nghiệm: 4 năm 11 tháng, thành thạo Agile (Scrum, Kanban).\nPhạm Đỗ Khoa – [Link CV](https://drive.google.com/file/d/18JwKuo6iI_WMgNwJTKLxl-mhMXVWyfJS)\n- Email: dokhoapham@gmail.com | Phone: 034 - 673 - 2380\n- Kinh nghiệm: Khoảng 4 năm, đã làm IT Business Analyst trong môi trường Agile/Scrum.\nNguyen Dang Khoa – [Link CV](https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU)\n- Email: ngdkhoa3979@gmail.com | Phone: 097 - 939 - 8692\n- Kinh nghiệm: Hơn 5 năm, quản lý dự án theo Agile/Scrum.\nVo Minh Tan – [Link CV](https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN)\n- Email: vominhtan3105@gmail.com | Phone: 033 - 901 - 6535\n- Kinh nghiệm: 3.5 năm, ứng dụng Agile/Scrum trong quản lý dự án.\nTrương Anh Thư – [Link CV](https://drive.google.com/file/d/1gYP0gA1nrlAYSjL9IT_E9emsazvmshMB)\n- Email: youthutruong322000@gmail.com | Phone: 037 - 755 - 3765\n- Kinh nghiệm: Khoảng 4 năm, quản lý tiến độ theo Agile/Scrum.",
                "timestamp": 1766719381307,
                "candidates": [
                  {
                    "id": "176671938130717308206450984054",
                    "name": "Nguyen Trung Hieu",
                    "summary": "• Kinh nghiệm: Khoảng 4.9 năm, có làm Product Owner cum Business Analyst tại Ocean Network Express theo phương pháp Agile/Scrum với đội ngũ 11 người.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 9,
                    "skills_found": [],
                    "email": "hieunt07101999@gmail.com",
                    "phone": "094 - 200 - 2794",
                    "link_cv": "https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw",
                    "file_url": "https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw"
                  },
                  {
                    "id": "17667193813074928446203340482",
                    "name": "Nguyen Thi Thuy Trang",
                    "summary": "• Kinh nghiệm: Gần 2 năm làm Business Analyst, có kỹ năng Agile-scrum.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 2,
                    "skills_found": [],
                    "email": "ntthuytrang247@gmail.com",
                    "phone": "033 - 812 - 1441",
                    "link_cv": "https://drive.google.com/file/d/1wi4FGgYkSj8b-SIf2ZHbyU4KzLMxOgQ2",
                    "file_url": "https://drive.google.com/file/d/1wi4FGgYkSj8b-SIf2ZHbyU4KzLMxOgQ2"
                  },
                  {
                    "id": "17667193813078670995904215013",
                    "name": "Hoang Nguyen Phuong Thanh",
                    "summary": "• Kinh nghiệm: 2.5 năm, hỗ trợ các buổi Agile/Scrum như lập kế hoạch sprint, rà soát backlog, họp stand-up hàng ngày, demo sản phẩm và retrospectives.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "hoangthanh6102003@gmail.com",
                    "phone": "083 - 829 - 9280",
                    "link_cv": "https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0",
                    "file_url": "https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0"
                  },
                  {
                    "id": "17667193813078605220912037381",
                    "name": "Dinh Hoang Tien",
                    "summary": "• Kinh nghiệm: Hơn 7 năm tổng cộng, trong đó có 4+ năm làm Business Analyst / Product Owner với kỹ năng Agile (Scrum).",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 7,
                    "skills_found": [],
                    "email": "tien.dh95@gmail.com",
                    "phone": "070 - 384 - 4100",
                    "link_cv": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F",
                    "file_url": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F"
                  },
                  {
                    "id": "176671938130716471435670184564",
                    "name": "Long Nguyen",
                    "summary": "• Kinh nghiệm: Khoảng 6.5 năm, thành thạo Agile/Scrum.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "nguyenthanhlong7997@gmail.com",
                    "phone": "076 - 878 - 0801",
                    "link_cv": "https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm",
                    "file_url": "https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm"
                  },
                  {
                    "id": "17667193813079906414266577502",
                    "name": "Nguyen Duc Nhan",
                    "summary": "• Kinh nghiệm: 3 năm, có kỹ năng Agile/Scrum.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 3,
                    "skills_found": [],
                    "email": "nhannguyen14.dev@gmail.com",
                    "phone": "087 - 752 - 2662",
                    "link_cv": "https://drive.google.com/file/d/1fsOx-vfHeINAcP2Wlyfuk5UW78k0bm4w",
                    "file_url": "https://drive.google.com/file/d/1fsOx-vfHeINAcP2Wlyfuk5UW78k0bm4w"
                  },
                  {
                    "id": "17667193813074777455089647892",
                    "name": "Ha Nguyen Hai Dang",
                    "summary": "• Kinh nghiệm: Khoảng 4.5 năm, có kỹ năng Agile (Scrum).",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "danghanguyenhai@gmail.com",
                    "phone": "083 - 399 - 6989",
                    "link_cv": "https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI",
                    "file_url": "https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI"
                  },
                  {
                    "id": "17667193813076820820762287031",
                    "name": "Nguyen Chau Giang",
                    "summary": "• Kinh nghiệm: 4 năm 11 tháng, thành thạo Agile (Scrum, Kanban).",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "nguyenchaugiang5211@gmail.com",
                    "phone": "037 - 307 - 5225",
                    "link_cv": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5",
                    "file_url": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5"
                  },
                  {
                    "id": "17667193813074916647267759717",
                    "name": "Phạm Đỗ Khoa",
                    "summary": "• Kinh nghiệm: Khoảng 4 năm, đã làm IT Business Analyst trong môi trường Agile/Scrum.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "dokhoapham@gmail.com",
                    "phone": "034 - 673 - 2380",
                    "link_cv": "https://drive.google.com/file/d/18JwKuo6iI_WMgNwJTKLxl-mhMXVWyfJS",
                    "file_url": "https://drive.google.com/file/d/18JwKuo6iI_WMgNwJTKLxl-mhMXVWyfJS"
                  },
                  {
                    "id": "176671938130737331551910143645",
                    "name": "Nguyen Dang Khoa",
                    "summary": "• Kinh nghiệm: Hơn 5 năm, quản lý dự án theo Agile/Scrum.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "ngdkhoa3979@gmail.com",
                    "phone": "097 - 939 - 8692",
                    "link_cv": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU",
                    "file_url": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU"
                  },
                  {
                    "id": "17667193813078470424388578021",
                    "name": "Vo Minh Tan",
                    "summary": "• Kinh nghiệm: 3.5 năm, ứng dụng Agile/Scrum trong quản lý dự án.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "vominhtan3105@gmail.com",
                    "phone": "033 - 901 - 6535",
                    "link_cv": "https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN",
                    "file_url": "https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN"
                  },
                  {
                    "id": "17667193813077720399214348815",
                    "name": "Trương Anh Thư",
                    "summary": "• Kinh nghiệm: Khoảng 4 năm, quản lý tiến độ theo Agile/Scrum.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "youthutruong322000@gmail.com",
                    "phone": "037 - 755 - 3765",
                    "link_cv": "https://drive.google.com/file/d/1gYP0gA1nrlAYSjL9IT_E9emsazvmshMB",
                    "file_url": "https://drive.google.com/file/d/1gYP0gA1nrlAYSjL9IT_E9emsazvmshMB"
                  }
                ]
              },
              {
                "id": "1766719402680",
                "role": "user",
                "content": "Danh sách ứng viên sử dụng thành thạo bộ công cụ Atlassian (Jira, Confluence).",
                "timestamp": 1766719402680
              },
              {
                "id": "1766719408045",
                "role": "assistant",
                "content": "{\"status\":\"ok\",\"tenantCode\":\"\",\"chatid\":\"\",\"question_message\":\"\",\"answer_url\":[],\"source\":\"UN_ANSWER\",\"needs_clarification\":false,\"clarify_question\":null,\"handoff_note\":null,\"employeeId\":\"\",\"timestamp\":\"2025-12-26T03:23:30.517Z\"}",
                "timestamp": 1766719408045,
                "candidates": []
              },
              {
                "id": "1766719548798",
                "role": "user",
                "content": "Danh sách ứng viên sử dụng thành thạo bộ công cụ Atlassian ",
                "timestamp": 1766719548798
              },
              {
                "id": "1766719554324",
                "role": "assistant",
                "content": "{\"status\":\"ok\",\"tenantCode\":\"\",\"chatid\":\"\",\"question_message\":\"\",\"answer_url\":[],\"source\":\"UN_ANSWER\",\"needs_clarification\":false,\"clarify_question\":null,\"handoff_note\":null,\"employeeId\":\"\",\"timestamp\":\"2025-12-26T03:25:56.788Z\"}",
                "timestamp": 1766719554324,
                "candidates": []
              },
              {
                "id": "1766719963245",
                "role": "user",
                "content": "Danh sách ứng viên sử dụng thành thạo bộ công cụ Atlassian (Jira, Confluence).",
                "timestamp": 1766719963245
              },
              {
                "id": "1766719977592",
                "role": "assistant",
                "content": "Tìm thấy 6 ứng viên sử dụng thành thạo bộ công cụ Atlassian gồm Jira và Confluence, kèm thông tin liên hệ chi tiết.\n\nTran Quoc Kiet – [Link CV](https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX)\n- Email: kiettran27101999@gmail.com | Phone: 090 - 385 - 4218\n- Kinh nghiệm: 5+ năm, sử dụng thành thạo Jira, Confluence trong quản lý công việc và dự án tại Prudential Vietnam Assurance.\nHoang Nguyen Phuong Thanh – [Link CV](https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0)\n- Email: hoangthanh6102003@gmail.com | Phone: 083 - 829 - 9280\n- Kinh nghiệm: 2.5 năm, thành thạo Jira, Confluence cùng nhiều kỹ năng liên quan như Agile, Waterfall.\nVo Hoang Nhan – [Link CV](https://drive.google.com/file/d/19NsDyTlouI87V7uQbt9d3uXnV4eBbb4s)\n- Email: chrisvo.hoang@gmail.com | Phone: 038 - 686 - 7712\n- Kinh nghiệm: 9.5 năm, thành thạo Jira, Confluence, JIRA, Redmine, Asana cùng nhiều công cụ quản lý dự án khác.\nHa Nguyen Hai Dang – [Link CV](https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI)\n- Email: danghanguyenhai@gmail.com | Phone: 083 - 399 - 6989\n- Kinh nghiệm: 4.5 năm, sử dụng thành thạo Jira, Confluence, Agile (Scrum), quản lý backlog và roadmap sản phẩm.\nDinh Hoang Tien – [Link CV](https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F)\n- Email: tien.dh95@gmail.com | Phone: 070 - 384 - 4100\n- Kinh nghiệm: 7+ năm, thành thạo Jira, Confluence, Agile (Scrum), Waterfall, quản lý dự án và phân tích yêu cầu.\nNguyen Trung Hieu – [Link CV](https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw)\n- Email: hieunt07101999@gmail.com | Phone: 094 - 200 - 2794\n- Kinh nghiệm: 4.9 năm, sử dụng thành thạo Jira, Confluence, Agile - Scrum, phân tích yêu cầu và UI/UX.",
                "timestamp": 1766719977592,
                "candidates": [
                  {
                    "id": "17667199775928514952382687713",
                    "name": "Tran Quoc Kiet",
                    "summary": "• Kinh nghiệm: 5+ năm, sử dụng thành thạo Jira, Confluence trong quản lý công việc và dự án tại Prudential Vietnam Assurance.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "kiettran27101999@gmail.com",
                    "phone": "090 - 385 - 4218",
                    "link_cv": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX",
                    "file_url": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX"
                  },
                  {
                    "id": "17667199775925103039289764848",
                    "name": "Hoang Nguyen Phuong Thanh",
                    "summary": "• Kinh nghiệm: 2.5 năm, thành thạo Jira, Confluence cùng nhiều kỹ năng liên quan như Agile, Waterfall.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "hoangthanh6102003@gmail.com",
                    "phone": "083 - 829 - 9280",
                    "link_cv": "https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0",
                    "file_url": "https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0"
                  },
                  {
                    "id": "17667199775926231971703548758",
                    "name": "Vo Hoang Nhan",
                    "summary": "• Kinh nghiệm: 9.5 năm, thành thạo Jira, Confluence, JIRA, Redmine, Asana cùng nhiều công cụ quản lý dự án khác.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "chrisvo.hoang@gmail.com",
                    "phone": "038 - 686 - 7712",
                    "link_cv": "https://drive.google.com/file/d/19NsDyTlouI87V7uQbt9d3uXnV4eBbb4s",
                    "file_url": "https://drive.google.com/file/d/19NsDyTlouI87V7uQbt9d3uXnV4eBbb4s"
                  },
                  {
                    "id": "176671997759207997847037751227",
                    "name": "Ha Nguyen Hai Dang",
                    "summary": "• Kinh nghiệm: 4.5 năm, sử dụng thành thạo Jira, Confluence, Agile (Scrum), quản lý backlog và roadmap sản phẩm.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "danghanguyenhai@gmail.com",
                    "phone": "083 - 399 - 6989",
                    "link_cv": "https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI",
                    "file_url": "https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI"
                  },
                  {
                    "id": "17667199775926492480252745326",
                    "name": "Dinh Hoang Tien",
                    "summary": "• Kinh nghiệm: 7+ năm, thành thạo Jira, Confluence, Agile (Scrum), Waterfall, quản lý dự án và phân tích yêu cầu.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "tien.dh95@gmail.com",
                    "phone": "070 - 384 - 4100",
                    "link_cv": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F",
                    "file_url": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F"
                  },
                  {
                    "id": "176671997759221743196523607577",
                    "name": "Nguyen Trung Hieu",
                    "summary": "• Kinh nghiệm: 4.9 năm, sử dụng thành thạo Jira, Confluence, Agile - Scrum, phân tích yêu cầu và UI/UX.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 9,
                    "skills_found": [],
                    "email": "hieunt07101999@gmail.com",
                    "phone": "094 - 200 - 2794",
                    "link_cv": "https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw",
                    "file_url": "https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw"
                  }
                ]
              },
              {
                "id": "1766720279011",
                "role": "user",
                "content": "phân tích ưu điểm và hạn chế",
                "timestamp": 1766720279011
              },
              {
                "id": "1766720323114",
                "role": "assistant",
                "content": "Tìm thấy 26 ứng viên với thông tin liên hệ (Email, SĐT) và kinh nghiệm chi tiết được trích xuất đầy đủ từ CV.\n\nTran Thi Thu Oanh – [Link CV](https://drive.google.com/file/d/1eHGI3WlB_NPwpVReNWvV26THbfbsvu9U)\n- Email: thuoanh06032001@gmail.com | Phone: 097 - 928 - 3870\n- Kinh nghiệm: 3.5 năm, Business Analyst tại TESOGLOBAL COMPANY, chuyên tạo tài liệu BRD, SRS, BPMN, Use Case.\nTran Quoc Kiet – [Link CV](https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX)\n- Email: kiettran27101999@gmail.com | Phone: 090 - 385 - 4218\n- Kinh nghiệm: 5 năm, IT Business Analyst - Insurance tại Prudential Vietnam Assurance, cải thiện hệ thống PRUOnline, PRUDaily, PRUQuote, Pulse for OPs, thành thạo English, Agile, Waterfall, UML, SQL Server, Power BI, Jira, Figma.\nNguyễn Trác Quốc Việt – [Link CV](https://drive.google.com/file/d/1fNlm26vkLUaoRXcm-cPC9qbdvsOiLm7F)\n- Email: nguyentracquocviet02@gmail.com | Phone: 032 - 877 - 7624\n- Kinh nghiệm: 1.5 năm, Project Team Leader - Business Analyst, hướng dẫn và hợp tác với khách hàng xác thực yêu cầu.\nTrần Quốc Cường – [Link CV](https://drive.google.com/file/d/1O12bFXtNmX-gcw9uTUxtJdKX8wJANQO_)\n- Email: cuongtran090301@gmail.com | Phone: 093 - 751 - 1804\n- Kinh nghiệm: khoảng 2 năm, Business Analyst tại SHINHANLIFE VIETNAM và CASK COMPANY, thu thập yêu cầu, tài liệu API, điều phối UAT.\nNguyễn Hoàng Ân – [Link CV](https://drive.google.com/file/d/13faWWCs0rUicj2UGJcCAU3wb6_e2tiyF)\n- Email: annguyenhoang20@gmail.com | Phone: 098 - 333 - 6120\n- Kinh nghiệm: 3 năm, Digital Product Implementation Specialist tại OCB, phối hợp thu thập yêu cầu và đánh giá hệ thống Core Banking, Mobile Banking.\nPhu Nguyen – [Link CV](https://drive.google.com/file/d/1zo-diFPXyCI_it5-s-PjGPVGZkMoLGz-)\n- Email: nhdphu2@gmail.com | Phone: 035 - 220 - 2547\n- Kinh nghiệm: 4 năm, Senior Executive Platform Operations tại AnyMind Group, tư vấn nội bộ, chuyển đổi dữ liệu thành báo cáo thúc đẩy doanh thu.\nPhan Minh Nhat – [Link CV](https://drive.google.com/file/d/1HCXdEf4VaAkXAGqOzY7TXa8K6h0R6FYO)\n- Email: phannht98@gmail.com | Phone: 036 - 297 - 9816\n- Kinh nghiệm: 3.5 năm, Business Analyst tại GSOFT COMPANY, thiết kế wireframes, hỗ trợ kiểm tra và xác minh lỗi với khách hàng.\nNguyen Dang Khoa – [Link CV](https://drive.google.com/file/d/1G2tUNtMjuGx6Lh6hYlQpDZFivBepohi9)\n- Email: dangkhoa4466@gmail.com | Phone: 036 - 914 - 4041\n- Kinh nghiệm: 5 năm, Trading Partner Analyst - Implementer tại TrueCommerce, phân tích dữ liệu vận hành.\nNguyễn Thị Anh Đào – [Link CV](https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem)\n- Email: daohtttql@gmail.com | Phone: 052 - 887 - 1169\n- Kinh nghiệm: 3 năm, DBA Intern và Project Engineer tại VnResource Company, phát triển stored procedures, thu thập tài liệu BRD, SRS.\nTran Hoang Quan – [Link CV](https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg)\n- Email: quan.tranhoang14@gmail.com | Phone: 096 - 898 - 6364\n- Kinh nghiệm: 6.4 năm, Product Assistant Manager tại BIN Coperation, tích hợp Core Banking, Senior Product Specialist tại Dragon Ventures.\nLê Quang Hải Đăng – [Link CV](https://drive.google.com/file/d/1oSmpr5i5FOUwKLtKP7xHLgAzLEQ_tHm2)\n- Email: lequanghaidang2502@gmail.com | Phone: 070 - 852 - 0743\n- Kinh nghiệm: 2 năm 2 tháng, Data/AI Technical Specialist Intern tại IBM Vietnam, phát triển mô hình churn cho khách hàng ngân hàng.\nVo Hoang Nhan – [Link CV](https://drive.google.com/file/d/19NsDyTlouI87V7uQbt9d3uXnV4eBbb4s)\n- Email: chrisvo.hoang@gmail.com | Phone: 038 - 686 - 7712\n- Kinh nghiệm: 9.5 năm, Dispute Supervisor tại Shopee VietNam, theo dõi hiệu suất nhóm.\nVo Minh Tan – [Link CV](https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN)\n- Email: vominhtan3105@gmail.com | Phone: 033 - 901 - 6535\n- Kinh nghiệm: 3.5 năm, Business Analyst tại SOLAZU và DIGITYZE ASIA, áp dụng Agile/Scrum.\nVan Phong Bui – [Link CV](https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW)\n- Email: phongbv.j4s@gmail.com | Phone: 038 - 981 - 3641\n- Kinh nghiệm: 8 năm, Operations Executive tại Ecomobi, quản lý onboarding đối tác và cải tiến quy trình.\nNguyen Khoa Thien Long – [Link CV](https://drive.google.com/file/d/1G2tUNtMjuGx6Lh6hYlQpDZFivBepohi9)\n- Email: nguyenkhoathienlong313@gmail.com | Phone: 096 - 729 - 1546\n- Kinh nghiệm: 3.5 năm, IT Business Analyst tại IT Software Solution - Bakco, soạn thảo tài liệu BRD, SRS, FSD, UAT.\nLong Nguyen – [Link CV](https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm)\n- Email: nguyenthanhlong7997@gmail.com | Phone: 076 - 878 - 0801\n- Kinh nghiệm: 6.5 năm, Business Analyst tại Innotech Vietnam Corporation, thiết kế wireframe, phối hợp UI/UX.\nNguyen Dang Khoa – [Link CV](https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU)\n- Email: ngdkhoa3979@gmail.com | Phone: 097 - 939 - 8692\n- Kinh nghiệm: hơn 5 năm, Data Activation Specialist tại KOVA Trading JSC, Business Analyst cum Project Manager tại KIMEI Global.\nPham Anh Tuan – [Link CV](https://drive.google.com/file/d/1tGsXlk_dtmJT8jS2pqnjoRdrlCdiL8oh)\n- Email: phamtuanhp1994@gmail.com | Phone: 081 - 650 - 1816\n- Kinh nghiệm: 4.5 năm, Senior Client Service Associate tại DIALECTICA, Data Scientist tại DOCKLAB.NL, phát triển mô hình Marketing, phân tích dữ liệu, thành thạo SQL, PowerBI, Machine Learning, Python.\nVo Quoc Thang – [Link CV](https://drive.google.com/file/d/1EgvS9MdAXCerNudccQ3kjGGS6FA8_lSB)\n- Email: thangvoquoc2810@gmail.com | Phone: 092 - 717 - 0723\n- Kinh nghiệm: 3.5 năm, Site Selection Administration tại Pharmacity JSC, Business Analyst Executive tại Phee Group.\nDinh Hoang Tien – [Link CV](https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F)\n- Email: tien.dh95@gmail.com | Phone: 070 - 384 - 4100\n- Kinh nghiệm: 7+ năm, Research Executive Leader tại Kompa, lãnh đạo nhóm phân tích dữ liệu người dùng trên mạng xã hội.\nTrương Anh Thư – [Link CV](https://drive.google.com/file/d/1gYP0gA1nrlAYSjL9IT_E9emsazvmshMB)\n- Email: youthutruong322000@gmail.com | Phone: 037 - 755 - 3765\n- Kinh nghiệm: 4 năm, Business Analyst tại IVS Joint Stock Company, phân tích yêu cầu, tạo wireframe, mockup, phối hợp thiết kế prototype.\nHa Nguyen Hai Dang – [Link CV](https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI)\n- Email: danghanguyenhai@gmail.com | Phone: 083 - 399 - 6989\n- Kinh nghiệm: 4.5 năm, Business Analyst tại FPT Information System, đảm bảo giao dự án đúng hạn.\nTruong Le Hoang Van – [Link CV](https://drive.google.com/file/d/1QI00JOxbIUoz8w_vgvEFOJJjed3amZs-)\n- Email: hoangvantruong.work@gmail.com | Phone: 098 - 119 - 4912\n- Kinh nghiệm: 1 năm 7 tháng, Junior Business Analyst tại LF Global Tech HCMC, Business Analyst Intern tại Heineken Vietnam, đánh giá quy trình, tạo wireframe, quản lý phân tích kinh doanh, áp dụng Agile, kiểm thử người dùng.",
                "timestamp": 1766720323114,
                "candidates": [
                  {
                    "id": "17667203231149113734331095698",
                    "name": "Tran Thi Thu Oanh",
                    "summary": "• Kinh nghiệm: 3.5 năm, Business Analyst tại TESOGLOBAL COMPANY, chuyên tạo tài liệu BRD, SRS, BPMN, Use Case.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "thuoanh06032001@gmail.com",
                    "phone": "097 - 928 - 3870",
                    "link_cv": "https://drive.google.com/file/d/1eHGI3WlB_NPwpVReNWvV26THbfbsvu9U",
                    "file_url": "https://drive.google.com/file/d/1eHGI3WlB_NPwpVReNWvV26THbfbsvu9U"
                  },
                  {
                    "id": "176672032311423239980898638257",
                    "name": "Tran Quoc Kiet",
                    "summary": "• Kinh nghiệm: 5 năm, IT Business Analyst - Insurance tại Prudential Vietnam Assurance, cải thiện hệ thống PRUOnline, PRUDaily, PRUQuote, Pulse for OPs, thành thạo English, Agile, Waterfall, UML, SQL Server, Power BI, Jira, Figma.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "kiettran27101999@gmail.com",
                    "phone": "090 - 385 - 4218",
                    "link_cv": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX",
                    "file_url": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX"
                  },
                  {
                    "id": "17667203231145577859119406311",
                    "name": "Nguyễn Trác Quốc Việt",
                    "summary": "• Kinh nghiệm: 1.5 năm, Project Team Leader - Business Analyst, hướng dẫn và hợp tác với khách hàng xác thực yêu cầu.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "nguyentracquocviet02@gmail.com",
                    "phone": "032 - 877 - 7624",
                    "link_cv": "https://drive.google.com/file/d/1fNlm26vkLUaoRXcm-cPC9qbdvsOiLm7F",
                    "file_url": "https://drive.google.com/file/d/1fNlm26vkLUaoRXcm-cPC9qbdvsOiLm7F"
                  },
                  {
                    "id": "176672032311411765368826187383",
                    "name": "Trần Quốc Cường",
                    "summary": "• Kinh nghiệm: khoảng 2 năm, Business Analyst tại SHINHANLIFE VIETNAM và CASK COMPANY, thu thập yêu cầu, tài liệu API, điều phối UAT.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 2,
                    "skills_found": [],
                    "email": "cuongtran090301@gmail.com",
                    "phone": "093 - 751 - 1804",
                    "link_cv": "https://drive.google.com/file/d/1O12bFXtNmX-gcw9uTUxtJdKX8wJANQO_",
                    "file_url": "https://drive.google.com/file/d/1O12bFXtNmX-gcw9uTUxtJdKX8wJANQO_"
                  },
                  {
                    "id": "1766720323114846229586967262",
                    "name": "Nguyễn Hoàng Ân",
                    "summary": "• Kinh nghiệm: 3 năm, Digital Product Implementation Specialist tại OCB, phối hợp thu thập yêu cầu và đánh giá hệ thống Core Banking, Mobile Banking.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 3,
                    "skills_found": [],
                    "email": "annguyenhoang20@gmail.com",
                    "phone": "098 - 333 - 6120",
                    "link_cv": "https://drive.google.com/file/d/13faWWCs0rUicj2UGJcCAU3wb6_e2tiyF",
                    "file_url": "https://drive.google.com/file/d/13faWWCs0rUicj2UGJcCAU3wb6_e2tiyF"
                  },
                  {
                    "id": "17667203231145445791845375269",
                    "name": "Phu Nguyen",
                    "summary": "• Kinh nghiệm: 4 năm, Senior Executive Platform Operations tại AnyMind Group, tư vấn nội bộ, chuyển đổi dữ liệu thành báo cáo thúc đẩy doanh thu.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "nhdphu2@gmail.com",
                    "phone": "035 - 220 - 2547",
                    "link_cv": "https://drive.google.com/file/d/1zo-diFPXyCI_it5-s-PjGPVGZkMoLGz-",
                    "file_url": "https://drive.google.com/file/d/1zo-diFPXyCI_it5-s-PjGPVGZkMoLGz-"
                  },
                  {
                    "id": "1766720323114055611534960330666",
                    "name": "Phan Minh Nhat",
                    "summary": "• Kinh nghiệm: 3.5 năm, Business Analyst tại GSOFT COMPANY, thiết kế wireframes, hỗ trợ kiểm tra và xác minh lỗi với khách hàng.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "phannht98@gmail.com",
                    "phone": "036 - 297 - 9816",
                    "link_cv": "https://drive.google.com/file/d/1HCXdEf4VaAkXAGqOzY7TXa8K6h0R6FYO",
                    "file_url": "https://drive.google.com/file/d/1HCXdEf4VaAkXAGqOzY7TXa8K6h0R6FYO"
                  },
                  {
                    "id": "1766720323114651241080782674",
                    "name": "Nguyen Dang Khoa",
                    "summary": "• Kinh nghiệm: 5 năm, Trading Partner Analyst - Implementer tại TrueCommerce, phân tích dữ liệu vận hành.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "dangkhoa4466@gmail.com",
                    "phone": "036 - 914 - 4041",
                    "link_cv": "https://drive.google.com/file/d/1G2tUNtMjuGx6Lh6hYlQpDZFivBepohi9",
                    "file_url": "https://drive.google.com/file/d/1G2tUNtMjuGx6Lh6hYlQpDZFivBepohi9"
                  },
                  {
                    "id": "17667203231149952756568109481",
                    "name": "Nguyễn Thị Anh Đào",
                    "summary": "• Kinh nghiệm: 3 năm, DBA Intern và Project Engineer tại VnResource Company, phát triển stored procedures, thu thập tài liệu BRD, SRS.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 3,
                    "skills_found": [],
                    "email": "daohtttql@gmail.com",
                    "phone": "052 - 887 - 1169",
                    "link_cv": "https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem",
                    "file_url": "https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem"
                  },
                  {
                    "id": "176672032311424701659719272684",
                    "name": "Tran Hoang Quan",
                    "summary": "• Kinh nghiệm: 6.4 năm, Product Assistant Manager tại BIN Coperation, tích hợp Core Banking, Senior Product Specialist tại Dragon Ventures.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "quan.tranhoang14@gmail.com",
                    "phone": "096 - 898 - 6364",
                    "link_cv": "https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg",
                    "file_url": "https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg"
                  },
                  {
                    "id": "1766720323114953893567326581",
                    "name": "Lê Quang Hải Đăng",
                    "summary": "• Kinh nghiệm: 2 năm 2 tháng, Data/AI Technical Specialist Intern tại IBM Vietnam, phát triển mô hình churn cho khách hàng ngân hàng.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 2,
                    "skills_found": [],
                    "email": "lequanghaidang2502@gmail.com",
                    "phone": "070 - 852 - 0743",
                    "link_cv": "https://drive.google.com/file/d/1oSmpr5i5FOUwKLtKP7xHLgAzLEQ_tHm2",
                    "file_url": "https://drive.google.com/file/d/1oSmpr5i5FOUwKLtKP7xHLgAzLEQ_tHm2"
                  },
                  {
                    "id": "176672032311416490767953134522",
                    "name": "Vo Hoang Nhan",
                    "summary": "• Kinh nghiệm: 9.5 năm, Dispute Supervisor tại Shopee VietNam, theo dõi hiệu suất nhóm.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "chrisvo.hoang@gmail.com",
                    "phone": "038 - 686 - 7712",
                    "link_cv": "https://drive.google.com/file/d/19NsDyTlouI87V7uQbt9d3uXnV4eBbb4s",
                    "file_url": "https://drive.google.com/file/d/19NsDyTlouI87V7uQbt9d3uXnV4eBbb4s"
                  },
                  {
                    "id": "17667203231145978175732593639",
                    "name": "Vo Minh Tan",
                    "summary": "• Kinh nghiệm: 3.5 năm, Business Analyst tại SOLAZU và DIGITYZE ASIA, áp dụng Agile/Scrum.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "vominhtan3105@gmail.com",
                    "phone": "033 - 901 - 6535",
                    "link_cv": "https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN",
                    "file_url": "https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN"
                  },
                  {
                    "id": "1766720323114029428804622608662",
                    "name": "Van Phong Bui",
                    "summary": "• Kinh nghiệm: 8 năm, Operations Executive tại Ecomobi, quản lý onboarding đối tác và cải tiến quy trình.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 8,
                    "skills_found": [],
                    "email": "phongbv.j4s@gmail.com",
                    "phone": "038 - 981 - 3641",
                    "link_cv": "https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW",
                    "file_url": "https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW"
                  },
                  {
                    "id": "17667203231147171178055422228",
                    "name": "Nguyen Khoa Thien Long",
                    "summary": "• Kinh nghiệm: 3.5 năm, IT Business Analyst tại IT Software Solution - Bakco, soạn thảo tài liệu BRD, SRS, FSD, UAT.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "nguyenkhoathienlong313@gmail.com",
                    "phone": "096 - 729 - 1546",
                    "link_cv": "https://drive.google.com/file/d/1G2tUNtMjuGx6Lh6hYlQpDZFivBepohi9",
                    "file_url": "https://drive.google.com/file/d/1G2tUNtMjuGx6Lh6hYlQpDZFivBepohi9"
                  },
                  {
                    "id": "1766720323114025362934167521112",
                    "name": "Long Nguyen",
                    "summary": "• Kinh nghiệm: 6.5 năm, Business Analyst tại Innotech Vietnam Corporation, thiết kế wireframe, phối hợp UI/UX.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "nguyenthanhlong7997@gmail.com",
                    "phone": "076 - 878 - 0801",
                    "link_cv": "https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm",
                    "file_url": "https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm"
                  },
                  {
                    "id": "17667203231147340108202831591",
                    "name": "Nguyen Dang Khoa",
                    "summary": "• Kinh nghiệm: hơn 5 năm, Data Activation Specialist tại KOVA Trading JSC, Business Analyst cum Project Manager tại KIMEI Global.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "ngdkhoa3979@gmail.com",
                    "phone": "097 - 939 - 8692",
                    "link_cv": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU",
                    "file_url": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU"
                  },
                  {
                    "id": "176672032311414526314694675102",
                    "name": "Pham Anh Tuan",
                    "summary": "• Kinh nghiệm: 4.5 năm, Senior Client Service Associate tại DIALECTICA, Data Scientist tại DOCKLAB.NL, phát triển mô hình Marketing, phân tích dữ liệu, thành thạo SQL, PowerBI, Machine Learning, Python.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "phamtuanhp1994@gmail.com",
                    "phone": "081 - 650 - 1816",
                    "link_cv": "https://drive.google.com/file/d/1tGsXlk_dtmJT8jS2pqnjoRdrlCdiL8oh",
                    "file_url": "https://drive.google.com/file/d/1tGsXlk_dtmJT8jS2pqnjoRdrlCdiL8oh"
                  },
                  {
                    "id": "1766720323114551194081018511",
                    "name": "Vo Quoc Thang",
                    "summary": "• Kinh nghiệm: 3.5 năm, Site Selection Administration tại Pharmacity JSC, Business Analyst Executive tại Phee Group.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "thangvoquoc2810@gmail.com",
                    "phone": "092 - 717 - 0723",
                    "link_cv": "https://drive.google.com/file/d/1EgvS9MdAXCerNudccQ3kjGGS6FA8_lSB",
                    "file_url": "https://drive.google.com/file/d/1EgvS9MdAXCerNudccQ3kjGGS6FA8_lSB"
                  },
                  {
                    "id": "176672032311426930951176810647",
                    "name": "Dinh Hoang Tien",
                    "summary": "• Kinh nghiệm: 7+ năm, Research Executive Leader tại Kompa, lãnh đạo nhóm phân tích dữ liệu người dùng trên mạng xã hội.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "tien.dh95@gmail.com",
                    "phone": "070 - 384 - 4100",
                    "link_cv": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F",
                    "file_url": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F"
                  },
                  {
                    "id": "176672032311421275305729960003",
                    "name": "Trương Anh Thư",
                    "summary": "• Kinh nghiệm: 4 năm, Business Analyst tại IVS Joint Stock Company, phân tích yêu cầu, tạo wireframe, mockup, phối hợp thiết kế prototype.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "youthutruong322000@gmail.com",
                    "phone": "037 - 755 - 3765",
                    "link_cv": "https://drive.google.com/file/d/1gYP0gA1nrlAYSjL9IT_E9emsazvmshMB",
                    "file_url": "https://drive.google.com/file/d/1gYP0gA1nrlAYSjL9IT_E9emsazvmshMB"
                  },
                  {
                    "id": "176672032311443000484843555364",
                    "name": "Ha Nguyen Hai Dang",
                    "summary": "• Kinh nghiệm: 4.5 năm, Business Analyst tại FPT Information System, đảm bảo giao dự án đúng hạn.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "danghanguyenhai@gmail.com",
                    "phone": "083 - 399 - 6989",
                    "link_cv": "https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI",
                    "file_url": "https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI"
                  },
                  {
                    "id": "17667203231141452926980927961",
                    "name": "Truong Le Hoang Van",
                    "summary": "• Kinh nghiệm: 1 năm 7 tháng, Junior Business Analyst tại LF Global Tech HCMC, Business Analyst Intern tại Heineken Vietnam, đánh giá quy trình, tạo wireframe, quản lý phân tích kinh doanh, áp dụng Agile, kiểm thử người dùng.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 1,
                    "skills_found": [],
                    "email": "hoangvantruong.work@gmail.com",
                    "phone": "098 - 119 - 4912",
                    "link_cv": "https://drive.google.com/file/d/1QI00JOxbIUoz8w_vgvEFOJJjed3amZs-",
                    "file_url": "https://drive.google.com/file/d/1QI00JOxbIUoz8w_vgvEFOJJjed3amZs-"
                  }
                ]
              },
              {
                "id": "1766720801766",
                "role": "user",
                "content": "phân tích ưu điểm và nhược điểm của ứng viên tên Giang",
                "timestamp": 1766720801766
              },
              {
                "id": "1766720813494",
                "role": "assistant",
                "content": "Tìm thấy ứng viên Nguyen Chau Giang với gần 5 năm kinh nghiệm quản lý sản phẩm và phân tích nghiệp vụ, có email và số điện thoại liên hệ rõ ràng. Đã phân tích ưu nhược điểm chi tiết.\n\nNguyen Chau Giang – [Link CV](https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5)\n- Email: nguyenchaugiang5211@gmail.com | SĐT: 037-307-5225\nƯu điểm:\n- Kinh nghiệm gần 5 năm trong vai trò Business Analyst, Product Owner và Product/Project Manager tại nhiều công ty như Usumsoftware, Tesosoft, Ztech Asia (Spahub.vn), Bluebolt.vn.\n- Thành thạo nhiều kỹ năng quản lý sản phẩm và dự án như Product Strategy, Agile (Scrum, Kanban), Backlog Prioritization, Stakeholder Management, Go-to-Market, viết tài liệu PRD/MRD/FRS/SRS, Wireframing, phân tích dữ liệu (KPIs, Funnels), tài liệu API, tổ chức hội thảo, hợp tác đa đội nhóm, đào tạo và cố vấn.\n- Đã dẫn dắt vòng đời sản phẩm từ chiến lược, kiến trúc tới phát triển MVP và ra mắt thị trường, với các kết quả cụ thể như tăng 30% hiệu suất sprint, tăng 50% DAU và 30% tỷ lệ người dùng quay lại.\n- Kỹ năng phối hợp đa phòng ban (Kỹ thuật, Marketing, Vận hành) để triển khai các module CRM, đặt chỗ, tích điểm và trò chơi hóa.\n- Kinh nghiệm tổ chức đào tạo nhóm, quản lý quy trình onboard cho nhà bán hàng.\n- Có khả năng lãnh đạo nhóm, giám sát nhóm gồm Tester và BA, tổ chức hội thảo để định nghĩa MVP và phân tích yêu cầu.\nNhược điểm:\n- Không có thông tin rõ ràng về trình độ học vấn hoặc các chứng chỉ chuyên môn.\n- Không đề cập trực tiếp đến kỹ năng kỹ thuật sâu về coding hay phát triển phần mềm.\n- Chưa có thông tin về khả năng ngoại ngữ hoặc kỹ năng mềm ngoài thuyết trình và tư vấn khách hàng.\n- Các mô tả công việc khá tập trung vào quản lý sản phẩm và phân tích, có thể hạn chế nếu công ty cần ứng viên có kỹ năng kỹ thuật sâu hoặc chuyên môn khác.",
                "timestamp": 1766720813494,
                "candidates": [
                  {
                    "id": "17667208134946328183306130664",
                    "name": "Nguyen Chau Giang",
                    "summary": " Ưu điểm:\n• Kinh nghiệm: gần 5 năm trong vai trò Business Analyst, Product Owner và Product/Project Manager tại nhiều công ty như Usumsoftware, Tesosoft, Ztech Asia (Spahub.vn), Bluebolt.vn.\n• Thành thạo nhiều kỹ năng quản lý sản phẩm và dự án như Product Strategy, Agile (Scrum, Kanban), Backlog Prioritization, Stakeholder Management, Go-to-Market, viết tài liệu PRD/MRD/FRS/SRS, Wireframing, phân tích dữ liệu (KPIs, Funnels), tài liệu API, tổ chức hội thảo, hợp tác đa đội nhóm, đào tạo và cố vấn.\n• Đã dẫn dắt vòng đời sản phẩm từ chiến lược, kiến trúc tới phát triển MVP và ra mắt thị trường, với các kết quả cụ thể như tăng 30% hiệu suất sprint, tăng 50% DAU và 30% tỷ lệ người dùng quay lại.\n• Kinh nghiệm: tổ chức đào tạo nhóm, quản lý quy trình onboard cho nhà bán hàng.\n• Có khả năng lãnh đạo nhóm, giám sát nhóm gồm Tester và BA, tổ chức hội thảo để định nghĩa MVP và phân tích yêu cầu.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [
                      "phối hợp đa phòng ban (Kỹ thuật",
                      "Marketing",
                      "Vận hành) để triển khai các module CRM",
                      "đặt chỗ",
                      "tích điểm và trò chơi hóa."
                    ],
                    "email": "nguyenchaugiang5211@gmail.com",
                    "phone": "037-307-5225",
                    "link_cv": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5",
                    "file_url": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5"
                  },
                  {
                    "id": "176672081349403766996347526341",
                    "name": "Nhược điểm",
                    "summary": "• Không có thông tin rõ ràng về trình độ học vấn hoặc các chứng chỉ chuyên môn.\n• Không đề cập trực tiếp đến kỹ năng kỹ thuật sâu về coding hay phát triển phần mềm.\n• Chưa có thông tin về khả năng ngoại ngữ hoặc kỹ năng mềm ngoài thuyết trình và tư vấn khách hàng.\n• Các mô tả công việc khá tập trung vào quản lý sản phẩm và phân tích, có thể hạn chế nếu công ty cần ứng viên có kỹ năng kỹ thuật sâu hoặc chuyên môn khác.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "",
                    "phone": ""
                  }
                ]
              },
              {
                "id": "1766720936594",
                "role": "user",
                "content": "cho tôi tất cả các ứng viên có kỹ năng quản lý",
                "timestamp": 1766720936594
              },
              {
                "id": "1766720974287",
                "role": "assistant",
                "content": "Tìm thấy 26 ứng viên có kỹ năng quản lý với thông tin liên hệ đầy đủ (Email và SĐT) và kinh nghiệm quản lý từ 1.5 năm đến hơn 8 năm.\n\nNguyen Dang Khoa – [Link CV](https://drive.google.com/file/d/1G2tUNtMjuGx6Lh6hYlQpDZFivBepohi9)\n- Email: dangkhoa4466@gmail.com | Phone: 036 - 914 - 4041\n- Kinh nghiệm: 5 năm, có kinh nghiệm quản lý khu vực, hỗ trợ quản lý và triển khai vận hành.\nLong Nguyen – [Link CV](https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm)\n- Email: nguyenthanhlong7997@gmail.com | Phone: 076 - 878 - 0801\n- Kinh nghiệm: 6.5 năm, có kỹ năng quản lý các bên liên quan, lãnh đạo, quản lý dự án và backlog.\nTruong Le Hoang Van – [Link CV](https://drive.google.com/file/d/1QI00JOxbIUoz8w_vgvEFOJJjed3amZs-)\n- Email: hoangvantruong.work@gmail.com | Phone: 098 - 119 - 4912\n- Kinh nghiệm: 1 năm 7 tháng, quản lý backlog và phân tích kinh doanh, ưu tiên backlog, tạo sự đồng thuận các bên liên quan.\nVan Phong Bui – [Link CV](https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW)\n- Email: phongbv.j4s@gmail.com | Phone: 038 - 981 - 3641\n- Kinh nghiệm: 8 năm, quản lý dự án, quản lý onboarding đối tác, báo cáo hiệu suất, cải tiến quy trình.\nVo Quoc Thang – [Link CV](https://drive.google.com/file/d/1EgvS9MdAXCerNudccQ3kjGGS6FA8_lSB)\n- Email: thangvoquoc2810@gmail.com | Phone: 092 - 717 - 0723\n- Kinh nghiệm: 3.5 năm, kỹ năng quản lý thời gian, tổ chức, phối hợp và giao tiếp với các bên liên quan.\nKhang Trương Hữu – [Link CV](https://drive.google.com/file/d/1vXDnZVnaTpN07qKBzfunXqBHe9-_H7pU)\n- Email: khang.truong128000@gmail.com | Phone: 088 - 807 - 7924\n- Kinh nghiệm: 3 năm, giám sát tiến độ dự án, khảo sát quy trình, chuẩn bị báo cáo, đào tạo người dùng cuối.\nVo Minh Tan – [Link CV](https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN)\n- Email: vominhtan3105@gmail.com | Phone: 033 - 901 - 6535\n- Kinh nghiệm: 3.5 năm, quản lý vòng đời dự án AI, quản lý thay đổi yêu cầu.\nDinh Hoang Tien – [Link CV](https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F)\n- Email: tien.dh95@gmail.com | Phone: 070 - 384 - 4100\n- Kinh nghiệm: 7+ năm, quản lý đội nhóm 15 người, quản lý dự án Agile (Scrum), lãnh đạo và quản lý con người.\nTran Thi Thu Oanh – [Link CV](https://drive.google.com/file/d/1eHGI3WlB_NPwpVReNWvV26THbfbsvu9U)\n- Email: thuoanh06032001@gmail.com | Phone: 097 - 928 - 3870\n- Kinh nghiệm: 3.5 năm, quản lý backlog, ưu tiên nhiệm vụ, hợp tác đa nhóm.\nTran Hoang Quan – [Link CV](https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg)\n- Email: quan.tranhoang14@gmail.com | Phone: 096 - 898 - 6364\n- Kinh nghiệm: 6.4 năm, quản lý tiến độ sản phẩm, gia hạn giấy phép, quản lý nhà cung cấp, quản lý đối tác chiến lược.\nPhu Nguyen – [Link CV](https://drive.google.com/file/d/1zo-diFPXyCI_it5-s-PjGPVGZkMoLGz-)\n- Email: nhdphu2@gmail.com | Phone: 035 - 220 - 2547\n- Kinh nghiệm: 4 năm, quản lý tiếp nhận kỹ thuật, quản lý mối quan hệ các bên liên quan.\nPhạm Đỗ Khoa – [Link CV](https://drive.google.com/file/d/18JwKuo6iI_WMgNwJTKLxl-mhMXVWyfJS)\n- Email: dokhoapham@gmail.com | Phone: 034 - 673 - 2380\n- Kinh nghiệm: 4 năm, quản lý và ưu tiên backlog sản phẩm, quản lý hệ thống camera kho, quản lý thiết bị và vị trí kho.\nTran Quoc Kiet – [Link CV](https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX)\n- Email: kiettran27101999@gmail.com | Phone: 090 - 385 - 4218\n- Kinh nghiệm: 5 năm, quản lý dự án IT và theo dõi hiệu suất.\nLê Quang Hải Đăng – [Link CV](https://drive.google.com/file/d/1oSmpr5i5FOUwKLtKP7xHLgAzLEQ_tHm2)\n- Email: lequanghaidang2502@gmail.com | Phone: 070 - 852 - 0743\n- Kinh nghiệm: 2 năm, quản lý cơ sở dữ liệu, quản lý nhà cung cấp và các bên liên quan.\nHoang Nguyen Phuong Thanh – [Link CV](https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0)\n- Email: hoangthanh6102003@gmail.com | Phone: 083 - 829 - 9280\n- Kinh nghiệm: 2.5 năm, quản lý backlog sản phẩm trên Jira.\nTran Van Duc – [Link CV](https://drive.google.com/file/d/1TbUo9a-BLeX6aHPzjoJ7wCkkJZnO5JQF)\n- Email: ducforwork@gmail.com | Phone: 090 - 595 - 5256\n- Kinh nghiệm: 4 năm 3 tháng, quản lý tiến độ lộ trình sản phẩm.\nHa Nguyen Hai Dang – [Link CV](https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI)\n- Email: danghanguyenhai@gmail.com | Phone: 083 - 399 - 6989\n- Kinh nghiệm: 4.5 năm, quản lý backlog, product road mapping, quản lý các bên liên quan.\nBùi Bích Vân – [Link CV](https://drive.google.com/file/d/1j08HM5eQWDaQfjWX1wDrVBlICbvFlMCC)\n- Email: bbvan2412@gmail.com | Phone: 097 - 522 - 2441\n- Kinh nghiệm: 2 năm, quản lý quy trình kiểm thử chấp nhận người dùng (UAT).\nNguyễn Thị Anh Đào – [Link CV](https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem)\n- Email: daohtttql@gmail.com | Phone: 052 - 887 - 1169\n- Kinh nghiệm: 3 năm, kỹ năng phân tích, quản lý dự án, kỹ năng giao tiếp.\nNguyen Trung Hieu – [Link CV](https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw)\n- Email: hieunt07101999@gmail.com | Phone: 094 - 200 - 2794\n- Kinh nghiệm: 4.9 năm, quản lý sản phẩm kỹ thuật, quản lý backlog và ưu tiên.\nNguyen Chau Giang – [Link CV](https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5)\n- Email: nguyenchaugiang5211@gmail.com | Phone: 037 - 307 - 5225\n- Kinh nghiệm: 4 năm 11 tháng, quản lý backlog sản phẩm, kế hoạch sprint, cải thiện hiệu suất sprint.\nNguyen Dang Khoa – [Link CV](https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU)\n- Email: ngdkhoa3979@gmail.com | Phone: 097 - 939 - 8692\n- Kinh nghiệm: hơn 5 năm, quản lý dự án Agile/Scrum, điều phối backlog và lịch phát hành.\nLy Thanh An – [Link CV](https://drive.google.com/file/d/1AnHsPdjcOyNMWkaCfcoUCUvEg4Ki45d_)\n- Email: anlythanh.se@gmail.com | Phone: 092 - 934 - 7523\n- Kinh nghiệm: 1.5 năm, quản lý quy trình kiểm thử QA, dẫn dắt kiểm thử chấp nhận người dùng (UAT).\nTrương Anh Thư – [Link CV](https://drive.google.com/file/d/1gYP0gA1nrlAYSjL9IT_E9emsazvmshMB)\n- Email: youthutruong322000@gmail.com | Phone: 037 - 755 - 3765\n- Kinh nghiệm: 4 năm, kỹ năng phân tích yêu cầu, quản lý thời gian, giao tiếp, tư duy phản biện.",
                "timestamp": 1766720974287,
                "candidates": [
                  {
                    "id": "17667209742876082123741930977",
                    "name": "Nguyen Dang Khoa",
                    "summary": "• Kinh nghiệm: 5 năm, có kinh nghiệm quản lý khu vực, hỗ trợ quản lý và triển khai vận hành.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "dangkhoa4466@gmail.com",
                    "phone": "036 - 914 - 4041",
                    "link_cv": "https://drive.google.com/file/d/1G2tUNtMjuGx6Lh6hYlQpDZFivBepohi9",
                    "file_url": "https://drive.google.com/file/d/1G2tUNtMjuGx6Lh6hYlQpDZFivBepohi9"
                  },
                  {
                    "id": "176672097428718738803171358964",
                    "name": "Long Nguyen",
                    "summary": "• Kinh nghiệm: 6.5 năm, có kỹ năng quản lý các bên liên quan, lãnh đạo, quản lý dự án và backlog.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "nguyenthanhlong7997@gmail.com",
                    "phone": "076 - 878 - 0801",
                    "link_cv": "https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm",
                    "file_url": "https://drive.google.com/file/d/1o35P11GlLWaqPwM3A8OPtioSZWT-kNxm"
                  },
                  {
                    "id": "176672097428713076312336951978",
                    "name": "Truong Le Hoang Van",
                    "summary": "• Kinh nghiệm: 1 năm 7 tháng, quản lý backlog và phân tích kinh doanh, ưu tiên backlog, tạo sự đồng thuận các bên liên quan.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 1,
                    "skills_found": [],
                    "email": "hoangvantruong.work@gmail.com",
                    "phone": "098 - 119 - 4912",
                    "link_cv": "https://drive.google.com/file/d/1QI00JOxbIUoz8w_vgvEFOJJjed3amZs-",
                    "file_url": "https://drive.google.com/file/d/1QI00JOxbIUoz8w_vgvEFOJJjed3amZs-"
                  },
                  {
                    "id": "17667209742871553678704789212",
                    "name": "Van Phong Bui",
                    "summary": "• Kinh nghiệm: 8 năm, quản lý dự án, quản lý onboarding đối tác, báo cáo hiệu suất, cải tiến quy trình.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 8,
                    "skills_found": [],
                    "email": "phongbv.j4s@gmail.com",
                    "phone": "038 - 981 - 3641",
                    "link_cv": "https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW",
                    "file_url": "https://drive.google.com/file/d/1J4kPD3PeO6LIOoMwLsNSrO8r2nz7zJCW"
                  },
                  {
                    "id": "17667209742873966358169972104",
                    "name": "Vo Quoc Thang",
                    "summary": "• Kinh nghiệm: 3.5 năm, kỹ năng quản lý thời gian, tổ chức, phối hợp và giao tiếp với các bên liên quan.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "thangvoquoc2810@gmail.com",
                    "phone": "092 - 717 - 0723",
                    "link_cv": "https://drive.google.com/file/d/1EgvS9MdAXCerNudccQ3kjGGS6FA8_lSB",
                    "file_url": "https://drive.google.com/file/d/1EgvS9MdAXCerNudccQ3kjGGS6FA8_lSB"
                  },
                  {
                    "id": "17667209742877714068327133435",
                    "name": "Khang Trương Hữu",
                    "summary": "• Kinh nghiệm: 3 năm, giám sát tiến độ dự án, khảo sát quy trình, chuẩn bị báo cáo, đào tạo người dùng cuối.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 3,
                    "skills_found": [],
                    "email": "khang.truong128000@gmail.com",
                    "phone": "088 - 807 - 7924",
                    "link_cv": "https://drive.google.com/file/d/1vXDnZVnaTpN07qKBzfunXqBHe9-_H7pU",
                    "file_url": "https://drive.google.com/file/d/1vXDnZVnaTpN07qKBzfunXqBHe9-_H7pU"
                  },
                  {
                    "id": "1766720974287907422218820138",
                    "name": "Vo Minh Tan",
                    "summary": "• Kinh nghiệm: 3.5 năm, quản lý vòng đời dự án AI, quản lý thay đổi yêu cầu.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "vominhtan3105@gmail.com",
                    "phone": "033 - 901 - 6535",
                    "link_cv": "https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN",
                    "file_url": "https://drive.google.com/file/d/1Zy1acKhrrGr-4Eub0hHKUcbdgzIWidzN"
                  },
                  {
                    "id": "1766720974287514967522996403",
                    "name": "Dinh Hoang Tien",
                    "summary": "• Kinh nghiệm: 7+ năm, quản lý đội nhóm 15 người, quản lý dự án Agile (Scrum), lãnh đạo và quản lý con người.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 0,
                    "skills_found": [],
                    "email": "tien.dh95@gmail.com",
                    "phone": "070 - 384 - 4100",
                    "link_cv": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F",
                    "file_url": "https://drive.google.com/file/d/1s7H5iTORk0_PFbdOwgWmyylLqDgbpm2F"
                  },
                  {
                    "id": "17667209742873685584318624697",
                    "name": "Tran Thi Thu Oanh",
                    "summary": "• Kinh nghiệm: 3.5 năm, quản lý backlog, ưu tiên nhiệm vụ, hợp tác đa nhóm.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "thuoanh06032001@gmail.com",
                    "phone": "097 - 928 - 3870",
                    "link_cv": "https://drive.google.com/file/d/1eHGI3WlB_NPwpVReNWvV26THbfbsvu9U",
                    "file_url": "https://drive.google.com/file/d/1eHGI3WlB_NPwpVReNWvV26THbfbsvu9U"
                  },
                  {
                    "id": "17667209742873259514043981182",
                    "name": "Tran Hoang Quan",
                    "summary": "• Kinh nghiệm: 6.4 năm, quản lý tiến độ sản phẩm, gia hạn giấy phép, quản lý nhà cung cấp, quản lý đối tác chiến lược.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "quan.tranhoang14@gmail.com",
                    "phone": "096 - 898 - 6364",
                    "link_cv": "https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg",
                    "file_url": "https://drive.google.com/file/d/1BqW1brXrIaAnzMVjHhtgqHQSx5X-1GIg"
                  },
                  {
                    "id": "1766720974287683175759296835",
                    "name": "Phu Nguyen",
                    "summary": "• Kinh nghiệm: 4 năm, quản lý tiếp nhận kỹ thuật, quản lý mối quan hệ các bên liên quan.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "nhdphu2@gmail.com",
                    "phone": "035 - 220 - 2547",
                    "link_cv": "https://drive.google.com/file/d/1zo-diFPXyCI_it5-s-PjGPVGZkMoLGz-",
                    "file_url": "https://drive.google.com/file/d/1zo-diFPXyCI_it5-s-PjGPVGZkMoLGz-"
                  },
                  {
                    "id": "176672097428736028380770386526",
                    "name": "Phạm Đỗ Khoa",
                    "summary": "• Kinh nghiệm: 4 năm, quản lý và ưu tiên backlog sản phẩm, quản lý hệ thống camera kho, quản lý thiết bị và vị trí kho.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "dokhoapham@gmail.com",
                    "phone": "034 - 673 - 2380",
                    "link_cv": "https://drive.google.com/file/d/18JwKuo6iI_WMgNwJTKLxl-mhMXVWyfJS",
                    "file_url": "https://drive.google.com/file/d/18JwKuo6iI_WMgNwJTKLxl-mhMXVWyfJS"
                  },
                  {
                    "id": "1766720974287577265546236516",
                    "name": "Tran Quoc Kiet",
                    "summary": "• Kinh nghiệm: 5 năm, quản lý dự án IT và theo dõi hiệu suất.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "kiettran27101999@gmail.com",
                    "phone": "090 - 385 - 4218",
                    "link_cv": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX",
                    "file_url": "https://drive.google.com/file/d/1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX"
                  },
                  {
                    "id": "176672097428747972496841070145",
                    "name": "Lê Quang Hải Đăng",
                    "summary": "• Kinh nghiệm: 2 năm, quản lý cơ sở dữ liệu, quản lý nhà cung cấp và các bên liên quan.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 2,
                    "skills_found": [],
                    "email": "lequanghaidang2502@gmail.com",
                    "phone": "070 - 852 - 0743",
                    "link_cv": "https://drive.google.com/file/d/1oSmpr5i5FOUwKLtKP7xHLgAzLEQ_tHm2",
                    "file_url": "https://drive.google.com/file/d/1oSmpr5i5FOUwKLtKP7xHLgAzLEQ_tHm2"
                  },
                  {
                    "id": "176672097428745374639198439604",
                    "name": "Hoang Nguyen Phuong Thanh",
                    "summary": "• Kinh nghiệm: 2.5 năm, quản lý backlog sản phẩm trên Jira.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "hoangthanh6102003@gmail.com",
                    "phone": "083 - 829 - 9280",
                    "link_cv": "https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0",
                    "file_url": "https://drive.google.com/file/d/1v0Wljta8wCGgUFFzm9ZGDFLZE7Ui_ue0"
                  },
                  {
                    "id": "176672097428726876464959466984",
                    "name": "Tran Van Duc",
                    "summary": "• Kinh nghiệm: 4 năm 3 tháng, quản lý tiến độ lộ trình sản phẩm.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "ducforwork@gmail.com",
                    "phone": "090 - 595 - 5256",
                    "link_cv": "https://drive.google.com/file/d/1TbUo9a-BLeX6aHPzjoJ7wCkkJZnO5JQF",
                    "file_url": "https://drive.google.com/file/d/1TbUo9a-BLeX6aHPzjoJ7wCkkJZnO5JQF"
                  },
                  {
                    "id": "17667209742876114724485307091",
                    "name": "Ha Nguyen Hai Dang",
                    "summary": "• Kinh nghiệm: 4.5 năm, quản lý backlog, product road mapping, quản lý các bên liên quan.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "danghanguyenhai@gmail.com",
                    "phone": "083 - 399 - 6989",
                    "link_cv": "https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI",
                    "file_url": "https://drive.google.com/file/d/1GTFI7kdGkz_szg9GMsRemmBO1FSxzSmI"
                  },
                  {
                    "id": "17667209742878074023830508273",
                    "name": "Bùi Bích Vân",
                    "summary": "• Kinh nghiệm: 2 năm, quản lý quy trình kiểm thử chấp nhận người dùng (UAT).",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 2,
                    "skills_found": [],
                    "email": "bbvan2412@gmail.com",
                    "phone": "097 - 522 - 2441",
                    "link_cv": "https://drive.google.com/file/d/1j08HM5eQWDaQfjWX1wDrVBlICbvFlMCC",
                    "file_url": "https://drive.google.com/file/d/1j08HM5eQWDaQfjWX1wDrVBlICbvFlMCC"
                  },
                  {
                    "id": "176672097428736700785895762256",
                    "name": "Nguyễn Thị Anh Đào",
                    "summary": "• Kinh nghiệm: 3 năm, kỹ năng phân tích, quản lý dự án, kỹ năng giao tiếp.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 3,
                    "skills_found": [],
                    "email": "daohtttql@gmail.com",
                    "phone": "052 - 887 - 1169",
                    "link_cv": "https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem",
                    "file_url": "https://drive.google.com/file/d/1fGfoGu9T8dVCTKw01MtKNcxIjlOLLJem"
                  },
                  {
                    "id": "17667209742878508494247596095",
                    "name": "Nguyen Trung Hieu",
                    "summary": "• Kinh nghiệm: 4.9 năm, quản lý sản phẩm kỹ thuật, quản lý backlog và ưu tiên.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 9,
                    "skills_found": [],
                    "email": "hieunt07101999@gmail.com",
                    "phone": "094 - 200 - 2794",
                    "link_cv": "https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw",
                    "file_url": "https://drive.google.com/file/d/1sSgxEJel4gbS1huASLXtn19A6whOg3Gw"
                  },
                  {
                    "id": "17667209742879798268670871431",
                    "name": "Nguyen Chau Giang",
                    "summary": "• Kinh nghiệm: 4 năm 11 tháng, quản lý backlog sản phẩm, kế hoạch sprint, cải thiện hiệu suất sprint.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "nguyenchaugiang5211@gmail.com",
                    "phone": "037 - 307 - 5225",
                    "link_cv": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5",
                    "file_url": "https://drive.google.com/file/d/1ApE19qjCdzJAHtrkcK0v3OgT2MzfREm5"
                  },
                  {
                    "id": "17667209742870095707333957874",
                    "name": "Nguyen Dang Khoa",
                    "summary": "• Kinh nghiệm: hơn 5 năm, quản lý dự án Agile/Scrum, điều phối backlog và lịch phát hành.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "ngdkhoa3979@gmail.com",
                    "phone": "097 - 939 - 8692",
                    "link_cv": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU",
                    "file_url": "https://drive.google.com/file/d/1Dv8gksWvvY-1DO3uzWCNjtwOObRrpNxU"
                  },
                  {
                    "id": "17667209742873147415705976736",
                    "name": "Ly Thanh An",
                    "summary": "• Kinh nghiệm: 1.5 năm, quản lý quy trình kiểm thử QA, dẫn dắt kiểm thử chấp nhận người dùng (UAT).",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 5,
                    "skills_found": [],
                    "email": "anlythanh.se@gmail.com",
                    "phone": "092 - 934 - 7523",
                    "link_cv": "https://drive.google.com/file/d/1AnHsPdjcOyNMWkaCfcoUCUvEg4Ki45d_",
                    "file_url": "https://drive.google.com/file/d/1AnHsPdjcOyNMWkaCfcoUCUvEg4Ki45d_"
                  },
                  {
                    "id": "17667209742877611195520608997",
                    "name": "Trương Anh Thư",
                    "summary": "• Kinh nghiệm: 4 năm, kỹ năng phân tích yêu cầu, quản lý thời gian, giao tiếp, tư duy phản biện.",
                    "strengths": [],
                    "score": 0.85,
                    "experience_years": 4,
                    "skills_found": [],
                    "email": "youthutruong322000@gmail.com",
                    "phone": "037 - 755 - 3765",
                    "link_cv": "https://drive.google.com/file/d/1gYP0gA1nrlAYSjL9IT_E9emsazvmshMB",
                    "file_url": "https://drive.google.com/file/d/1gYP0gA1nrlAYSjL9IT_E9emsazvmshMB"
                  }
                ]
              },
              {
                "id": "1766721201314",
                "role": "user",
                "content": "Danh sách các ứng viên tốt nghiệp Đại học Bách Khoa hoặc Đại học Quốc gia.",
                "timestamp": 1766721201314
              },
              {
                "id": "1766721206799",
                "role": "assistant",
                "content": "{\"status\":\"ok\",\"tenantCode\":\"\",\"chatid\":\"\",\"question_message\":\"\",\"answer_url\":[],\"source\":\"UN_ANSWER\",\"needs_clarification\":false,\"clarify_question\":null,\"handoff_note\":null,\"employeeId\":\"\",\"timestamp\":\"2025-12-26T03:53:29.247Z\"}",
                "timestamp": 1766721206799,
                "candidates": []
              },
              {
                "id": "1766721219794",
                "role": "user",
                "content": "Ai là người có khả năng giao tiếp tiếng Nhật (N2 trở lên)?",
                "timestamp": 1766721219794
              },
              {
                "id": "1766721226371",
                "role": "assistant",
                "content": "{\"status\":\"ok\",\"tenantCode\":\"\",\"chatid\":\"\",\"question_message\":\"\",\"answer_url\":[],\"source\":\"UN_ANSWER\",\"needs_clarification\":false,\"clarify_question\":null,\"handoff_note\":null,\"employeeId\":\"\",\"timestamp\":\"2025-12-26T03:53:48.830Z\"}",
                "timestamp": 1766721226371,
                "candidates": []
              },
              {
                "id": "1766721239028",
                "role": "user",
                "content": "Ai là người có khả năng giao tiếp tiếng Nhật (N3 trở lên)?",
                "timestamp": 1766721239028
              },
              {
                "id": "1766721245426",
                "role": "assistant",
                "content": "{\"status\":\"ok\",\"tenantCode\":\"\",\"chatid\":\"\",\"question_message\":\"\",\"answer_url\":[],\"source\":\"UN_ANSWER\",\"needs_clarification\":false,\"clarify_question\":null,\"handoff_note\":null,\"employeeId\":\"\",\"timestamp\":\"2025-12-26T03:54:07.883Z\"}",
                "timestamp": 1766721245426,
                "candidates": []
              },
              {
                "id": "1766721407126",
                "role": "user",
                "content": "cho tôi các ứng viên có bằng tiếng Nhật N3",
                "timestamp": 1766721407126
              },
              {
                "id": "1766721413047",
                "role": "assistant",
                "content": "{\"status\":\"ok\",\"tenantCode\":\"\",\"chatid\":\"\",\"question_message\":\"\",\"answer_url\":[],\"source\":\"UN_ANSWER\",\"needs_clarification\":false,\"clarify_question\":null,\"handoff_note\":null,\"employeeId\":\"\",\"timestamp\":\"2025-12-26T03:56:55.492Z\"}",
                "timestamp": 1766721413047,
                "candidates": []
              },
              {
                "id": "1766721811226",
                "role": "user",
                "content": "cho tôi các ứng viên có bằng tiếng Nhật N3",
                "timestamp": 1766721811226
              },
              {
                "id": "1766721817904",
                "role": "assistant",
                "content": "{\"status\":\"ok\",\"tenantCode\":\"\",\"chatid\":\"\",\"question_message\":\"\",\"answer_url\":[],\"source\":\"UN_ANSWER\",\"needs_clarification\":false,\"clarify_question\":null,\"handoff_note\":null,\"employeeId\":\"\",\"timestamp\":\"2025-12-26T04:03:40.342Z\"}",
                "timestamp": 1766721817904,
                "candidates": []
              },
              {
                "id": "1766721994758",
                "role": "user",
                "content": "cho tôi các ứng viên có bằng tiếng Nhật N3",
                "timestamp": 1766721994758
              },
              {
                "id": "1766722000543",
                "role": "assistant",
                "content": "{\"status\":\"ok\",\"tenantCode\":\"\",\"chatid\":\"\",\"question_message\":\"\",\"answer_url\":[],\"source\":\"UN_ANSWER\",\"needs_clarification\":false,\"clarify_question\":null,\"handoff_note\":null,\"employeeId\":\"\",\"timestamp\":\"2025-12-26T04:06:42.971Z\"}",
                "timestamp": 1766722000543,
                "candidates": []
              },
              {
                "id": "1766722027702",
                "role": "user",
                "content": "Ai là người có khả năng giao tiếp tiếng Nhật (N3 trở lên)?",
                "timestamp": 1766722027702
              }
            ]
          },
          "webhookUrl": "https://n8ndev.ndsvn.vn/webhook/chatbot_web",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "ResponeFormat": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ResponeFormat1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parsed_json": {
      "main": [
        [
          {
            "node": "ResponeFormat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "parsed_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unanswerformat": {
      "main": [
        [
          {
            "node": "ResponeFormat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "unanswerformat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resultcount": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format output": {
      "main": [
        [
          {
            "node": "EmbbedingVector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context-Merger": {
      "main": [
        [
          {
            "node": "message refined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat refined": {
      "ai_languageModel": [
        [
          {
            "node": "message refined",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "message refined": {
      "main": [
        [
          {
            "node": "format output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add score_threshold": {
      "main": [
        [
          {
            "node": "QdrantSearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QdrantSearch": {
      "main": [
        [
          {
            "node": "resultcount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EmbbedingVector": {
      "main": [
        [
          {
            "node": "add score_threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Context-Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "30764bb2-e0bb-4ccf-9fe5-84ab19324d82",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df174d571e95541c805919aa88d99c6ff9e79e2c1ffc42837bb92614d24bb4eb"
  },
  "id": "uHdBAT2wuV58AWkJ",
  "tags": []
}