workflow/CV_Processing_LLM_Pipeline_(Final).json
{
  "name": "CV Processing LLM Pipeline (Final)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// --- 1. CÁC HÀM HELPER ---\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nfunction clean(str) {\n  if (!str) return \"\";\n  if (Array.isArray(str)) return str.join(\", \"); \n  \n  return String(str)\n    .replace(/[“”‘’]/g, '\"')\n    .replace(/'/g, \"''\")\n    .replace(/[\\u0000-\\u0019]+/g, \" \")\n    .replace(/[\\u{1F600}-\\u{1F6FF}]/gu, \"\") \n    .trim();\n}\n\n// Hàm format text có gắn Tên Ứng Viên (Context)\nfunction formatTextForQdrant(str, candidateName) {\n  const context = `Candidate: ${candidateName}. Content: `;\n  return context + clean(str)\n    .replace(/\\r\\n/g, \"\\n\")\n    .replace(/\\n/g, \"\\\\n\\\\n\");\n}\n\n// --- 2. XỬ LÝ DATA ---\nconst items = $input.all();\nconst out = [];\n\nfor (const item of items) {\n  const inputJson = item.json;\n  let data = {};\n  \n  // --- A. Parse JSON ---\n  if (inputJson.parsed_json) {\n      data = inputJson.parsed_json;\n  } else if (inputJson.contact_info && (inputJson.skills || inputJson.experience)) {\n    data = inputJson;\n  } else {\n    const rawContent = inputJson.output || (inputJson.message && inputJson.message.content) || inputJson.text || JSON.stringify(inputJson);\n    const jsonString = String(rawContent).replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/, '').trim();\n    try {\n      data = JSON.parse(jsonString);\n    } catch (e) {\n      const match = jsonString.match(/\\{[\\s\\S]*\\}/);\n      if (match) { try { data = JSON.parse(match[0]); } catch (err) {} }\n      if (!data.contact_info) {\n        out.push({ json: { error: \"JSON Parse Error\", raw: rawContent } });\n        continue; \n      }\n    }\n  }\n\n  // --- B. METADATA ---\n  const candidateId = uuid(); \n  const timestamp = new Date().toISOString();\n  const contact = data.contact_info || {};\n  const cvLink = Array.isArray(data.link_cv) ? data.link_cv[0] : data.link_cv;\n  const candidateName = clean(contact.name || 'Unknown');\n\n  const baseMetadata = {\n    candidate_id: candidateId,\n    candidate_name: candidateName,\n    candidate_email: clean(contact.email),\n    candidate_phone: clean(contact.phone),\n    link_cv: clean(cvLink), \n    imported_at: timestamp\n  };\n\n  // --- C. TẠO VECTOR PAYLOAD (CHUNKING) ---\n\n  // 1. SKILLS\n  if (data.skills && Array.isArray(data.skills)) {\n    data.skills.forEach((skill) => {\n      if (!skill || skill.length < 2) return;\n      const rawText = `Skill: ${skill}`;\n      const formattedText = formatTextForQdrant(rawText, candidateName);\n      \n      out.push({\n        json: {\n          id: uuid(),\n          text: formattedText,\n          payload: { \n            ...baseMetadata, \n            key: 'skill',\n            type: 'skill', \n            text: formattedText \n          }\n        }\n      });\n    });\n  }\n\n  // 2. EXPERIENCE\n  if (data.experience && Array.isArray(data.experience)) {\n    data.experience.forEach((exp) => {\n      const desc = exp.description || \"\";\n      const sentences = desc.split(/(?:\\. |\\.\\n|\\n+)/).map(s => s.trim()).filter(s => s.length > 5);\n\n      if (sentences.length > 0) {\n        sentences.forEach((sentence) => {\n           const rawText = `Work Experience: ${exp.role} at ${exp.company} (${exp.time || 'N/A'}). Detail: ${sentence}.`;\n           const formattedText = formatTextForQdrant(rawText, candidateName);\n           \n           out.push({\n             json: {\n               id: uuid(),\n               text: formattedText,\n               payload: {\n                 ...baseMetadata,\n                 key: 'experience',\n                 type: 'experience',\n                 company: exp.company,\n                 role: exp.role,\n                 text: formattedText\n               }\n             }\n           });\n        });\n      } else {\n        const rawText = `Work Experience: ${exp.role} at ${exp.company} (${exp.time || 'N/A'}).`;\n        const formattedText = formatTextForQdrant(rawText, candidateName);\n\n        out.push({\n          json: {\n            id: uuid(),\n            text: formattedText,\n            payload: {\n              ...baseMetadata,\n              key: 'experience',\n              type: 'experience',\n              company: exp.company,\n              role: exp.role,\n              text: formattedText\n            }\n          }\n        });\n      }\n    });\n  }\n\n  // --- 3. PROJECTS (CẬP NHẬT: TÁCH CÂU DESCRIPTION) ---\n  if (data.projects && Array.isArray(data.projects)) {\n    data.projects.forEach((proj) => {\n      // Chuẩn bị dữ liệu chung\n      const techStack = (proj.technologies && Array.isArray(proj.technologies)) \n          ? proj.technologies.join(\", \") \n          : \"\";\n      const desc = proj.description || \"\";\n\n      // Logic tách câu (tương tự Experience)\n      const sentences = desc.split(/(?:\\. |\\.\\n|\\n+)/).map(s => s.trim()).filter(s => s.length > 5);\n\n      if (sentences.length > 0) {\n        // TRƯỜNG HỢP 1: Mô tả dài -> Tách thành nhiều vector con\n        sentences.forEach((sentence) => {\n           // Mỗi vector con vẫn giữ Context: Tên dự án + Vai trò + Tech Stack + Chi tiết câu đó\n           const rawText = `Project: ${proj.name} (${proj.time || 'N/A'}). Role: ${proj.role || 'Member'}. Tech Stack: ${techStack}. Detail: ${sentence}.`;\n           const formattedText = formatTextForQdrant(rawText, candidateName);\n\n           out.push({\n            json: {\n              id: uuid(),\n              text: formattedText,\n              payload: {\n                ...baseMetadata,\n                key: 'project',\n                type: 'project',\n                project_name: proj.name,\n                role: proj.role,\n                technologies: techStack,\n                link_project: proj.link || \"\",\n                text: formattedText\n              }\n            }\n          });\n        });\n      } else {\n        // TRƯỜNG HỢP 2: Mô tả quá ngắn hoặc rỗng -> Tạo 1 vector duy nhất\n        const rawText = `Project: ${proj.name} (${proj.time || 'N/A'}). Role: ${proj.role || 'Member'}. Tech Stack: ${techStack}. Description: ${desc}`;\n        const formattedText = formatTextForQdrant(rawText, candidateName);\n\n        out.push({\n          json: {\n            id: uuid(),\n            text: formattedText,\n            payload: {\n              ...baseMetadata,\n              key: 'project',\n              type: 'project',\n              project_name: proj.name,\n              role: proj.role,\n              technologies: techStack,\n              link_project: proj.link || \"\",\n              text: formattedText\n            }\n          }\n        });\n      }\n    });\n  }\n\n  // 4. EDUCATION\n  if (data.education && Array.isArray(data.education)) {\n    data.education.forEach((edu) => {\n      const rawText = `Education: ${edu.major} at ${edu.school} (${edu.time || 'N/A'}).`;\n      const formattedText = formatTextForQdrant(rawText, candidateName);\n\n      out.push({\n        json: {\n          id: uuid(),\n          text: formattedText,\n          payload: { \n            ...baseMetadata, \n            key: 'education',\n            type: 'education', \n            school: edu.school, \n            text: formattedText \n          }\n        }\n      });\n    });\n  }\n\n  // 5. CERTIFICATION\n  if (data.certification && Array.isArray(data.certification)) {\n    data.certification.forEach((cert) => {\n      const rawText = `Certification: ${cert.name} by ${cert.issuer || 'Unknown'} (${cert.time || 'N/A'}).`;\n      const formattedText = formatTextForQdrant(rawText, candidateName);\n\n      out.push({\n        json: {\n          id: uuid(),\n          text: formattedText,\n          payload: { \n            ...baseMetadata, \n            key: 'certification',\n            type: 'certification', \n            text: formattedText \n          }\n        }\n      });\n    });\n  }\n  \n  // 6. SUMMARY\n  if (data.summary) {\n    const rawText = `Candidate Summary: ${data.summary}`;\n    const formattedText = formatTextForQdrant(rawText, candidateName);\n    out.push({\n      json: {\n        id: uuid(),\n        text: formattedText,\n        payload: { \n          ...baseMetadata, \n          key: 'summary',\n          type: 'summary', \n          text: formattedText \n        }\n      }\n    });\n  }\n}\n\nif (out.length === 0) return [{ json: { warning: \"No valid vectors created.\" } }];\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        0
      ],
      "id": "35ba52f5-cf89-48b9-8de0-a329ca935678",
      "name": "Fn_Format"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.payload }}\n"
            },
            {
              "name": "model",
              "value": "text-embedding-3-small"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3072,
        0
      ],
      "id": "9f67420b-cea4-461f-96cc-d733e0479339",
      "name": "OpenAI Embedding",
      "credentials": {
        "openAiApi": {
          "id": "cnW6yERErYSFG3vg",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://idiochromatic-cody-uninspiringly.ngrok-free.dev/collections/RAG_FOR_CV/points",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3488,
        0
      ],
      "id": "e4f94698-1dfe-47f0-8bf4-147fa053e15c",
      "name": "Qdrant Upsert",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Lấy data từ 2 node trước\nconst fmtItems = $items('Fn_Format');          // Node chứa text + payload\nconst embItems = $items('OpenAI Embedding');   // Node chứa vector\n\nconst points = [];\n\n// Dùng Math.min để an toàn\nconst count = Math.min(fmtItems.length, embItems.length);\n\nfor (let i = 0; i < count; i++) {\n  const f = fmtItems[i].json; // Data gốc\n  const e = embItems[i].json; // Vector\n\n  // 1. TÌM VECTOR (Logic bắt lỗi vector như cũ)\n  const vector = e.embedding \n              || (e.data && e.data[0] ? e.data[0].embedding : null)\n              || e.vector; \n\n  if (vector) {\n     // Lấy dữ liệu từ payload hoặc metadata\n     const sourceData = f.payload || f.metadata || {}; \n\n     // 2. TẠO PAYLOAD\n     // Copy toàn bộ dữ liệu gốc (candidate_id, candidate_name, type...)\n     const payload = { ...sourceData };\n\n     // 3. XỬ LÝ LÀM SẠCH (Loại bỏ trường thừa)\n     // Xóa các trường ngắn nếu chúng vô tình tồn tại\n     delete payload.name;\n     delete payload.email;\n     delete payload.phone;\n     delete payload.text_content; \n\n     // 4. ĐẢM BẢO CÁC TRƯỜNG QUAN TRỌNG\n     // Đảm bảo link_cv luôn tồn tại (nếu null thì thành chuỗi rỗng)\n     payload.link_cv = sourceData.link_cv || \"\";\n\n     // Đảm bảo trường 'text' tồn tại (đây là nội dung chính để RAG đọc)\n     // Nếu node trước trả về 'text' thì giữ nguyên, nếu không thì lấy từ f.text\n     payload.text = sourceData.text || f.text || \"\";\n\n     points.push({\n       id: f.id,       // UUID\n       vector: vector, // Vector Array\n       payload: payload\n     });\n  }\n}\n\n// Kiểm tra debug\nif (points.length === 0) {\n  return [{\n    json: {\n      error: \"Không tìm thấy Vector nào.\",\n      debug_check: {\n        has_payload: !!fmtItems[0].json.payload\n      }\n    }\n  }];\n}\n\n// Trả về format chuẩn\nreturn [\n  {\n    json: { points }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        0
      ],
      "id": "6c407757-3f23-4a6a-ad54-681869370d0f",
      "name": "Fn_Info"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        800,
        96
      ],
      "id": "4adbc71a-4508-4bf7-9a48-d5fa55a0824e",
      "name": "Lấy thông tin CV"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64113236-bf3e-4626-bd7a-04fc9d68f321",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        112
      ],
      "id": "7c4d89a1-81bc-4987-8251-5f5e1fc1b740",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "6747c7b5-126b-4453-ad44-8aba636e6f72"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3a7b9d2-9e06-4b04-b753-9e291ed5c013",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        576,
        32
      ],
      "id": "ad78aa31-86b3-460f-a07a-2597d999eafa",
      "name": "Switch"
    },
    {
      "parameters": {
        "destinationOutputField": "data"
      },
      "type": "n8n-nodes-docx-converter.docxToText",
      "typeVersion": 1,
      "position": [
        896,
        -32
      ],
      "id": "94890b9f-d1db-46f1-a5dd-a9b0e33e80fd",
      "name": "DOCX to Text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        0
      ],
      "id": "33dbb8c8-4f88-4d4e-8171-71a40787d32f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "14D4unjml76bPfmemHRwkHEzgYDl8R2Ac",
            "mode": "list",
            "cachedResultName": "nds_ai_ba",
            "cachedResultUrl": "https://drive.google.com/drive/folders/14D4unjml76bPfmemHRwkHEzgYDl8R2Ac"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        16
      ],
      "id": "ae933dfc-08ee-42a5-b756-2ea891266faf",
      "name": "Tìm các file CV",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "odrG1GwjSHygCdQb",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        0
      ],
      "id": "307cbae1-fc92-4739-97ad-d705b643c8cc",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Link CV:\n{{ $node['Upload file'].json.webViewLink }}\nCV:\n{{ $json.resume_content }}\n",
        "options": {
          "systemMessage": "=Bạn là một Chuyên gia Phân tích CV và Trích xuất Dữ liệu (CV Parsing & OCR Expert) với nguyên tắc \"Zero-Shot Accuracy\". Nhiệm vụ của bạn là chuyển đổi văn bản thô của hồ sơ ứng viên thành cấu trúc JSON chuẩn.\n\n---\nNGUYÊN TẮC CỐT LÕI (BẮT BUỘC TUÂN THỦ):\n\n1. CHỐNG BỊA ĐẶT (ANTI-HALLUCINATION):\n   - CHỈ trích xuất thông tin CÓ THẬT trong văn bản.\n   - Tuyệt đối KHÔNG tự suy luận số năm kinh nghiệm nếu CV không ghi rõ.\n   - Nếu thông tin bị thiếu, hãy để giá trị là `null` hoặc chuỗi rỗng `\"\"`. KHÔNG được điền dữ liệu giả (placeholder).\n   - Đối với Kỹ năng/Công nghệ: Chỉ liệt kê những gì ứng viên viết ra. Không tự ý thêm (VD: Thấy \"Laravel\" không được tự ý thêm \"PHP\" nếu không ghi).\n\n2. XỬ LÝ NGÔN NGỮ & DỊCH THUẬT:\n   - Phần mô tả (Description/Summary): Dịch sang TIẾNG VIỆT trôi chảy, văn phong chuyên nghiệp.\n   - KỸ NĂNG (SKILLS) - QUAN TRỌNG:\n     + Các công nghệ, ngôn ngữ lập trình, công cụ (Hard Skills): GIỮ NGUYÊN tên gốc (VD: Python, Docker, AWS, Excel).\n     + Các kỹ năng mềm (Soft Skills): DỊCH SANG TIẾNG VIỆT (VD: \"Teamwork\" -> \"Làm việc nhóm\", \"Problem Solving\" -> \"Giải quyết vấn đề\").\n   - Tên riêng (Công ty, Trường, Dự án): Giữ nguyên.\n\n3. ĐỊNH DẠNG OUTPUT:\n   - Trả về DUY NHẤT một chuỗi JSON hợp lệ.\n   - Không bao bọc bởi markdown (```json ... ```).\n\n---\nCẤU TRÚC JSON MỤC TIÊU:\n\n{\n  \"link_cv\": \"URL/Link CV nếu có trong văn bản (nếu không: null)\",\n  \"contact_info\": {\n    \"name\": \"Họ và tên đầy đủ (Viết Hoa Chữ Cái Đầu). Nếu không tìm thấy: 'Unknown'\",\n    \"email\": \"Email chính xác (nếu không: null)\",\n    \"phone\": \"Số điện thoại (nếu không: null)\"\n  },\n  \"skills\": [\n    // Mảng phẳng (Flat Array). CHỈ lấy các từ khóa công nghệ/kỹ năng cứng.\n    // Ví dụ: [\"Python\", \"Machine Learning\", \"Teamwork\"]\n  ],\n  \"experience\": [\n    {\n      \"company\": \"Tên công ty (Giữ nguyên gốc)\",\n      \"role\": \"Chức danh/Vị trí\",\n      \"time\": \"Thời gian làm việc (Giữ nguyên định dạng gốc)\",\n      \"description\": \"Mô tả chi tiết nhiệm vụ và thành tựu bằng TIẾNG VIỆT.\"\n    }\n  ],\n  \"projects\": [\n    // Trích xuất các dự án nổi bật (Dự án cá nhân, Freelance, hoặc Dự án lớn trong công ty)\n    {\n      \"name\": \"Tên dự án (Giữ nguyên gốc)\",\n      \"role\": \"Vai trò trong dự án (VD: Backend Lead, PM...)\",\n      \"time\": \"Thời gian thực hiện (nếu có)\",\n      \"link\": \"Link demo/git/product (nếu có)\",\n      \"technologies\": [\n         // Mảng các công nghệ sử dụng trong dự án này (VD: [\"ReactJS\", \"NodeJS\"])\n         // Rất quan trọng: Hãy tách riêng công nghệ ra khỏi mô tả để dễ tìm kiếm.\n      ],\n      \"description\": \"Mô tả ngắn gọn về dự án và kết quả đạt được (Tiếng Việt).\"\n    }\n    // Nếu không có dự án nào được liệt kê riêng biệt, để mảng rỗng []\n  ],\n  \"education\": [\n    {\n      \"school\": \"Tên trường\",\n      \"major\": \"Chuyên ngành/Khoa\",\n      \"time\": \"Niên khóa\"\n    }\n  ],\n  \"certification\": [\n    {\n      \"name\": \"Tên chứng chỉ\",\n      \"issuer\": \"Tổ chức cấp\",\n      \"time\": \"Thời gian\"\n    }\n  ]\n}\n\n---\nDỮ LIỆU ĐẦU VÀO CẦN XỬ LÝ:\n{{ $json.resume_content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2496,
        0
      ],
      "id": "f916c44c-0a43-4e5e-ab3a-5177e921fbe4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2352,
        240
      ],
      "id": "aad63fd0-d17e-4940-9ec6-78b139a21a1f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cnW6yERErYSFG3vg",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5a2dbf9-5ebb-4c64-bc35-0a120673a097",
              "leftValue": "={{ $json.text.trim() === \"\" }}",
              "rightValue": "\\n\\n",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        -80
      ],
      "id": "63599e9a-6c39-4655-bc11-2e557587ffb7",
      "name": "Check null",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/to/png",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "huyvo8500@gmail.com_WLXjOykYtiR9U8YvQl2RiCdhrNSnj2tWB7yrl7gKzBUKe4H0IDC9JEj3mYVqIzbK"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "=https://drive.google.com/file/d/{{ $('Loop Over Items1').item.json.id }}"
            },
            {
              "name": "inline",
              "value": "true"
            },
            {
              "name": "pages",
              "value": "0-"
            },
            {
              "name": "async",
              "value": "false"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        64
      ],
      "id": "9f83b9c1-8f14-423e-9776-f3e0ca376689",
      "name": "Convert PDF2Image"
    },
    {
      "parameters": {
        "jsCode": "const pages = [];\nlet fullText = \"\";\n\nitems.forEach((it, idx) => {\n  const resp = it.json;\n  let text = \"\";\n\n  if (resp.output_text) {\n    text = resp.output_text;\n  } else if (resp.output) {\n    for (const o of resp.output) {\n      if (o.content) {\n        for (const c of o.content) {\n          if (c.type === 'output_text' && c.text) {\n            text += c.text + \"\\n\";\n          }\n        }\n      }\n    }\n  }\n\n  text = text.trim();\n\n  pages.push({\n    page: idx,   // page 0,1,2...\n    text\n  });\n\n  fullText += `--- Page ${idx} ---\\n${text}\\n\\n`;\n});\n\nreturn [\n  {\n    json: {\n      pages,\n      text: fullText.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        64
      ],
      "id": "b1d61f8d-8f1d-4c59-b388-7e3e9bfd26b8",
      "name": "FN_Info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer 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\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"input\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\"type\":\"input_text\",\"text\":\"Extract all visible text from the image. Return only the plain text.\"},\n        {\"type\":\"input_image\",\"image_url\":\"{{$json.url}}\"}\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        64
      ],
      "id": "4e20014e-0566-4412-9ce9-073ed5a41c93",
      "name": "OCR OpenAI"
    },
    {
      "parameters": {
        "jsCode": "// items[0].json.urls assumed\nconst arr = items[0].json.urls || [];\nreturn arr.map((u, i) => ({ json: { page: i+1, url: u } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        64
      ],
      "id": "2a39ca35-3455-49aa-9edf-8abf736be523",
      "name": "Get URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64113236-bf3e-4626-bd7a-04fc9d68f321",
              "name": "resume_content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        0
      ],
      "id": "5ae52dfa-7d29-4109-88be-fe2bd9167cc4",
      "name": "candidate CV"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        32
      ],
      "id": "791bf8b1-2a44-4329-9510-5335a2c0c47e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IW2XKte9eYZjfYG1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19QX77ioPOa67A5ZcZ5JlWketyYgMEVvX",
          "mode": "list",
          "cachedResultName": "CV_3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19QX77ioPOa67A5ZcZ5JlWketyYgMEVvX"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        32
      ],
      "id": "78d13539-14b1-424d-9ee3-5bb282022d4c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IW2XKte9eYZjfYG1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        32
      ],
      "id": "4d6ccf99-8304-4e75-af87-0f4e2e21ce44",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IW2XKte9eYZjfYG1",
          "name": "Google Drive account 2"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "Fn_Format": {
      "main": [
        [
          {
            "node": "OpenAI Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embedding": {
      "main": [
        [
          {
            "node": "Fn_Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fn_Info": {
      "main": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy thông tin CV": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "DOCX to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lấy thông tin CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Tìm các file CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tìm các file CV": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Check null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOCX to Text": {
      "main": [
        [
          {
            "node": "Check null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Fn_Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check null": {
      "main": [
        [
          {
            "node": "candidate CV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert PDF2Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert PDF2Image": {
      "main": [
        [
          {
            "node": "Get URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR OpenAI": {
      "main": [
        [
          {
            "node": "FN_Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL": {
      "main": [
        [
          {
            "node": "OCR OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_Info": {
      "main": [
        [
          {
            "node": "candidate CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candidate CV": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e19a9fc5-39c6-4239-9424-4fe5fb7077b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df174d571e95541c805919aa88d99c6ff9e79e2c1ffc42837bb92614d24bb4eb"
  },
  "id": "Rk12yWsFooZsVBM2",
  "tags": []
}