workflow/CV_Processing_LLM_Pipeline_(Final)_(3).json
{
  "name": "CV Processing LLM Pipeline (Final)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1744,
        1456
      ],
      "id": "33dbb8c8-4f88-4d4e-8171-71a40787d32f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. CÁC HÀM HELPER ---\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nfunction clean(str) {\n  if (!str) return \"\";\n  if (Array.isArray(str)) return str.join(\", \"); \n  return String(str).replace(/[“”‘’]/g, '\"').replace(/'/g, \"''\").replace(/[\\u0000-\\u0019]+/g, \" \").trim();\n}\n\nfunction normalizeObjectKeys(obj) {\n    if (!obj || typeof obj !== 'object') return {};\n    const newObj = {};\n    Object.keys(obj).forEach(key => {\n        const cleanKey = key.toLowerCase().trim().replace(/_/g, \"\"); \n        newObj[cleanKey] = obj[key];\n    });\n    return newObj;\n}\n\n// [FIX QUAN TRỌNG] HÀM CHUYỂN ĐỔI SANG SỐ NGUYÊN (INTEGER)\nfunction parseExperienceYears(str) {\n    if (!str) return 0;\n    const s = String(str).toLowerCase().trim();\n\n    // Hàm làm tròn bắt buộc về số nguyên\n    // 2.5 -> 3, 2.4 -> 2\n    const toInteger = (val) => {\n        return Math.round(val); \n    };\n\n    const numberPattern = /(\\d+(?:[.,]\\d+)?)\\s*(?:năm|year|yr|yrs|\\+)/gi;\n\n    // Ưu tiên tìm trong câu có từ khóa \"tổng/total\"\n    const keywordIndex = s.search(/(?:tổng|total|khoảng)/i);\n    if (keywordIndex !== -1) {\n        const subString = s.substring(keywordIndex);\n        const matchesInSubString = [...subString.matchAll(numberPattern)];\n        if (matchesInSubString.length > 0) {\n             const lastMatch = matchesInSubString[matchesInSubString.length - 1];\n             const floatVal = parseFloat(lastMatch[1].replace(',', '.'));\n             return toInteger(floatVal); // Ép về số nguyên\n        }\n    }\n\n    // Tìm match cuối cùng trong chuỗi\n    const allMatches = [...s.matchAll(numberPattern)];\n    if (allMatches.length > 0) {\n        const lastMatch = allMatches[allMatches.length - 1];\n        const floatVal = parseFloat(lastMatch[1].replace(',', '.'));\n        return toInteger(floatVal); // Ép về số nguyên\n    }\n\n    // Fallback: Tìm số bất kỳ hợp lý (0 < x < 80)\n    const allNumbers = s.match(/(\\d+(?:[.,]\\d+)?)/g);\n    if (allNumbers && allNumbers.length > 0) {\n        for (const numStr of allNumbers) {\n            const val = parseFloat(numStr.replace(',', '.'));\n            if (val > 0 && val < 80) {\n                return toInteger(val); // Ép về số nguyên\n            }\n        }\n    }\n    return 0; // Mặc định là 0 nếu không tìm thấy\n}\n\n// --- 2. XỬ LÝ DATA ---\nconst items = $input.all();\nconst out = [];\n\nfor (const item of items) {\n  const inputJson = item.json;\n  let data = {};\n  \n  if (inputJson.contact_info && (inputJson.experience || inputJson.skills)) {\n      data = inputJson;\n  } else if (inputJson.parsed_json) {\n      data = inputJson.parsed_json;\n  } else {\n    const rawContent = inputJson.output || inputJson.text || JSON.stringify(inputJson);\n    let jsonString = String(rawContent).replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/, '').trim();\n    try { data = JSON.parse(jsonString); } catch (e) { \n        const match = jsonString.match(/\\{[\\s\\S]*\\}/);\n        if (match) try { data = JSON.parse(match[0]); } catch (err) {}\n    }\n  }\n\n  if (!data || !data.contact_info) continue;\n\n  const candidateId = uuid(); \n  const timestamp = new Date().toISOString();\n  const contact = data.contact_info || {};\n  const candidateName = clean(contact.name || 'Unknown');\n  const phone = clean(contact.phone || data.phone || \"Không có SĐT\");\n  const rawLink = data.link_cv || data.link || \"\";\n  const linkCV = clean(Array.isArray(rawLink) ? rawLink[0] : rawLink);\n\n  // Xử lý chuỗi tổng kinh nghiệm thô\n  let globalTotalExpString = \"Không xác định\";\n  if (data.total) {\n      if (Array.isArray(data.total) && data.total.length > 0) {\n          const t = data.total[0];\n          globalTotalExpString = (typeof t === 'object') ? (normalizeObjectKeys(t).totalexp || normalizeObjectKeys(t).total) : String(t);\n      } else if (typeof data.total === 'object') {\n          globalTotalExpString = normalizeObjectKeys(data.total).totalexp || normalizeObjectKeys(data.total).total;\n      } else {\n          globalTotalExpString = String(data.total);\n      }\n  }\n  \n  // [KẾT QUẢ] Biến này bây giờ chắc chắn là INT (Ví dụ: 3, 4, 5)\n  const experienceYearsInt = parseExperienceYears(globalTotalExpString);\n\n  // Tạo header info\n  const headerInfo = `\n  Name: ${candidateName}\n  Phone: ${phone}              \n  Link CV: ${linkCV}\n  Total Experience Years: ${experienceYearsInt}\n  `;\n\n  // Payload Base\n  const baseMetadata = {\n    candidate_id: candidateId,\n    candidate_name: candidateName,\n    candidate_email: clean(contact.email),\n    candidate_phone: phone, \n    link_cv: linkCV, \n    imported_at: timestamp,\n    global_total_experience: globalTotalExpString,\n    experience_years: experienceYearsInt // <-- Số nguyên được lưu vào đây\n  };\n\n  // 1. SKILLS\n  if (data.skills && Array.isArray(data.skills) && data.skills.length > 0) {\n      const allSkillsString = data.skills.join(\", \");\n      const txt = `${headerInfo} Candidate Skills Set: ${allSkillsString}. This candidate is proficient in: ${allSkillsString}.`;\n\n      out.push({\n        json: {\n          id: uuid(),\n          text: txt,\n          payload: {\n            ...baseMetadata,\n            key: 'skill_set',\n            type: 'skill',\n            skills_list: data.skills,\n            text: txt\n          }\n        }\n      });\n  }\n\n  // 2. EXPERIENCE\n  if (data.experience && Array.isArray(data.experience)) {\n    data.experience.forEach((exp) => {\n      const normExp = normalizeObjectKeys(exp);\n      const localDuration = normExp.total || normExp.duration || null;\n      let expStr = \"\";\n      if (localDuration) expStr += `Role Duration: ${localDuration}.`;\n\n      const desc = exp.description || \"\";\n      const sentences = desc.split(/(?:\\. |\\.\\n|\\n+)/).map(s => s.trim()).filter(s => s.length > 5);\n      \n      const chunkPayload = {\n          ...baseMetadata, \n          key: 'experience',\n          company: exp.company,\n          role: exp.role\n      };\n\n      if (sentences.length > 0) {\n        sentences.forEach((sentence) => {\n           const txt = `${headerInfo} Work Experience: ${exp.role} at ${exp.company}. ${expStr} Detail: ${sentence}.`;\n           out.push({ json: { id: uuid(), text: txt, payload: { ...chunkPayload, text: txt } } });\n        });\n      } else {\n        const txt = `${headerInfo} Work Experience: ${exp.role} at ${exp.company}. ${expStr}`;\n        out.push({ json: { id: uuid(), text: txt, payload: { ...chunkPayload, text: txt } } });\n      }\n    });\n  }\n\n  // 3. EDUCATION\n  if (data.education && Array.isArray(data.education)) {\n      data.education.forEach((edu) => {\n          const school = clean(edu.school || edu.institution);\n          const major = clean(edu.major || edu.degree);\n          const time = clean(edu.time || edu.year);\n          \n          if (school || major) {\n              const txt = `${headerInfo} Education: ${major} at ${school}. Period: ${time}.`;\n              out.push({\n                  json: {\n                      id: uuid(),\n                      text: txt,\n                      payload: {\n                          ...baseMetadata,\n                          key: 'education',\n                          type: 'education',\n                          school: school,\n                          major: major,\n                          time: time,\n                          text: txt\n                      }\n                  }\n              });\n          }\n      });\n  }\n\n  // 4. CERTIFICATION\n  if (data.certification && Array.isArray(data.certification)) {\n      data.certification.forEach((cert) => {\n          let certName = \"\";\n          let org = \"\";\n          let time = \"\";\n          if (typeof cert === 'string') {\n              certName = clean(cert);\n          } else {\n              certName = clean(cert.name || cert.title);\n              org = clean(cert.organization || cert.issuer);\n              time = clean(cert.time || cert.date);\n          }\n          if (certName) {\n              const txt = `${headerInfo} Certification: ${certName}${org ? ' from ' + org : ''}${time ? ' (' + time + ')' : ''}.`;\n              out.push({\n                  json: {\n                      id: uuid(),\n                      text: txt,\n                      payload: {\n                          ...baseMetadata,\n                          key: 'certification',\n                          type: 'certificate',\n                          certificate: certName,\n                          organization: org,\n                          time: time,\n                          text: txt\n                      }\n                  }\n              });\n          }\n      });\n  }\n}\n\nif (out.length === 0) return [{ json: { warning: \"No valid vectors created.\" } }];\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5488,
        1424
      ],
      "id": "a42da9dd-2f68-435c-9bbe-b11e493d798f",
      "name": "Fn_Format"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.payload }}\n"
            },
            {
              "name": "model",
              "value": "text-embedding-3-small"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5728,
        1424
      ],
      "id": "53dea51f-06de-4f89-b67d-4e0227dc5819",
      "name": "OpenAI Embedding",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "cnW6yERErYSFG3vg",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://idiochromatic-cody-uninspiringly.ngrok-free.dev/collections/RAG_FOR_CV/points",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6144,
        1424
      ],
      "id": "2d29fb89-7e2d-4790-8f72-fd24d978deeb",
      "name": "Qdrant Upsert",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Lấy data từ 2 node trước\nconst fmtItems = $items('Fn_Format');          // Node chứa text + payload\nconst embItems = $items('OpenAI Embedding');   // Node chứa vector\n\nconst points = [];\n\n// Dùng Math.min để an toàn\nconst count = Math.min(fmtItems.length, embItems.length);\n\nfor (let i = 0; i < count; i++) {\n  const f = fmtItems[i].json; // Data gốc\n  const e = embItems[i].json; // Vector\n\n  // 1. TÌM VECTOR (Logic bắt lỗi vector như cũ)\n  const vector = e.embedding \n              || (e.data && e.data[0] ? e.data[0].embedding : null)\n              || e.vector; \n\n  if (vector) {\n     // Lấy dữ liệu từ payload hoặc metadata\n     const sourceData = f.payload || f.metadata || {}; \n\n     // 2. TẠO PAYLOAD\n     // Copy toàn bộ dữ liệu gốc (candidate_id, candidate_name, type...)\n     const payload = { ...sourceData };\n\n     // 3. XỬ LÝ LÀM SẠCH (Loại bỏ trường thừa)\n     // Xóa các trường ngắn nếu chúng vô tình tồn tại\n     delete payload.name;\n     delete payload.email;\n     delete payload.phone;\n     delete payload.text_content; \n\n     // 4. ĐẢM BẢO CÁC TRƯỜNG QUAN TRỌNG\n     // Đảm bảo link_cv luôn tồn tại (nếu null thì thành chuỗi rỗng)\n     payload.link_cv = sourceData.link_cv || \"\";\n\n     // Đảm bảo trường 'text' tồn tại (đây là nội dung chính để RAG đọc)\n     // Nếu node trước trả về 'text' thì giữ nguyên, nếu không thì lấy từ f.text\n     payload.text = sourceData.text || f.text || \"\";\n\n     points.push({\n       id: f.id,       // UUID\n       vector: vector, // Vector Array\n       payload: payload\n     });\n  }\n}\n\n// Kiểm tra debug\nif (points.length === 0) {\n  return [{\n    json: {\n      error: \"Không tìm thấy Vector nào.\",\n      debug_check: {\n        has_payload: !!fmtItems[0].json.payload\n      }\n    }\n  }];\n}\n\n// Trả về format chuẩn\nreturn [\n  {\n    json: { points }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5952,
        1424
      ],
      "id": "da1ee3ab-f40d-4c3b-b403-aaf9b26a52cd",
      "name": "Fn_Info"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3456,
        1520
      ],
      "id": "2b3c5ae8-933f-40a7-8d69-187744b9789a",
      "name": "Lấy thông tin CV"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64113236-bf3e-4626-bd7a-04fc9d68f321",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3632,
        1536
      ],
      "id": "0042fae4-dfdd-42f5-aa98-cc1cfed09d78",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "6747c7b5-126b-4453-ad44-8aba636e6f72"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3a7b9d2-9e06-4b04-b753-9e291ed5c013",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3232,
        1456
      ],
      "id": "57650f39-cd01-47f2-aeac-3ed0b669fbf5",
      "name": "Switch"
    },
    {
      "parameters": {
        "destinationOutputField": "data"
      },
      "type": "n8n-nodes-docx-converter.docxToText",
      "typeVersion": 1,
      "position": [
        3552,
        1392
      ],
      "id": "a82e2474-4ea9-4703-8d86-a7c527c02980",
      "name": "DOCX to Text"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2432,
        1424
      ],
      "id": "b80e8dd3-f228-448e-b641-16ba0bc33caf",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Link CV:\n{{ $node['Upload file'].json.webViewLink }}\n",
        "options": {
          "systemMessage": "=Bạn là một Chuyên gia Phân tích CV và Trích xuất Dữ liệu (CV Parsing & OCR Expert) với nguyên tắc \"Zero-Shot Accuracy\". Nhiệm vụ của bạn là chuyển đổi văn bản thô của hồ sơ ứng viên thành cấu trúc JSON chuẩn.\n\n---\nNGUYÊN TẮC CỐT LÕI (BẮT BUỘC TUÂN THỦ):\n\n1. CHỐNG BỊA ĐẶT (ANTI-HALLUCINATION):\n   - CHỈ trích xuất thông tin CÓ THẬT trong văn bản.\n   - Tuyệt đối KHÔNG tự suy luận cảm tính, NHƯNG việc tính toán tổng thời gian từ các mốc ngày tháng có sẵn là HỢP LỆ và BẮT BUỘC.\n   - Nếu thông tin bị thiếu hoàn toàn, hãy để giá trị là `null` hoặc chuỗi rỗng `\"\"`.\n   - Đối với Kỹ năng/Công nghệ: Chỉ liệt kê những gì ứng viên viết ra.\n\n2. XỬ LÝ NGÔN NGỮ & DỊCH THUẬT:\n   - Phần mô tả (Description/Summary/Project): Dịch sang TIẾNG VIỆT trôi chảy.\n   - KỸ NĂNG (Hard Skills): GIỮ NGUYÊN tên gốc.\n   - KỸ NĂNG MỀM (Soft Skills): DỊCH SANG TIẾNG VIỆT.\n   - Tên riêng: Giữ nguyên.\n\n3. ĐỊNH DẠNG OUTPUT:\n   - Trả về DUY NHẤT một chuỗi JSON hợp lệ.\n   - Không bao bọc bởi markdown.\n\n---\nCẤU TRÚC JSON MỤC TIÊU:\n\n{\n  \"link_cv\": \"URL/Link CV nếu có trong văn bản (nếu không: null)\",\n  \"contact_info\": {\n    \"name\": \"Họ và tên đầy đủ (In hoa tất cả chữ cái và không có dấu). Nếu không tìm thấy: 'Unknown'\",\n    \"email\": \"Email chính xác (nếu không: null)\",\n    \"phone\": \"Số điện thoại (nếu không: null)\"\n  },\n  \"skills\": [\n    // Mảng phẳng các kỹ năng (VD: [\"Java\", \"Spring Boot\", \"Tiếng Anh\"])\n  ],\n  \"experience\": [\n    {\n      \"company\": \"Tên công ty\",\n      \"role\": \"Chức danh/Vị trí\",\n      \"time\": \"Thời gian làm việc (Giữ nguyên định dạng gốc)\",\n      \"description\": \"Mô tả chi tiết nhiệm vụ và thành tựu bằng TIẾNG VIỆT.\"\n    }\n  ],\n  \"total\": [\n    {\n      \"total_exp\": \"LOGIC TÍNH NĂM KINH NGHIỆM (Thực hiện tuần tự):\\n1. ƯU TIÊN 1 (Tìm kiếm): Tìm câu văn khẳng định tổng số năm kinh nghiệm trong Summary (VD: 'Hơn 5 năm kinh nghiệm').Nếu có từ 2 loại kinh nghiệm thì tính tổng gộp nó lại. Còn có 1 loại kinh nghiệm thì nếu thấy -> Lấy ngay con số đó kèm chữ 'năm' và DỪNG LẠI.\\n2. ƯU TIÊN 2 (Tính toán - BẮT BUỘC): Nếu Ưu tiên 1 không có dữ liệu, bạn PHẢI tự tính toán bằng cách cộng dồn thời gian làm việc thực tế trên đề cập trong CV (End Date - Start Date) của các vị trí trong phần Experience. \\n   - Quy đổi 'Present'/'Current'/'Nay' là thời điểm hiện tại là tháng 12/2025 để tính cho chính xác.\\n   - Cộng tổng thời gian thực tế (chú ý trừ thời gian trùng lặp).\\n   - Làm tròn kết quả (VD: 2 năm 6 tháng -> '2.5 năm').\"\n    }\n  ],\n  \"projects\": [\n    {\n      \"name\": \"Tên dự án\",\n      \"role\": \"Vai trò\",\n      \"time\": \"Thời gian\",\n      \"link\": \"Link demo (nếu có)\",\n      \"technologies\": [\n         // Mảng công nghệ\n      ],\n      \"description\": \"Mô tả dự án (Tiếng Việt).\"\n    }\n  ],\n  \"education\": [\n    {\n      \"school\": \"Tên trường\",\n      \"major\": \"Chuyên ngành\",\n      \"time\": \"Niên khóa\"\n    }\n  ],\n  \"certification\": [\n    {\n      \"name\": \"Tên chứng chỉ\",\n      \"issuer\": \"Tổ chức cấp\",\n      \"time\": \"Thời gian\"\n    }\n  ]\n}\n\n---\nDỮ LIỆU ĐẦU VÀO CẦN XỬ LÝ:\n{{ $json.resume_content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        5152,
        1424
      ],
      "id": "aa760e60-c439-42f7-a6ea-b86a8838ed69",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5008,
        1664
      ],
      "id": "61d00d7b-3b0a-4f08-9a2c-66c062bc4d91",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cnW6yERErYSFG3vg",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5a2dbf9-5ebb-4c64-bc35-0a120673a097",
              "leftValue": "={{ $json.text.trim() === \"\" }}",
              "rightValue": "\\n\\n",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3872,
        1344
      ],
      "id": "9d1383a4-224e-4515-bd2d-572c0137114b",
      "name": "Check null",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/to/png",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "huyvo8500@gmail.com_WLXjOykYtiR9U8YvQl2RiCdhrNSnj2tWB7yrl7gKzBUKe4H0IDC9JEj3mYVqIzbK"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "=https://drive.google.com/file/u/{{ $('Loop Over Items1').item.json.id }}"
            },
            {
              "name": "inline",
              "value": "true"
            },
            {
              "name": "pages",
              "value": "0-"
            },
            {
              "name": "async",
              "value": "false"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4016,
        1488
      ],
      "id": "8022a212-52cf-476f-a0b9-44d72d6ae7a9",
      "name": "Convert PDF2Image"
    },
    {
      "parameters": {
        "jsCode": "const pages = [];\nlet fullText = \"\";\n\nitems.forEach((it, idx) => {\n  const resp = it.json;\n  let text = \"\";\n\n  if (resp.output_text) {\n    text = resp.output_text;\n  } else if (resp.output) {\n    for (const o of resp.output) {\n      if (o.content) {\n        for (const c of o.content) {\n          if (c.type === 'output_text' && c.text) {\n            text += c.text + \"\\n\";\n          }\n        }\n      }\n    }\n  }\n\n  text = text.trim();\n\n  pages.push({\n    page: idx,   // page 0,1,2...\n    text\n  });\n\n  fullText += `--- Page ${idx} ---\\n${text}\\n\\n`;\n});\n\nreturn [\n  {\n    json: {\n      pages,\n      text: fullText.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        1488
      ],
      "id": "ff68a214-9a49-44d8-a30b-ff39dae8e360",
      "name": "FN_Info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer 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\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"input\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\"type\":\"input_text\",\"text\":\"Extract all visible text from the image. Return only the plain text.\"},\n        {\"type\":\"input_image\",\"image_url\":\"{{$json.url}}\"}\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4416,
        1488
      ],
      "id": "85fefc34-9b6f-49f4-9e36-ba377adec0c2",
      "name": "OCR OpenAI"
    },
    {
      "parameters": {
        "jsCode": "// items[0].json.urls assumed\nconst arr = items[0].json.urls || [];\nreturn arr.map((u, i) => ({ json: { page: i+1, url: u } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4224,
        1488
      ],
      "id": "1330a6fc-0139-46e5-8f24-051389bd3acf",
      "name": "Get URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64113236-bf3e-4626-bd7a-04fc9d68f321",
              "name": "resume_content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4784,
        1424
      ],
      "id": "de2555e2-b4a8-4c7e-90a3-6c5a0196a70d",
      "name": "candidate CV"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2704,
        1456
      ],
      "id": "a2d98028-6146-4bff-be15-504a21a8788a",
      "name": "Download file",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IW2XKte9eYZjfYG1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19QX77ioPOa67A5ZcZ5JlWketyYgMEVvX",
          "mode": "list",
          "cachedResultName": "CV_3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19QX77ioPOa67A5ZcZ5JlWketyYgMEVvX"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2864,
        1456
      ],
      "id": "856bc83f-c6ca-44b4-b8a8-aecd457fba8e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IW2XKte9eYZjfYG1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3072,
        1456
      ],
      "id": "60245228-5bda-4115-a34b-75a8c52b3b7a",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IW2XKte9eYZjfYG1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1yVO7i2Pf3Pk6WKQSG5HlVYy61pyCAr8K",
            "mode": "list",
            "cachedResultName": "CV",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1yVO7i2Pf3Pk6WKQSG5HlVYy61pyCAr8K"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2208,
        1648
      ],
      "id": "0ea09d2a-12eb-471f-936b-f2947d9edcb8",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IW2XKte9eYZjfYG1",
          "name": "Google Drive account 2"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fn_Format": {
      "main": [
        [
          {
            "node": "OpenAI Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embedding": {
      "main": [
        [
          {
            "node": "Fn_Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fn_Info": {
      "main": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy thông tin CV": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "DOCX to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lấy thông tin CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Check null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOCX to Text": {
      "main": [
        [
          {
            "node": "Check null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Fn_Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check null": {
      "main": [
        [
          {
            "node": "candidate CV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert PDF2Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert PDF2Image": {
      "main": [
        [
          {
            "node": "Get URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR OpenAI": {
      "main": [
        [
          {
            "node": "FN_Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL": {
      "main": [
        [
          {
            "node": "OCR OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_Info": {
      "main": [
        [
          {
            "node": "candidate CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candidate CV": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "68e79aa5-e6c3-489b-82c6-e7fab0db9774",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df174d571e95541c805919aa88d99c6ff9e79e2c1ffc42837bb92614d24bb4eb"
  },
  "id": "Rk12yWsFooZsVBM2",
  "tags": []
}