workflow/CV_Processing_LLM_Pipeline_(Final)_(3).json
{
  "name": "CV Processing LLM Pipeline (Final)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        -96
      ],
      "id": "2bc6baeb-39c5-4e73-982d-fdfa3f94489e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. CÁC HÀM HELPER ---\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nfunction clean(str) {\n  if (!str) return \"\";\n  if (Array.isArray(str)) return str.join(\", \"); \n  return String(str).replace(/[“”‘’]/g, '\"').replace(/'/g, \"''\").replace(/[\\u0000-\\u0019]+/g, \" \").trim();\n}\n\nfunction normalizeObjectKeys(obj) {\n    if (!obj || typeof obj !== 'object') return {};\n    const newObj = {};\n    Object.keys(obj).forEach(key => {\n        const cleanKey = key.toLowerCase().trim().replace(/_/g, \"\"); \n        newObj[cleanKey] = obj[key];\n    });\n    return newObj;\n}\n\n// [FIX QUAN TRỌNG] HÀM CHUYỂN ĐỔI SANG SỐ NGUYÊN (INTEGER)\nfunction parseExperienceYears(str) {\n    if (!str) return 0;\n    const s = String(str).toLowerCase().trim();\n\n    // Hàm làm tròn bắt buộc về số nguyên\n    // 2.5 -> 3, 2.4 -> 2\n    const toInteger = (val) => {\n        return Math.round(val); \n    };\n\n    const numberPattern = /(\\d+(?:[.,]\\d+)?)\\s*(?:năm|year|yr|yrs|\\+)/gi;\n\n    // Ưu tiên tìm trong câu có từ khóa \"tổng/total\"\n    const keywordIndex = s.search(/(?:tổng|total|khoảng)/i);\n    if (keywordIndex !== -1) {\n        const subString = s.substring(keywordIndex);\n        const matchesInSubString = [...subString.matchAll(numberPattern)];\n        if (matchesInSubString.length > 0) {\n             const lastMatch = matchesInSubString[matchesInSubString.length - 1];\n             const floatVal = parseFloat(lastMatch[1].replace(',', '.'));\n             return toInteger(floatVal); // Ép về số nguyên\n        }\n    }\n\n    // Tìm match cuối cùng trong chuỗi\n    const allMatches = [...s.matchAll(numberPattern)];\n    if (allMatches.length > 0) {\n        const lastMatch = allMatches[allMatches.length - 1];\n        const floatVal = parseFloat(lastMatch[1].replace(',', '.'));\n        return toInteger(floatVal); // Ép về số nguyên\n    }\n\n    // Fallback: Tìm số bất kỳ hợp lý (0 < x < 80)\n    const allNumbers = s.match(/(\\d+(?:[.,]\\d+)?)/g);\n    if (allNumbers && allNumbers.length > 0) {\n        for (const numStr of allNumbers) {\n            const val = parseFloat(numStr.replace(',', '.'));\n            if (val > 0 && val < 80) {\n                return toInteger(val); // Ép về số nguyên\n            }\n        }\n    }\n    return 0; // Mặc định là 0 nếu không tìm thấy\n}\n\n// --- 2. XỬ LÝ DATA ---\nconst items = $input.all();\nconst out = [];\n\nfor (const item of items) {\n  const inputJson = item.json;\n  let data = {};\n  \n  if (inputJson.contact_info && (inputJson.experience || inputJson.skills)) {\n      data = inputJson;\n  } else if (inputJson.parsed_json) {\n      data = inputJson.parsed_json;\n  } else {\n    const rawContent = inputJson.output || inputJson.text || JSON.stringify(inputJson);\n    let jsonString = String(rawContent).replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/, '').trim();\n    try { data = JSON.parse(jsonString); } catch (e) { \n        const match = jsonString.match(/\\{[\\s\\S]*\\}/);\n        if (match) try { data = JSON.parse(match[0]); } catch (err) {}\n    }\n  }\n\n  if (!data || !data.contact_info) continue;\n\n  const candidateId = uuid(); \n  const timestamp = new Date().toISOString();\n  const contact = data.contact_info || {};\n  const candidateName = clean(contact.name || 'Unknown');\n  const phone = clean(contact.phone || data.phone || \"Không có SĐT\");\n  const rawLink = data.link_cv || data.link || \"\";\n  const linkCV = clean(Array.isArray(rawLink) ? rawLink[0] : rawLink);\n\n  // Xử lý chuỗi tổng kinh nghiệm thô\n  let globalTotalExpString = \"Không xác định\";\n  if (data.total) {\n      if (Array.isArray(data.total) && data.total.length > 0) {\n          const t = data.total[0];\n          globalTotalExpString = (typeof t === 'object') ? (normalizeObjectKeys(t).totalexp || normalizeObjectKeys(t).total) : String(t);\n      } else if (typeof data.total === 'object') {\n          globalTotalExpString = normalizeObjectKeys(data.total).totalexp || normalizeObjectKeys(data.total).total;\n      } else {\n          globalTotalExpString = String(data.total);\n      }\n  }\n  \n  // [KẾT QUẢ] Biến này bây giờ chắc chắn là INT (Ví dụ: 3, 4, 5)\n  const experienceYearsInt = parseExperienceYears(globalTotalExpString);\n\n  // Tạo header info\n  const headerInfo = `\n  Name: ${candidateName}\n  Phone: ${phone}              \n  Link CV: ${linkCV}\n  Total Experience Years: ${experienceYearsInt}\n  `;\n\n  // Payload Base\n  const baseMetadata = {\n    candidate_id: candidateId,\n    candidate_name: candidateName,\n    candidate_email: clean(contact.email),\n    candidate_phone: phone, \n    link_cv: linkCV, \n    imported_at: timestamp,\n    global_total_experience: globalTotalExpString,\n    experience_years: experienceYearsInt // <-- Số nguyên được lưu vào đây\n  };\n\n  // 1. SKILLS\n  if (data.skills && Array.isArray(data.skills) && data.skills.length > 0) {\n      const allSkillsString = data.skills.join(\", \");\n      const txt = `${headerInfo} Candidate Skills Set: ${allSkillsString}. This candidate is proficient in: ${allSkillsString}.`;\n\n      out.push({\n        json: {\n          id: uuid(),\n          text: txt,\n          payload: {\n            ...baseMetadata,\n            key: 'skill_set',\n            type: 'skill',\n            skills_list: data.skills,\n            text: txt\n          }\n        }\n      });\n  }\n\n  // 2. EXPERIENCE\n  if (data.experience && Array.isArray(data.experience)) {\n    data.experience.forEach((exp) => {\n      const normExp = normalizeObjectKeys(exp);\n      const localDuration = normExp.total || normExp.duration || null;\n      let expStr = \"\";\n      if (localDuration) expStr += `Role Duration: ${localDuration}.`;\n\n      const desc = exp.description || \"\";\n      const sentences = desc.split(/(?:\\. |\\.\\n|\\n+)/).map(s => s.trim()).filter(s => s.length > 5);\n      \n      const chunkPayload = {\n          ...baseMetadata, \n          key: 'experience',\n          company: exp.company,\n          role: exp.role\n      };\n\n      if (sentences.length > 0) {\n        sentences.forEach((sentence) => {\n           const txt = `${headerInfo} Work Experience: ${exp.role} at ${exp.company}. ${expStr} Detail: ${sentence}.`;\n           out.push({ json: { id: uuid(), text: txt, payload: { ...chunkPayload, text: txt } } });\n        });\n      } else {\n        const txt = `${headerInfo} Work Experience: ${exp.role} at ${exp.company}. ${expStr}`;\n        out.push({ json: { id: uuid(), text: txt, payload: { ...chunkPayload, text: txt } } });\n      }\n    });\n  }\n\n  // 3. EDUCATION\n  if (data.education && Array.isArray(data.education)) {\n      data.education.forEach((edu) => {\n          const school = clean(edu.school || edu.institution);\n          const major = clean(edu.major || edu.degree);\n          const time = clean(edu.time || edu.year);\n          \n          if (school || major) {\n              const txt = `${headerInfo} Education: ${major} at ${school}. Period: ${time}.`;\n              out.push({\n                  json: {\n                      id: uuid(),\n                      text: txt,\n                      payload: {\n                          ...baseMetadata,\n                          key: 'education',\n                          type: 'education',\n                          school: school,\n                          major: major,\n                          time: time,\n                          text: txt\n                      }\n                  }\n              });\n          }\n      });\n  }\n\n  // 4. CERTIFICATION\n  if (data.certification && Array.isArray(data.certification)) {\n      data.certification.forEach((cert) => {\n          let certName = \"\";\n          let org = \"\";\n          let time = \"\";\n          if (typeof cert === 'string') {\n              certName = clean(cert);\n          } else {\n              certName = clean(cert.name || cert.title);\n              org = clean(cert.organization || cert.issuer);\n              time = clean(cert.time || cert.date);\n          }\n          if (certName) {\n              const txt = `${headerInfo} Certification: ${certName}${org ? ' from ' + org : ''}${time ? ' (' + time + ')' : ''}.`;\n              out.push({\n                  json: {\n                      id: uuid(),\n                      text: txt,\n                      payload: {\n                          ...baseMetadata,\n                          key: 'certification',\n                          type: 'certificate',\n                          certificate: certName,\n                          organization: org,\n                          time: time,\n                          text: txt\n                      }\n                  }\n              });\n          }\n      });\n  }\n}\n\nif (out.length === 0) return [{ json: { warning: \"No valid vectors created.\" } }];\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -96
      ],
      "id": "6f1238c4-c70d-4749-a88e-eceacdbf5f2b",
      "name": "Fn_Format1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.payload }}\n"
            },
            {
              "name": "model",
              "value": "text-embedding-3-small"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -96
      ],
      "id": "40dd15ef-6de5-44e4-885c-fe7d11d9f637",
      "name": "OpenAI Embedding1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "iCiSJp2rt9yhPy3g",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://idiochromatic-cody-uninspiringly.ngrok-free.dev/collections/RAG_FOR_CV/points",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Fn_Info1').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        -80
      ],
      "id": "b501d2a8-8e32-44e1-b47f-b29711ef4684",
      "name": "Qdrant Upsert1",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Lấy data từ 2 node trước\nconst fmtItems = $items('Fn_Format1');          // Node chứa text + payload\nconst embItems = $items('OpenAI Embedding1');   // Node chứa vector\n\nconst points = [];\n\n// Dùng Math.min để an toàn\nconst count = Math.min(fmtItems.length, embItems.length);\n\nfor (let i = 0; i < count; i++) {\n  const f = fmtItems[i].json; // Data gốc\n  const e = embItems[i].json; // Vector\n\n  // 1. TÌM VECTOR (Logic bắt lỗi vector như cũ)\n  const vector = e.embedding \n              || (e.data && e.data[0] ? e.data[0].embedding : null)\n              || e.vector; \n\n  if (vector) {\n     // Lấy dữ liệu từ payload hoặc metadata\n     const sourceData = f.payload || f.metadata || {}; \n\n     // 2. TẠO PAYLOAD\n     // Copy toàn bộ dữ liệu gốc (candidate_id, candidate_name, type...)\n     const payload = { ...sourceData };\n\n     // 3. XỬ LÝ LÀM SẠCH (Loại bỏ trường thừa)\n     // Xóa các trường ngắn nếu chúng vô tình tồn tại\n     delete payload.name;\n     delete payload.email;\n     delete payload.phone;\n     delete payload.text_content; \n\n     // 4. ĐẢM BẢO CÁC TRƯỜNG QUAN TRỌNG\n     // Đảm bảo link_cv luôn tồn tại (nếu null thì thành chuỗi rỗng)\n     payload.link_cv = sourceData.link_cv || \"\";\n\n     // Đảm bảo trường 'text' tồn tại (đây là nội dung chính để RAG đọc)\n     // Nếu node trước trả về 'text' thì giữ nguyên, nếu không thì lấy từ f.text\n     payload.text = sourceData.text || f.text || \"\";\n\n     points.push({\n       id: f.id,       // UUID\n       vector: vector, // Vector Array\n       payload: payload\n     });\n  }\n}\n\n// Kiểm tra debug\nif (points.length === 0) {\n  return [{\n    json: {\n      error: \"Không tìm thấy Vector nào.\",\n      debug_check: {\n        has_payload: !!fmtItems[0].json.payload\n      }\n    }\n  }];\n}\n\n// Trả về format chuẩn\nreturn [\n  {\n    json: { points }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -96
      ],
      "id": "8029f979-1c55-4782-a6c7-a5ac8090da5a",
      "name": "Fn_Info1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Link CV:\nhttps://drive.google.com/file/d/{{ $json.id }}\n",
        "options": {
          "systemMessage": "=Bạn là một Chuyên gia Phân tích CV và Trích xuất Dữ liệu (CV Parsing & OCR Expert) với nguyên tắc \"Zero-Shot Accuracy\". Nhiệm vụ của bạn là chuyển đổi văn bản thô của hồ sơ ứng viên thành cấu trúc JSON chuẩn.\n\n---\nNGUYÊN TẮC CỐT LÕI (BẮT BUỘC TUÂN THỦ):\n\n1. CHỐNG BỊA ĐẶT (ANTI-HALLUCINATION):\n   - CHỈ trích xuất thông tin CÓ THẬT trong văn bản.\n   - Tuyệt đối KHÔNG tự suy luận cảm tính, NHƯNG việc tính toán tổng thời gian từ các mốc ngày tháng có sẵn là HỢP LỆ và BẮT BUỘC.\n   - Nếu thông tin bị thiếu hoàn toàn, hãy để giá trị là `null` hoặc chuỗi rỗng `\"\"`.\n   - Đối với Kỹ năng/Công nghệ: Chỉ liệt kê những gì ứng viên viết ra.\n\n2. XỬ LÝ NGÔN NGỮ & DỊCH THUẬT:\n   - Phần mô tả (Description/Summary/Project): Dịch sang TIẾNG VIỆT trôi chảy.\n   - KỸ NĂNG (Hard Skills): GIỮ NGUYÊN tên gốc.\n   - KỸ NĂNG MỀM (Soft Skills): DỊCH SANG TIẾNG VIỆT.\n   - Tên riêng: Giữ nguyên.\n\n3. ĐỊNH DẠNG OUTPUT:\n   - Trả về DUY NHẤT một chuỗi JSON hợp lệ.\n   - Không bao bọc bởi markdown.\n\n---\nCẤU TRÚC JSON MỤC TIÊU:\n\n{\n  \"link_cv\": \"URL/Link CV nếu có trong văn bản (nếu không: null)\",\n  \"contact_info\": {\n    \"name\": \"Họ và tên đầy đủ không dấu (In hoa tất cả chữ cái và không có dấu). Nếu không tìm thấy: 'Unknown'\",\n    \"email\": \"Email chính xác (nếu không: null)\",\n    \"phone\": \"Số điện thoại (nếu không: null)\"\n  },\n  \"skills\": [\n    // Mảng phẳng các kỹ năng (VD: [\"Java\", \"Spring Boot\", \"Tiếng Anh\"])\n  ],\n  \"experience\": [\n    {\n      \"company\": \"Tên công ty\",\n      \"role\": \"Chức danh/Vị trí\",\n      \"time\": \"Thời gian làm việc (Giữ nguyên định dạng gốc)\",\n      \"description\": \"Mô tả chi tiết nhiệm vụ và thành tựu bằng TIẾNG VIỆT.\"\n    }\n  ],\n  \"total\": [\n    {\n      \"total_exp\": \"LOGIC TÍNH NĂM KINH NGHIỆM (Thực hiện tuần tự):\\n1. ƯU TIÊN 1 (Tìm kiếm): Tìm câu văn khẳng định tổng số năm kinh nghiệm trong Summary (VD: 'Hơn 5 năm kinh nghiệm').Nếu có từ 2 loại kinh nghiệm thì tính tổng gộp nó lại. Còn có 1 loại kinh nghiệm thì nếu thấy -> Lấy ngay con số đó kèm chữ 'năm' và DỪNG LẠI.\\n2. ƯU TIÊN 2 (Tính toán - BẮT BUỘC): Nếu Ưu tiên 1 không có dữ liệu, bạn PHẢI tự tính toán bằng cách cộng dồn thời gian làm việc thực tế trên đề cập trong CV (End Date - Start Date) của các vị trí trong phần Experience. \\n   - Quy đổi 'Present'/'Current'/'Nay' là thời điểm hiện tại là tháng 12/2025 để tính cho chính xác.\\n   - Cộng tổng thời gian thực tế (chú ý trừ thời gian trùng lặp).\\n   - Làm tròn kết quả (VD: 2 năm 6 tháng -> '2.5 năm').\"\n    }\n  ],\n  \"projects\": [\n    {\n      \"name\": \"Tên dự án\",\n      \"role\": \"Vai trò\",\n      \"time\": \"Thời gian\",\n      \"link\": \"Link demo (nếu có)\",\n      \"technologies\": [\n         // Mảng công nghệ\n      ],\n      \"description\": \"Mô tả dự án (Tiếng Việt).\"\n    }\n  ],\n  \"education\": [\n    {\n      \"school\": \"Tên trường\",\n      \"major\": \"Chuyên ngành\",\n      \"time\": \"Niên khóa\"\n    }\n  ],\n  \"certification\": [\n    {\n      \"name\": \"Tên chứng chỉ\",\n      \"issuer\": \"Tổ chức cấp\",\n      \"time\": \"Thời gian\"\n    }\n  ]\n}\n\n---\nDỮ LIỆU ĐẦU VÀO CẦN XỬ LÝ:\n{{ $json.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -496,
        -96
      ],
      "id": "c7d042ac-0b20-400e-bdde-ed5d661b99f5",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -432,
        128
      ],
      "id": "d06d4c4a-6c8b-454b-86fc-f090bfcfbeaa",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "iCiSJp2rt9yhPy3g",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2aceabd-e1bc-4d2b-84b6-b5e747e9126c",
              "leftValue": "={{ $json.result.points.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        -96
      ],
      "id": "f0d0a28f-f552-4324-84c5-0a33682f1062",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://idiochromatic-cody-uninspiringly.ngrok-free.dev/collections/RAG_FOR_CV/points/scroll",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"candidate_email\",\n        \"match\": {\n          \"value\": \"{{ $json.points[25].payload.candidate_email }}\"\n        }\n      }\n    ]\n  },\n  \"limit\": 1,\n  \"with_payload\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -96
      ],
      "id": "a74c48cb-cdf8-4453-91bb-c6ecf07cd383",
      "name": "Qdrant find",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "text": "TRAN QUOC KIET\nIT BUSINESS ANALYST\n kiettran27101999@gmail.com  0903854218  District 4, HCM city\nOBJECTIVE\nTeam-oriented critical thinker with communication, and analysis skills. Motivated to join a group of cross-functional\nteammates to improve the workflows, development process, and quality of products to reach the stakeholder goals.. •\nDomain: Information Technology, Banking, Finance, Insurance, Healthcare, etc\n• Languages: English (760 TOEIC)\n• Methodology: Agile, Waterfall.\n• Modeling: Unified modeling language, Flow chart technique, Data flow diagrams.\n• Documentation Tool: Word, Excel, PowerPoint, Google Sheet, Jira, Confluence, Trello\n• Design Tool: Figma, Axure.\n• Database: SQL Server, My SQL.\n• API Tool: Postman\n• Data Visualization: Microsoft Power BI.I have enjoyed working with my colleagues and they have taught me the\nfollowing about myself:\n- I have served as a team contributor, so I'm extremely comfortable working in a team environment\n- I try to take advantage of every opportunity that comes my way.\n- I always look at this matter from a different point of view.\nRESPONSIBILITIES\nI’m a Technical Business Analyst with 5+ years of experience bridging business needs with system logic.\nI specialize in stakeholder engagement, process optimization, and system integration.\nKnown for quickly understanding business viewpoints and aligning with technical teams.\nI'm passionate about delivering high-impact solutions that improve efficiency, accuracy, and transparency across\norganizations.\nGKIM Digital\nFebruary 2024 - Present\nIT Business Analyst - Healthcare\n- Leveraged A.I to streamline tasks like research, flowcharts, mockups, test\ncase generation.\n- Collaborated with Technical and Database Managers to deliver scalable,\nefficient solutions that met evolving client requirements and minimized\nmigration risks.\n- Documented and coordinated external API specifications, ensuring\nconsistency, security, and usability for third-party integration.\n- Established Jira ticket standards, ensuring all functional and non-functional\nrequirements are well-documented and traceable throughout the project\nlifecycle.\n- Directed integration testing efforts in collaboration with stakeholders and\ncoordinated teams, validating API performance and data consistency.\n- Supported QA and development teams by validating complex business logic\nand data flows via MS SQL Server, promoting a data-driven approach.\n- Mentored and trained interns and junior BAs, promoting knowledge sharing\nand documentation best practices.\nWORK EXPERIENCE\n\nVIB - VIETNAM INTERNATIONAL\nBANK\nOct 2023 - March 2024\nIT Business Analyst specialist - Wholesale Digital Business Solutions (B2B)\nSystem enhancement: IBCorp (Website), IBAdmin, MyVIBCorp (Mobile),\nERP1.0, ERP 2.0, ERP RealtimeResponsibilities:\n- Responsible for communicating directly with Develop partner in the process of\nbuilding the system.\n- Modeling business processes and identifying process improvement\nopportunities.\n- Outlining business impacts and identifying issues, risks, and benefits of\nexisting and proposed solutions.\n- Support UAT testing and verify bug.\n- Ability to query and test database, API to make sure system run propriety.\n- Responsible for communicating and training directly with End users in the\nprocess of building the system and solving problems before and after Go-live\nthe system.\nPrudential Vietnam Assurance\nPrivate Ltd.\nAugust 2021 - September 2023\nIT Business Analyst - Insurance\n- System enhancement: PRUOnline (Website and Application),PRUDaily,\nPRUQuote, Pulse for OPs Responsibilities:\n- Working with Scrum master, QC, Dev to plan and report partner services\ndelivery and operations.\n- Analyzing data to create data models, reports, and optimize data flow.-\nDocumenting solutions (Acceptance Criteria, User Stories).Analyzing data in\norder to create reports, data models, and optimize data flow, such as master\ndata, transaction data, and so on.\n- Use Jira, Confluence to manage task and project.\n- Advice and align services delivery and operations excellence along the way.-\nAssisting with business transition and change implementation.\n- Design UX, wireframe, interview and training new partner, manage project\noverall.\nNICHIETSU SYSTEM\nDEVELOPMENT\nJanuary 2019 - July 2021\nIT Business Analyst - Outsourcing\nProjects handle: Property auction, Football and students management, Electricity\nmanagement, Human resource management system, Area management, Parking\nmanagement, Real estate retail, Smart lockers\nResponsibilities\n- Staying up-to-date on the latest process and advancements to automate and\nmodernize systems.\n- Documenting and communicating the results of your efforts.\n- Effectively communicating your insights and plans to cross-functional team\nmembers and management.\n- Gathering critical information from meetings with various stakeholders and\nproducing useful reports.\n- Providing leadership, training, coaching, and guidance to junior staff.\n- Ensuing solutions meet business needs and requirements.\n- Performing user acceptance testing\n- Managing projects, developing project plans, and monitoring performance.\nUpdating, implementing and maintaining procedures.\nACHIEVEMENTS\nVIB - VIETNAM INTERNATIONAL BANK\n- Go-live successfully ESB system, ERP 2.0, ERP Realtime, EVN Tool, Foreign currency trading, Guarantee online\nNICHIETSU SYSTEM DEVELOPMENT:\n- Gain Outstanding Employee 2022 of SoftVN Team prize\n- Successfully got acceptance of 4 project: Geniofut, YEV_MEAL TICKET, Chiyoda and PECC2\n- Deployed successfully system and device of YEV_MEAL TICKET project for over 2.000 employees\n- Received a lot of good feedback from customers using the system\n\n- All ongoing projects are on schedule and according to customers' requirements\n- Get many potential projects when working directly with customers\n- Successfully deployed and put into operation 50 smart lockers of RP project and 100 medical lockers of NUH project.\n- Successfully deployed Kiosk app and more than 150 smart locker using RFID bracelet at Nova world Ho Tram\nHo Chi Minh City University of\nForeign Languages and\nInformation Technology\n2017 - 2021\n- Degree Classification : Good\n- Information Systems\nBusiness Analysis Training\nCenter - BAC\nOctober 2021 - November 2021\nFUNDAMENTAL BUSINESS ANALYSIS\nImprove the knowledge of BA.\nBe a professional BA.\nBe oriented towards your BA occupation.\nBroaden your solid understanding of business analysis.\nIdentify your leverage points and BA experiences.\nBuild up your BA core skills.\nStart doing projects step by step as a Business Analyst.\nGet 36 hours of Professional Development (PD).\nTOEIC CERTIFICATE\n2020\nWITH SCORE 760 ISSUED\nBY IIG VIETNAM\nEDUCATION\n© topcv.vn",
          "file_name": "BA_TranQuocKiet.pdf",
          "id": "1wH6kXzs_qk8DbCyApRvhe6MNedpYjygX",
          "name": "BA_TranQuocKiet.pdf"
        },
        "binary": {}
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fn_Format1": {
      "main": [
        [
          {
            "node": "OpenAI Embedding1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embedding1": {
      "main": [
        [
          {
            "node": "Fn_Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert1": {
      "main": [
        []
      ]
    },
    "Fn_Info1": {
      "main": [
        [
          {
            "node": "Qdrant find",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Fn_Format1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Qdrant Upsert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant find": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "207cb517-8fa7-4418-8691-d61e0d817818",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df174d571e95541c805919aa88d99c6ff9e79e2c1ffc42837bb92614d24bb4eb"
  },
  "id": "M6MCspSjRG6YMg9X",
  "tags": []
}