workflow/HR-CV.json
{
  "name": "HR-CV",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "nhansu@ndsvn.vn",
        "toEmail": "={{ $json.output.Email }}",
        "subject": "=[NDS VIETNAM] Thank You for Your Application",
        "emailFormat": "both",
        "text": "=Dear {{ $json.output['Họ tên ứng viên']}},\nThank you very much for your interest in the {{ $json.output['Vị trí công việc'] }} position at NDS VIETNAM and for taking the time to submit your application. We truly appreciate the opportunity to review your profile.\n\nOur team will carefully review your CV and qualifications. Should your experience align with our current requirements, we will reach out to you within the next two weeks to discuss the next steps.\n\nIn the meantime, you are welcome to learn more about NDS VIETNAM and our mission to empower small businesses through technology by visiting our Website. You may also explore other career opportunities with us via our LinkedIn page\n\nThank you again for considering NDS VIETNAM as part of your career journey. We sincerely appreciate your interest and look forward to staying connected.\n\nBest regards, \nHR Department - NDS VIETNAM.",
        "html": "=Dear {{ $json.output['Họ tên ứng viên'] }},<br><br>\nThank you very much for your interest in the {{ $json.output['Vị trí công việc'] }} position at NDS VIETNAM and for taking the time to submit your application. We truly appreciate the opportunity to review your profile.<br><br>\n\nOur team will carefully review your CV and qualifications. Should your experience align with our current requirements, we will reach out to you within the next two weeks to discuss the next steps.<br><br>\n\nIn the meantime, you are welcome to learn more about NDS VIETNAM and our mission to empower small businesses through technology by visiting our <a href=\"https://ndsvn.vn/\">Website</a>. You may also explore other career opportunities with us via our <a href=\"https://www.linkedin.com/company/nds-vietnam-jsc/jobs/\">LinkedIn page</a>.<br><br>\n\nThank you again for considering NDS VIETNAM as part of your career journey. We sincerely appreciate your interest and look forward to staying connected.<br><br>\n\nBest regards,<br>\n<b>HR Department - NDS VIETNAM.</b>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        976,
        1056
      ],
      "id": "44a3eeda-6f50-4e37-ab6a-8038b782735d",
      "name": "Send email",
      "webhookId": "4bdd4260-2ed4-4223-b191-b2dba9c45132",
      "credentials": {
        "smtp": {
          "id": "YCqLHT8aOzZtR5VD",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        528,
        1056
      ],
      "id": "1ecd3d20-2ada-43e6-8f65-64eac740cb25",
      "name": "Final Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const binaryPropertyName = 'files';\nconst webhookBinary = $('Webhook').first().binary[binaryPropertyName];\n\nreturn [\n  {\n    json: {\n      ...items[0]?.json\n    },\n    binary: {\n      [binaryPropertyName]: webhookBinary\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        1248
      ],
      "id": "7f5708be-605c-4db4-ae42-1962ba7e629a",
      "name": "Restore Binary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07d36b1b-ab2d-4acb-8dc0-9df2a527c432",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        1168
      ],
      "id": "90981fa6-27a0-45b5-aa00-7cd65b58cc42",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "inputDataFieldName": "files",
        "name": "={{ $binary.files.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1-VbhdcV85fPQ0Q7veYapkYDHhcdIcN2K",
          "mode": "list",
          "cachedResultName": "experiment",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-VbhdcV85fPQ0Q7veYapkYDHhcdIcN2K"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        304,
        1248
      ],
      "id": "35a63b5e-52f4-4864-bb16-10a9fe21316f",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WYVzFJRawP8NpFab",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $binary.files.fileName }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1-VbhdcV85fPQ0Q7veYapkYDHhcdIcN2K",
            "mode": "list",
            "cachedResultName": "experiment",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1-VbhdcV85fPQ0Q7veYapkYDHhcdIcN2K"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -624,
        1168
      ],
      "id": "325da2e8-c22f-43de-9b52-2f2f02b7dfde",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WYVzFJRawP8NpFab",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 2500,
          "responseFormat": "json_object",
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        928
      ],
      "id": "682d7daa-81cc-4584-8ee0-abf53c531337",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "iCiSJp2rt9yhPy3g",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Helper to parse JSON from AI output\nfor (const item of items) {\n  const response = item.json.output || item.json.text || \"\";\n  \n  // Try to find JSON block between first { and last }\n  const start = response.indexOf('{');\n  const end = response.lastIndexOf('}');\n  \n  if (start !== -1 && end !== -1) {\n    try {\n      const jsonStr = response.substring(start, end + 1);\n      const data = JSON.parse(jsonStr);\n      \n      // Merge parsed data into item.json\n      Object.assign(item.json, data);\n      \n      // Remove raw output\n      delete item.json.output;\n      delete item.json.text;\n    } catch (e) {\n      item.json.error = \"Failed to parse JSON: \" + e.message;\n    }\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        704
      ],
      "id": "74c8fe53-654c-472b-b3a5-8e64c602c612",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        512
      ],
      "id": "a4c0e934-8623-44f2-9bb2-94768c435829",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CV Ứng viên:\n{{ $('candidate CV').item.json.resume_content }}\nBảng giới thiệu công việc (Job Description)\n{{ $('Webhook').item.json.body.jd }}",
        "options": {
          "systemMessage": "=Bạn là một chuyên gia tuyển dụng hàng đầu. Dựa vào CV của ứng viên và Mô tả công việc (JD), hãy đề xuất 10 câu hỏi phỏng vấn để đánh giá năng lực của ứng viên.\n\nYêu cầu cụ thể:\n1. 5 câu hỏi chuyên sâu về Kỹ năng chuyên môn (Hard Skills) liên quan trực tiếp đến yêu cầu công việc và kinh nghiệm của ứng viên.\n2. 5 câu hỏi về Kỹ năng mềm (Soft Skills) và cách xử lý tình huống (Situational/Behavioral questions).\n\nOutput trả về định dạng JSON như sau (không dùng markdown code block):\n{\n  \"technical_questions\": [\n    \"Câu 1\",\n    \"Câu 2\",\n    \"Câu 3\",\n    \"Câu 4\",\n    \"Câu 5\"\n  ],\n  \"soft_skill_questions\": [\n    \"Câu 1\",\n    \"Câu 2\",\n    \"Câu 3\",\n    \"Câu 4\",\n    \"Câu 5\"\n  ]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -400,
        704
      ],
      "id": "a66ff38c-5fdd-4cea-8470-a35822393278",
      "name": "AI Question",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 2500,
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        528
      ],
      "id": "020f0fb0-d292-4a04-b0df-5ccac14054d6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iCiSJp2rt9yhPy3g",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Họ tên ứng viên\": \"string\",\n  \"Email\": \"string\",\n  \"SĐT\": \"string\",\n  \"Vị trí công việc\": \"string\",\n  \"Số năm kinh nghiệm\": 0,\n  \"Mức độ phù hợp\": \"string\",\n  \"Tóm tắt\": \"string\",\n  \"Lý do chấm điểm\": \"string\",\n  \"Danh sách kỹ năng\": [\n    \"string\"\n  ],\n  \"Kỹ năng còn thiếu\": [\n    \"string\"\n  ],\n  \"Ưu điểm\": [\n    \"string\"\n  ],\n  \"Nhược điểm\": [\n    \"string\"\n  ],\n  \"Chi tiết điểm\": {\n    \"điểm kinh nghiệm\": 0,\n    \"điểm kỹ năng\": 0,\n    \"điểm học vấn\": 0,\n    \"điểm thành tích & tiềm năng\": 0\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        96,
        528
      ],
      "id": "c8935e65-e650-4620-aefe-005bfaca79a2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5a2dbf9-5ebb-4c64-bc35-0a120673a097",
              "leftValue": "={{ $json.text.trim() === \"\" }}",
              "rightValue": "\\n\\n",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -848,
        512
      ],
      "id": "a370460d-ba83-44de-abce-e8e0af4226c8",
      "name": "Check null",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        752,
        1056
      ],
      "id": "35de1734-e1c3-444a-b0f8-48186a05b1a9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CV Ứng viên:\n{{ $('candidate CV').item.json.resume_content }}\nBảng giới thiệu công việc (Job Description)\n{{ $('Webhook').item.json.body.jd }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Bạn là một hệ thống ATS chuyên nghiệp nhất thế giới dùng để đánh giá mức độ phù hợp của ứng viên với một yêu cầu công việc.\n\nNhiệm vụ của bạn:\n1. Phân tích thông tin CV ứng viên.\n2. Phân tích yêu cầu công việc (tập trung vào phần Yêu cầu được cung cấp).\n3. So khớp và chấm điểm theo thang điểm 100.\n4. Trích xuất các kỹ năng chuyên môn và kỹ năng mềm từ CV.\n5. Chỉ trả về đúng một JSON DUY NHẤT theo format quy định.\n\nFORMAT OUTPUT PHẢI TRẢ VỀ (BẮT BUỘC):\n\nLƯU Ý QUAN TRỌNG: \n- TRẢ VỀ JSON GỐC (FLAT OBJECT).\n- TUYỆT ĐỐI KHÔNG BỌC TRONG KEY 'output' HAY 'json'.\n- KHÔNG DÙNG MARKDOWN BLOCK (```).\n\n{\n  \"Họ tên ứng viên\": \"HỌ TÊN VIẾT IN HOA KHÔNG DẤU\",\n  \"Email\": \"email của ứng viên\",\n  \"SĐT\": \"số điện thoại (định dạng 090 - ...)\",\n  \"Vị trí công việc\": Vị trí công việc dựa vào {{ $('Webhook').item.json.body.jd }},\n  \"Số năm kinh nghiệm\": \"Số năm kinh nghiệm làm việc liên quan\",\n  \"Mức độ phù hợp\": \"Thấp | Trung bình | Cao | Cực kỳ phù hợp\",\n  \"Tóm tắt\": \"Viết đoạn tóm tắt chuyên nghiệp về ứng viên (độ dài khoảng 3 câu, 60-80 từ). Bắt buộc bao gồm đầy đủ: 1. Số năm kinh nghiệm và vai trò chính. 2. Các kỹ năng kỹ thuật (Hard Skills) và công nghệ nổi bật nhất. 3. Kỹ năng mềm hoặc thành tựu định lượng cụ thể. Văn phong trôi chảy, ấn tượng.\",\n  \"Lý do chấm điểm\": \"Nêu 1 điểm mạnh nhất và 1 điểm yếu/thiếu hụt chính ảnh hưởng đến điểm số. Viết súc tích, đi thẳng vào vấn đề. Tối đa 35 từ.\",\n  \"Danh sách kỹ năng\": [\n        \"Chỉ chứa các kỹ năng ĐÃ ĐƯỢC CHUẨN HÓA.\",\n        \"Tuyệt đối KHÔNG đưa vào các kỹ năng CV có mà JD không cần (Ví dụ: CV có 'Bơi lội', JD IT không cần -> Loại bỏ).\",\n        \"Định dạng mảng String JSON.\"\n      ],\n      \"Kỹ năng còn thiếu\": [\n        \"Chỉ liệt kê các kỹ năng BẮT BUỘC (Required) trong JD mà CV không đáp ứng.\",\n        \"Không liệt kê các kỹ năng phụ (Nice-to-have) vào đây.\",\n        \"Dùng tên chuẩn hóa (Ví dụ: ghi thiếu 'AI/Machine Learning' thay vì thiếu 'LLM').\"\n      ]\n  \"Ưu điểm\": [\"Ưu điểm 1\", \"Ưu điểm 2\", ...],\n  \"Nhược điểm\": [\"Nhược điểm 1\", \"Nhược điểm 2\", ...], Diễn đạt nhẹ nhàng, mang tính xây dựng.\n  \"Chi tiết điểm\": {\n    \"điểm kinh nghiệm\": 0-100,\n    \"điểm kỹ năng\": 0-100,\n    \"điểm học vấn\": 0-100,\n    \"điểm thành tích & tiềm năng\": 0-100\n  }\n}\n\nLƯU Ý QUAN TRỌNG VỀ FORMAT:\n1. Số điện thoại: Nếu có (+84) đổi thành 0. Định dạng bắt buộc: XXX - XXX - XXXX (Ví dụ: 090 - 123 - 4567).\n2. JSON phải hợp lệ, không chứa markdown thừa (như ```json).\n3. Logic xử lý kỹ năng:\n  Bước 1: Phân tích JD: Đọc JD để xác định danh sách các từ khóa kỹ năng (Keywords). Phân loại đâu là Kỹ năng Bắt buộc (Must-have/Required) và đâu là Lợi thế (Nice-to-have)\n  Bước 2: Chuẩn hóa từ khóa (Normalization rules): \nKhi trích xuất kỹ năng từ cả JD và CV, bắt buộc quy đổi các biến thể về TÊN GỌI CHUẨN (Canonical Name) theo quy tắc sau:\n   - QUY TRÌNH XỬ LÝ TRÙNG LẶP & CHUẨN HÓA (BẮT BUỘC):\n       + Bước 1: Thu thập tất cả từ khóa từ CV và JD.\n       + Bước 2: Rà soát & Gộp biến thể (Consolidate Variants):\n         * Nếu thấy các cặp từ giống nhau >80% (chỉ khác dấu câu, viết tắt): HỢP NHẤT về 1 tên chuẩn duy nhất.\n         * Ưu tiên dùng dấu gạch chéo `/` cho các công nghệ đi kèm nhau. (Vd: Chọn 'Agile/Scrum' thay vì 'Agile Scrum'; Chọn 'CI/CD' thay vì 'CI CD').\n         * Ưu tiên dùng dấu chấm `.` cho tên công cụ. (Vd: Chọn 'Draw.io' thay vì 'Draw io').\n         * Ưu tiên từ ngữ đầy đủ cho Soft Skills. (Vd: Chọn 'Problem Solving' thay vì 'Problem-solving').\n       + Bước 3: KIỂM TRA CHÉO (SELF-CORRECTION):\n         * Trước khi output, hãy tự hỏi: \"Trong danh sách này có 2 kỹ năng nào nói về cùng 1 thứ không?\". Nếu có -> XÓA 1 cái.\n         * VÍ DỤ SAI (BAD): [\"Agile Scrum\", \"Agile/Scrum\", \"AI\", \"AI/ML\"] -> Trùng lặp!\n         * VÍ DỤ ĐÚNG (GOOD): [\"Agile/Scrum\", \"AI/Machine Learning\"] -> Gọn gàng, chuẩn xác.\n       + Nguyên tắc chung: Thà liệt kê thiếu 1 biến thể phụ còn hơn liệt kê trùng lặp làm loãng báo cáo.\n\n  Bước 3: MATCHING: So sánh danh sách kỹ năng đã chuẩn hóa của CV với JD:\n    - MATCH: Nếu CV có kỹ năng khớp với JD (dù tên gọi khác nhau nhưng đã được chuẩn hóa về cùng 1 nhóm) -> Đưa vào 'Danh sách kỹ năng'.\n    - MISSING: Nếu JD yêu cầu BẮT BUỘC mà CV hoàn toàn không nhắc đến (hoặc không có kỹ năng tương đương trong nhóm) -> Đưa vào 'Kỹ năng còn thiếu'.\n\nTIÊU CHÍ CHẤM ĐIỂM (THANG 100 ĐIỂM)\n\nA. Điểm Kinh nghiệm (Tối đa 100 điểm)\n- Mục tiêu: Đánh giá độ sâu kinh nghiệm BA, đặc biệt là Product & AI.\n- 90-100 (Xuất sắc): >3 năm kinh nghiệm BA Product VÀ có dự án thực tế về AI/Data/Bán lẻ. Am hiểu sâu Agile/Scrum.\n- 75-89 (Giỏi): 2-3 năm kinh nghiệm BA Product, nắm vững quy trình Agile, tư duy sản phẩm tốt.\n- 60-74 (Khá): 1-2 năm kinh nghiệm BA, có kỹ năng phân tích cơ bản, hiểu Agile nhưng chưa sâu.\n- < 60 (Yếu): Dưới 1 năm hoặc kinh nghiệm không liên quan (Tester, Admin...).\n\nB. Điểm Kỹ năng (Technical & Tool) (Tối đa 100 điểm)\n- Mục tiêu: Đánh giá công cụ & khả năng thích ứng công nghệ mới.\n- 90-100: Thành thạo AI/LLM để tối ưu công việc + Có kinh nghiệm Automation (n8n, Zapier) + SQL tốt.\n- 75-89: Thành thạo Jira, Confluence, Figma, Draw.io, SQL cơ bản. Có tư duy UX/UI.\n- 60-74: Chỉ biết công cụ văn phòng và vẽ flowchart cơ bản. Chưa biết SQL hay các tool quản lý hiện đại.\n- < 60: Kỹ năng công cụ yếu.\n\nC. Điểm Học vấn (Tối đa 100 điểm)\n- 90-100: Đại học chuyên ngành CNTT, HTTT, Khoa học dữ liệu.\n- 70-89: Đại học ngành gần (Kinh tế, Kỹ thuật) + Có chứng chỉ BA uy tín / Hoặc Cao đẳng CNTT nhưng kinh nghiệm tốt.\n- < 70: Trái ngành, không có chứng chỉ liên quan.\n\nD. Điểm Thành tích & Tiềm năng (Growth Mindset) (Tối đa 100 điểm)\n- 90-100: Có chứng chỉ quốc tế (CBAP, CCBA, PSPO) HOẶC Blog chuyên môn/Dự án cá nhân Impressive.\n- 70-89: Có chứng chỉ cơ bản (ECBA...) hoặc thành tích học tập/công việc tốt (GPA Giỏi, Best Employee).\n- < 70: Không có thành tích nổi bật.\n\n*Lưu ý: CV trình bày cẩu thả, sai chính tả hoặc dài > 3 trang -> Trừ 10 điểm vào Tổng điểm.*\n\nYÊU CẦU BẮT BUỘC KHI TRẢ LỜI:\n- Ngôn ngữ: Tiếng Việt.\n- Trung thực: Không bịa thông tin.\n- Vai trò: Chuyên gia tuyển dụng khắt khe nhưng công bằng.\n\nDỮ LIỆU ĐẦU VÀO:\n- Mô tả công việc (JD): {{ $('Webhook').item.json.body.jd }}\n- CV Ứng viên: (Dữ liệu CV sẽ được cung cấp ngay sau đây)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -48,
        304
      ],
      "id": "8e0c7d6b-5540-42c1-aebe-1a9fe04d6322",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64113236-bf3e-4626-bd7a-04fc9d68f321",
              "name": "resume_content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        512
      ],
      "id": "29f3ebf6-e279-473d-8fc9-7a8c4c5bcee5",
      "name": "candidate CV"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64113236-bf3e-4626-bd7a-04fc9d68f321",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        640
      ],
      "id": "1acafe61-1757-4a7f-9632-d8917e8aff6f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1296,
        640
      ],
      "id": "e755c430-3d10-4832-8987-2b7b39d8fd3b",
      "name": "Lấy thông tin CV"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "score-cv",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1520,
        832
      ],
      "id": "5d39bf33-3db0-45a0-ad2d-bf9ad93fd59b",
      "name": "Webhook",
      "webhookId": "0949afcd-d432-47a0-b0e8-aab90ac6bd4f"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        1248
      ],
      "id": "5d2ad543-8f0c-495b-baeb-e90163055092",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "M6MCspSjRG6YMg9X",
          "mode": "list",
          "cachedResultUrl": "/workflow/M6MCspSjRG6YMg9X",
          "cachedResultName": "CV Processing LLM Pipeline (Final)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        752,
        1248
      ],
      "id": "4cf90d18-2acf-4e66-9e0d-84e1a5665ec8",
      "name": "Call 'CV Processing LLM Pipeline (Final)'"
    }
  ],
  "pinData": {},
  "connections": {
    "Final Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Binary": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Restore Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Final Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Final Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Question",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Question": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check null": {
      "main": [
        [],
        [
          {
            "node": "candidate CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candidate CV": {
      "main": [
        [
          {
            "node": "AI Question",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Check null",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy thông tin CV": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lấy thông tin CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call 'CV Processing LLM Pipeline (Final)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd9215ac-28e0-47b1-b56b-8a9496d20ae7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df174d571e95541c805919aa88d99c6ff9e79e2c1ffc42837bb92614d24bb4eb"
  },
  "id": "oQbvmXieQU8LvZLG",
  "tags": []
}