workflow/JD_Extraction.json
{
  "name": "JD_Extraction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jd-extraction1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7e7690c8-bd7a-46b0-8fa2-33623aa2a233",
      "name": "Webhook",
      "webhookId": "5dbbff36-a48f-4a0c-85d6-d4e924a5a19f"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        224
      ],
      "id": "c825834f-7812-49fa-884d-de6c1759b506",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xH06mHp5QmirxiW0",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Bạn là một trợ lý nhân sự (HR) chuyên nghiệp. Nhiệm vụ của bạn là trích xuất các yêu cầu quan trọng từ Bản mô tả công việc (JD) trong trường \"message\" của dữ liệu đầu vào.\n\nHãy trích xuất và trả về kết quả dưới dạng JSON (không markdown).\n\nCấu trúc JSON yêu cầu như sau (Lưu ý: technical_skills và soft_skills phải là danh sách các chuỗi văn bản):\n\n{{\n  \"job_requirements\": {{\n    \"technical_skills\": [\n      \"Tên kỹ năng 1 (Ví dụ: Java)\",\n      \"Tên kỹ năng 2 (Ví dụ: SQL)\",\n      \"Tên công cụ (Ví dụ: Jira)\"\n    ],\n    \"years_of_experience\": {{\n      \"min_years\": 2,\n      \"description\": \"Trích dẫn nguyên văn yêu cầu kinh nghiệm từ JD\"\n    }},\n    \"education\": {{\n      \"degree_level\": \"Ví dụ: Đại học\",\n      \"major\": \"Ví dụ: Công nghệ thông tin\",\n      \"certifications\": [\n        \"Tên chứng chỉ 1\",\n        \"Tên chứng chỉ 2\"\n      ]\n    }},\n    \"soft_skills\": [\n      \"Tên kỹ năng mềm 1 (Ví dụ: Giao tiếp)\",\n      \"Tên kỹ năng mềm 2 (Ví dụ: Làm việc nhóm)\"\n    ]\n  }}\n}}\n\nQUY TẮC QUAN TRỌNG:\n1. \"technical_skills\" và \"soft_skills\": Chỉ trả về mảng chứa các tên kỹ năng (Array of Strings). KHÔNG trả về mảng object.\n2. Bỏ qua các thông tin header, footer hoặc giới thiệu công ty, chỉ tập trung vào phần Yêu cầu công việc."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "7fa154af-1eca-4ad6-9af8-a4ebb5d89113",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "e87fcdb8-2b9f-49fa-a868-b3f733dddf1b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get Input\nconst inputString = items[0].json.output || items[0].json.message || '';\n\n// 2. Mapping\nconst keyMap = {\n  \"Kỹ năng cứng\": \"technical_skills\",\n  \"Kinh nghiệm\": \"Kinh nghiệm\",\n  \"Học vấn\": \"education\",\n  \"Kỹ năng mềm\": \"soft_skills\"\n};\n\n// 3. Logic\nconst lines = inputString.split('\\n');\nconst result = {\n    \"technical_skills\": [],\n    \"Kinh nghiệm\": [],\n    \"education\": [],\n    \"soft_skills\": []\n};\nlet currentKey = null;\n\nlines.forEach(line => {\n  const trimmedLine = line.trim();\n  if (!trimmedLine) return;\n\n  const headerMatch = trimmedLine.match(/^-\\s*(.+):$/);\n\n  if (headerMatch) {\n    const vnKey = headerMatch[1].trim();\n    currentKey = keyMap[vnKey];\n  } \n  else if ((trimmedLine.startsWith('+') || trimmedLine.startsWith('-')) && currentKey) {\n    const content = trimmedLine.replace(/^[\\+\\-]\\s*/, '').trim();\n    if (content) {\n        if (!result[currentKey]) {\n             result[currentKey] = [];\n        }\n        result[currentKey].push(content);\n    }\n  }\n});\n\nreturn [{\n  json: result\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        0
      ],
      "id": "8b7856a7-33fb-43e6-ae88-00c61376a00e",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3e1e118-3361-4485-97e3-b6726db84232",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df174d571e95541c805919aa88d99c6ff9e79e2c1ffc42837bb92614d24bb4eb"
  },
  "id": "qNjJM0MknrIA8N0F",
  "tags": []
}