workflow/JD_Extraction.json
{
  "name": "JD_Extraction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jd-extraction",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        576,
        -320
      ],
      "id": "6ad81866-baf3-4d4d-881a-c9abde7da57a",
      "name": "Webhook",
      "webhookId": "5dbbff36-a48f-4a0c-85d6-d4e924a5a19f"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        808,
        -96
      ],
      "id": "a75ad03b-4c98-478a-8e0c-46db96d91b19",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iCiSJp2rt9yhPy3g",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Bạn là một trợ lý nhân sự (HR) chuyên nghiệp. Nhiệm vụ của bạn là trích xuất các yêu cầu quan trọng từ Bản mô tả công việc (JD) được cung cấp.\n\nHãy tập trung vào:\n1. Kỹ năng chuyên môn (Technical Skills)\n2. Số năm kinh nghiệm\n3. Học vấn / Bằng cấp\n4. Kỹ năng mềm (Soft Skills)\n\nĐịnh dạng kết quả trả về dưới dạng JSON (Bắt buộc), cấu trúc như sau:\n\n{\n  \"job_requirements\": {\n    \"technical_skills\": [\n      \"string\",\n      \"string\"\n    ],\n    \"years_of_experience\": {\n      \"min_years\": \"number (hoặc null)\",\n      \"description\": \"string\"\n    },\n    \"education\": {\n      \"degree_level\": \"string\",\n      \"major\": \"string\",\n      \"certifications\": [\n        \"string\"\n      ]\n    },\n    \"soft_skills\": [\n      \"string\",\n      \"string\"\n    ]\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        800,
        -320
      ],
      "id": "0d19f812-f799-41ff-8eaa-ab910d1714ec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { output: $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1152,
        -320
      ],
      "id": "fa00d3fc-191a-4c35-98d5-7f23365479e0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"job_requirements\": {\n    \"technical_skills\": [\n      \"string\",\n      \"string\"\n    ],\n    \"years_of_experience\": {\n      \"min_years\": \"X\",\n      \"description\": \"string\"\n    },\n    \"education\": {\n      \"degree_level\": \"string\",\n      \"major\": \"string\",\n      \"certifications\": [\n        \"string\"\n      ]\n    },\n    \"soft_skills\": [\n      \"string\",\n      \"string\"\n    ]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        976,
        -112
      ],
      "id": "f1641cb8-7efb-467e-b451-af635e896c91",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "06696833-9a98-4937-b6b5-7aeaed26590f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df174d571e95541c805919aa88d99c6ff9e79e2c1ffc42837bb92614d24bb4eb"
  },
  "id": "SuvlgKtk51BfKMIn",
  "tags": []
}