workflow/JD_Extraction.json
{
  "name": "JD_Extraction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jd-extraction",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "9ebb1f36-091b-4a68-ac3f-39611bc20016",
      "name": "Webhook",
      "webhookId": "5dbbff36-a48f-4a0c-85d6-d4e924a5a19f"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        224
      ],
      "id": "54294c7e-9da5-4cef-bff4-7c0ef6c262b0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iCiSJp2rt9yhPy3g",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Bạn là một trợ lý nhân sự (HR) chuyên nghiệp. Nhiệm vụ của bạn là trích xuất các yêu cầu quan trọng từ Bản mô tả công việc (JD). Trả về kết quả dưới dạng JSON dựa trên cấu trúc được cung cấp. Bỏ qua các phần giới thiệu công ty hoặc các thông tin không phải yêu cầu công việc. Trích xuất chính xác."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        260,
        0
      ],
      "id": "3b28f260-b35c-4b36-b177-3cca2d06a366",
      "name": "Information Extraction Builder"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "18ee652e-f5df-4061-8684-702297512416",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"job_position\": \"string (Tên vị trí công việc, VD: Business Analyst)\",\n  \"technical_skills\": [\n    \"string (Danh sách kỹ năng chuyên môn và công cụ, VD: Java, SQL)\"\n  ],\n  \"years_of_experience\": {\n    \"min_years\": \"number (Số năm kinh nghiệm tối thiểu)\",\n    \"description\": \"string (Trích dẫn nguyên văn yêu cầu kinh nghiệm)\"\n  },\n  \"education\": {\n    \"degree_level\": \"string (VD: Đại học, Cao đẳng)\",\n    \"major\": \"string (Chuyên ngành)\",\n    \"certifications\": [\n      \"string (Các chứng chỉ yêu cầu)\"\n    ]\n  },\n  \"soft_skills\": [\n    \"string (Danh sách kỹ năng mềm)\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        240,
        240
      ],
      "id": "f05b9679-b1d7-46e3-98eb-843de419e123",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "\n// Get the output from the LLM Chain\nconst extracted = items[0].json.text || items[0].json.output || items[0].json; \ntry {\n   const parsed = typeof extracted === 'string' ? JSON.parse(extracted) : extracted;\n   return [{ json: parsed }];\n} catch(e) {\n   // Fallback slightly formatting if it's string but not fully JSON, though structured output parser handles this\n   const cleanStr = extracted.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n   return [{ json: JSON.parse(cleanStr) }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "fb12a9e2-ab33-4f93-b1d5-bc102319f321",
      "name": "Format JSON"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8ndev.your-company.com",
            "x-real-ip": "10.86.101.254",
            "x-forwarded-for": "120.72.85.170, 10.86.101.254",
            "x-forwarded-proto": "https",
            "content-length": "6060",
            "accept": "*/*",
            "accept-language": "*",
            "accept-encoding": "gzip, br",
            "user-agent": "node",
            "cf-ray": "9d2c4ddaffa3882e-HKG",
            "sec-fetch-mode": "cors",
            "x-n8n-api-key": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0OWM5ZWY3NS1hNDhiLTRlY2MtYWQ3Yy1iZjhkZWY2OGMwMjIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY1Nzg3MDE1fQ.MeNahheSlEqEyfK2u4jO9EVB7HG5qsq7KCVXtXHoEU8",
            "content-type": "application/json",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "120.72.85.170",
            "cf-ipcountry": "VN",
            "cf-visitor": "{\"scheme\":\"https\"}"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "Bạn là một trợ lý tuyển dụng chuyên nghiệp. Nhiệm vụ của bạn là trích xuất các yêu cầu/kỹ năng/tiêu chuẩn quan trọng từ Bản Mô Tả Công Việc (JD) dưới đây.\nHãy bỏ qua phần giới thiệu công ty, quyền lợi và các thủ tục hành chính.\nChỉ tập trung vào những gì yêu cầu ở ứng viên (số năm kinh nghiệm, kỹ năng cứng, kỹ năng mềm, học vấn, ngoại ngữ).\n\nĐịnh dạng kết quả dưới dạng danh sách gạch đầu dòng rõ ràng bằng TIẾNG VIỆT.\n\nNội dung JD:\n\n\n\n\nJob Title: Business Analyst (Junior/Middle) \n\nDepartment: Production of AI \n\nLevel: Junior/Middle \n\nLocation: Ho Chi Minh City \n\nReport to: Product Manager\n\nCompany: Your Company JSC\n\nVề Your Company: \n\nYour Company phát triển các nền tảng bonbon shop, visibilityPRO, và deliveryPRO — giải  pháp công nghệ giúp cửa hàng tạp hoá, nhà thuốc, hộ kinh doanh và nhà sản xuất quản lý – kết  nối – phát triển kinh doanh hiệu quả hơn. \n\nChúng tôi là đơn vị tiên phong ứng dụng AI trong đánh giá trưng bày và tối ưu hiệu quả bán hàng, đồng thời tích hợp nhiều công nghệ tự động hóa để mang đến trải nghiệm tối ưu cho khách hàng.\n\nTại Your Company, chúng tôi tin rằng công nghệ không chỉ dành cho các tập đoàn lớn, mà còn phải giúp hàng triệu người kinh doanh nhỏ trở nên chuyên nghiệp và bền vững.\n\nTìm hiểu thêm thông tin về chúng tôi tại website: https://your-company.com/ \n\nVai trò của vị trí:\n\nBusiness Analyst (Junior/Middle) sẽ làm việc trực tiếp với khách hàng và các phòng ban nội bộ để phân tích yêu cầu, phối hợp xây dựng giải pháp và hỗ trợ phát triển sản phẩm, đồng thời tham gia chuyển giao sản phẩm và hỗ trợ vận hành hệ thống khi có yêu cầu. \n\nNhiệm vụ chính:\n\n1. Tham gia phát triển sản phẩm của Công ty\n\nTham gia đầy đủ vào vòng đời sản phẩm: khảo sát, phân tích, thiết kế, triển khai và nghiệm thu.\n\nĐề xuất và đánh giá các tính năng mới dựa trên nhu cầu khách hàng và mục tiêu kinh doanh.\n\nHỗ trợ PO xây dựng roadmap, xác định ưu tiên và phạm vi tính năng.\n\nPhối hợp chặt chẽ với Dev/QA/UX để đảm bảo sản phẩm được phát triển đúng và hiệu quả.\n\nTheo dõi hiệu quả sau triển khai, thu thập phản hồi và đề xuất cải tiến liên tục.\n\n2. Tham gia triển khai dự án cho khách hàng\n\nLàm việc với khách hàng để thu thập yêu cầu, phân tích bài toán nghiệp vụ và đề xuất giải pháp phù hợp.\n\nPhân tích và mô hình hóa quy trình nghiệp vụ, xây dựng wireframe, prototype trên Figma.\n\nPhối hợp với Product Owner, UX/UI, Dev và QA để đảm bảo yêu cầu được hiểu đúng và triển khai chính xác.\n\nThực hiện kiểm thử UAT, hỗ trợ khách hàng nghiệm thu và theo dõi phản hồi để cải thiện sản phẩm.\n\n3. Viết tài liệu đặc tả cho sản phẩm và dự án\n\nViết tài liệu nghiệp vụ (BRD, SRS, User Story, Flow…); sử dụng LLM/AI để chuẩn hóa, kiểm tra logic và tối ưu nội dung.\n\nChuyển giao và hỗ trợ đội phát triển trong quá trình phát triển tính năng của sản phẩm và dự án.\n\n4. Các hoạt động khác\n\nHỗ trợ phân tích yêu cầu cho giai đoạn Pre-sales với khách hàng\n\nThực hiện một số công việc khác khi có yêu cầu của cấp trên.\n\nTham gia hỗ trợ khách hàng vận hành hệ thống \n\n\n\nYêu cầu: \n\n\n\nTốt nghiệp Cao đẳng/Đại học chuyên ngành CNTT, Hệ thống thông tin hoặc các ngành liên quan.\n\nTừ 2-3 năm kinh nghiệm BA trong công ty Product, ưu tiên có kinh nghiệm với sản phẩm ứng dụng AI trong lĩnh vực Bán lẻ/Phân phối.\n\nHiểu rõ và có kinh nghiệm làm việc theo mô hình Agile/Scrum.\n\nCó khả năng làm việc trực tiếp với khách hàng và phối hợp hiệu quả với các bên liên quan.\n\nSử dụng thành thạo Figma, Draw.io, và các công cụ quản lý dự án như Jira, Confluence.\n\nThành thạo sử dụng AI/LLM (ChatGPT, Claude, Gemini…) để phân tích yêu cầu, viết tài liệu, làm rõ user story và hỗ trợ ra quyết định.\n\nCó khả năng ứng dụng AI để tự động hóa quy trình, kết hợp với n8n, Zapier hoặc các công cụ tương tự.\n\nCó tư duy phát triển sản phẩm theo hướng Product mindset: tập trung vào giá trị mang lại cho người dùng, hiệu quả dài hạn và liên tục tối ưu trải nghiệm\n\nKỹ năng trình bày, giao tiếp và giải quyết vấn đề rõ ràng, hiệu quả.\n\nQuyền lợi: \n\nMức lương cạnh tranh theo năng lực và kinh nghiệm.\n\nPhụ cấp cơm trưa, lương tháng 13, thưởng lễ Tết và thưởng hiệu quả theo kết quả kinh doanh.\n\nĐầy đủ chế độ BHXH, BHYT, BHTN theo quy định pháp luật.\n\nTeambuilding hằng năm, các sự kiện nội bộ và sinh nhật hàng tháng.\n\nMôi trường làm việc mở, sáng tạo, khuyến khích đóng góp ý tưởng.\n\nCơ hội tham gia trực tiếp vào các quyết định chiến lược và định hướng sản phẩm.\n\nVăn phòng thoải mái, năng động, có snack và nước uống miễn phí.\n\n\n\nĐịa điểm làm việc: 42/2 Nguyễn Văn Trỗi, Phường Cầu Kiệu, TP.HCM\n\nThời gian làm việc: Thứ 2 - Thứ 6, 8:00 AM - 5:00 PM \n\nCách thức ứng tuyển:  Ứng viên quan tâm vui lòng gửi CV đến email: thao.pham@your-company.com (Ms Thảo) - Tiêu đề: [Họ tên_Vị trí ứng tuyển]"
          },
          "webhookUrl": "https://n8ndev.your-company.com/webhook/jd-extraction",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Information Extraction Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extraction Builder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Information Extraction Builder",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Information Extraction Builder": {
      "main": [
        [
          {
            "node": "Format JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format JSON": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "537b9a89-f2b5-4bfd-aea0-3cfde6bb299d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df174d571e95541c805919aa88d99c6ff9e79e2c1ffc42837bb92614d24bb4eb"
  },
  "id": "SuvlgKtk51BfKMIn",
  "tags": []
}