workflow/n8n_email_automation.json
{
    "name": "Automated Email Candidates",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "trigger-email",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "webhookId": "candidate-status-webhook"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.status }}",
                                        "rightValue": "shortlisted",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Shortlisted"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.status }}",
                                        "rightValue": "rejected",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Rejected"
                        }
                    ]
                }
            },
            "id": "switch-node",
            "name": "Switch Status",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "sendTo": "={{ $json.body.email }}",
                "subject": "Mời phỏng vấn - {{ $json.body.role || 'Business Analyst' }}",
                "message": "Chào {{ $json.body.name }},\n\nChúc mừng bạn! Hồ sơ của bạn đã gây ấn tượng mạnh với chúng tôi.\n\nChúng tôi trân trọng mời bạn tham gia buổi phỏng vấn cho vị trí {{ $json.body.role || 'Business Analyst' }}.\n\nHR sẽ liên hệ chi tiết qua điện thoại sớm.\n\nTrân trọng,\nRecruitment Team",
                "emailType": "text"
            },
            "id": "email-shortlisted",
            "name": "Email Shortlisted",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                460,
                -100
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "sendTo": "={{ $json.body.email }}",
                "subject": "Thông báo kết quả hồ sơ",
                "message": "Chào {{ $json.body.name }},\n\nCảm ơn bạn đã quan tâm đến vị trí {{ $json.body.role || 'Business Analyst' }}.\n\nSau khi xem xét kỹ lưỡng, chúng tôi rất tiếc phải thông báo rằng hồ sơ của bạn chưa phù hợp với nhu cầu hiện tại của chúng tôi.\n\nChúng tôi đã lưu hồ sơ của bạn vào Talent Pool và sẽ liên hệ lại khi có cơ hội phù hợp.\n\nChúc bạn sớm tìm được công việc như ý!\n\nTrân trọng,\nRecruitment Team",
                "emailType": "text"
            },
            "id": "email-rejected",
            "name": "Email Rejected",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                460,
                100
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "",
                    "name": "Gmail account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Switch Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Status": {
            "main": [
                [
                    {
                        "node": "Email Shortlisted",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Email Rejected",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}