n8n_workflow_refactored.json
{
    "name": "CV Processing LLM Pipeline (Final)",
    "nodes": [
        {
            "parameters": {},
            "id": "trigger-node",
            "name": "When clicking ‘Execute workflow’",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "searchMethod": "query",
                "returnAll": true,
                "filter": {
                    "folderId": {
                        "__rl": true,
                        "value": "14D4unjml76bPfmemHRwkHEzgYDl8R2Ac",
                        "mode": "list"
                    }
                }
            },
            "id": "list-files-node",
            "name": "List CV Files",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                220,
                0
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "odrG1GwjSHygCdQb",
                    "name": "Google Drive account 4"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "split-batches-node",
            "name": "Loop Files",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "operation": "download",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $json.id }}",
                    "mode": "id"
                },
                "options": {
                    "binaryPropertyName": "data"
                }
            },
            "id": "download-file-node",
            "name": "Download CV",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                660,
                0
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "odrG1GwjSHygCdQb",
                    "name": "Google Drive account 4"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.name }}",
                                        "rightValue": "docx",
                                        "operator": {
                                            "type": "string",
                                            "operation": "contains"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Word"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.name }}",
                                        "rightValue": "pdf",
                                        "operator": {
                                            "type": "string",
                                            "operation": "contains"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "PDF"
                        }
                    ]
                }
            },
            "id": "switch-node",
            "name": "Check Format",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [
                880,
                0
            ]
        },
        {
            "parameters": {
                "operation": "pdf",
                "binaryPropertyName": "data"
            },
            "id": "pdf-extract-node",
            "name": "Extract PDF",
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1,
            "position": [
                1100,
                100
            ]
        },
        {
            "parameters": {
                "binaryPropertyName": "data",
                "destinationOutputField": "text"
            },
            "id": "docx-extract-node",
            "name": "Extract DOCX",
            "type": "n8n-nodes-docx-converter.docxToText",
            "typeVersion": 1,
            "position": [
                1100,
                -100
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4o-mini"
                },
                "messages": {
                    "values": [
                        {
                            "content": "=Bạn là chuyên gia phân tích CV. Hãy trích xuất văn bản dưới đây thành format JSON. \n\nInput Text:\n{{ $json.text }}\n\nOutput JSON schema:\n{\n  \"contact_info\": { \"name\": \"\", \"email\": \"\", \"phone\": \"\" },\n  \"skills\": [ \"skill1\", \"skill2\" ],\n  \"experience\": [ { \"company\": \"\", \"role\": \"\", \"duration\": \"\", \"description\": \"\" } ],\n  \"education\": [ { \"school\": \"\", \"details\": \"\" } ],\n  \"summary\": \"\"\n}\n\nChỉ trả về JSON thuần, không markdown."
                        }
                    ]
                }
            },
            "id": "llm-extract-node",
            "name": "LLM Structure Data",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                1380,
                0
            ],
            "credentials": {
                "openAiApi": {
                    "id": "cnW6yERErYSFG3vg",
                    "name": "OpenAi account 4"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const inputItem = $input.item.json;\n// Lấy content từ LLM node\nconst content = inputItem.message ? inputItem.message.content : (inputItem.content || JSON.stringify(inputItem));\n\n// Clean markdown block nếu có\nconst jsonString = content.replace(/^```json/, '').replace(/```$/, '').trim();\n\nlet data = {};\ntry {\n  data = JSON.parse(jsonString);\n} catch (e) {\n  data = { error: \"Failed to parse JSON\", raw: content };\n}\n\nconst points = [];\n// Hàm tạo UUID\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst candidateId = uuid();\nconst timestamp = new Date().toISOString();\nconst candidateName = data.contact_info?.name || 'Unknown';\n\n// ⚡ 1. Tách Skills\nif (data.skills && data.skills.length > 0) {\n  const skillText = data.skills.join(', ');\n  points.push({\n    id: uuid(),\n    text: `Skills: ${skillText}`,\n    metadata: {\n      type: 'skill',\n      candidate_id: candidateId,\n      candidate_name: candidateName,\n      content: skillText,\n      imported_at: timestamp\n    }\n  });\n}\n\n// ⚡ 2. Tách Experience\nif (data.experience && Array.isArray(data.experience)) {\n  data.experience.forEach((exp, idx) => {\n    const text = `Role: ${exp.role} at ${exp.company}. ${exp.description}`;\n    points.push({\n      id: uuid(),\n      text: text,\n      metadata: {\n        type: 'experience',\n        candidate_id: candidateId,\n        candidate_name: candidateName,\n        company: exp.company,\n        role: exp.role,\n        content: exp.description,\n        index: idx,\n        imported_at: timestamp\n      }\n    });\n  });\n}\n\n// ⚡ 3. Tách Summary\nconst summaryText = `Candidate Summary: ${data.summary || ''}.`;\npoints.push({\n  id: uuid(),\n  text: summaryText,\n  metadata: {\n    type: 'summary',\n    candidate_id: candidateId,\n    candidate_name: candidateName,\n    content: data.summary,\n    education: JSON.stringify(data.education || []),\n    imported_at: timestamp\n  }\n});\n\n// Return các items để node Embedding xử lý\nreturn points.map(p => ({\n  json: p\n}));"
            },
            "id": "35ba52f5-cf89-48b9-8de0-a329ca935678",
            "name": "Fn_Format",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1600,
                0
            ]
        },
        {
            "parameters": {
                "model": "text-embedding-3-small",
                "text": "={{ $json.text }}"
            },
            "id": "embedding-node",
            "name": "OpenAI Embedding",
            "type": "n8n-nodes-base.openAiEmbedding",
            "typeVersion": 1,
            "position": [
                1820,
                0
            ],
            "credentials": {
                "openAiApi": {
                    "id": "cnW6yERErYSFG3vg",
                    "name": "OpenAi account 4"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Merge Vector từ Embedding Node + Metadata từ Fn_Format Node\nconst fmtItems = $items('Fn_Format');\nconst embItems = $items('OpenAI Embedding');\n\nconst points = [];\n\nfor (let i = 0; i < fmtItems.length; i++) {\n  const f = fmtItems[i].json;\n  const e = embItems[i].json;\n \n  // f chứa id, text, metadata\n  // e chứa embedding\n\n  // Check khớp\n  // (n8n thường chạy tuần tự 1-1 nếu không có batching phức tạp)\n  \n  if (e.embedding) {\n     points.push({\n       id: f.id,\n       vector: e.embedding,\n       payload: f.metadata\n     });\n  }\n}\n\n// Trả về format chuẩn cho node Qdrant\nreturn [\n  {\n    json: { points }\n  }\n];"
            },
            "id": "6c407757-3f23-4a6a-ad54-681869370d0f",
            "name": "Fn_Info",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2040,
                0
            ]
        },
        {
            "parameters": {
                "operation": "upsert",
                "collection": {
                    "__rl": true,
                    "value": "CV_COLLECTION",
                    "mode": "list",
                    "cachedResultName": "CV_COLLECTION"
                },
                "points": "={{ $json.points }}"
            },
            "id": "qdrant-node",
            "name": "Qdrant Upsert",
            "type": "n8n-nodes-base.qdrant",
            "typeVersion": 1,
            "position": [
                2260,
                0
            ],
            "credentials": {
                "qdrantApi": {
                    "id": "",
                    "name": "Please Select Credentials"
                }
            }
        }
    ],
    "connections": {
        "When clicking ‘Execute workflow’": {
            "main": [
                [
                    {
                        "node": "List CV Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "List CV Files": {
            "main": [
                [
                    {
                        "node": "Loop Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Files": {
            "main": [
                [],
                [
                    {
                        "node": "Download CV",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download CV": {
            "main": [
                [
                    {
                        "node": "Check Format",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Format": {
            "main": [
                [
                    {
                        "node": "Extract DOCX",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Extract PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract PDF": {
            "main": [
                [
                    {
                        "node": "LLM Structure Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract DOCX": {
            "main": [
                [
                    {
                        "node": "LLM Structure Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LLM Structure Data": {
            "main": [
                [
                    {
                        "node": "Fn_Format",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fn_Format": {
            "main": [
                [
                    {
                        "node": "OpenAI Embedding",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Embedding": {
            "main": [
                [
                    {
                        "node": "Fn_Info",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fn_Info": {
            "main": [
                [
                    {
                        "node": "Qdrant Upsert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Qdrant Upsert": {
            "main": [
                [
                    {
                        "node": "Loop Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}